.change-password
	form(action="").data-form 
		._body
			._title Сменить пароль
			._column
				._line
					label(for="old-password")._lebel Введите старый&nbsp;пароль:
					._input
						input.input(id='old-password', autocomplete="off", type="text", name="old-password")
				._line
					label(for="new-password")._lebel Введите новый&nbsp;пароль
					._input
						input.input(id="new-password", autocomplete="off", type="text", name="new-password", enterkeyhint="next")
				._line
					label(for="repeat-password")._lebel Повторите новый пароль
					._input
						input.input(id="repeat-password", autocomplete="off", type="text", name="repeat-password", enterkeyhint="next")
				._line
						button(type="submit")._button сохранить