.ure-personal-data
	form(action="").data-form 
		._body
			._title Персональные данные
			._column
				._line
					label(for="ure-data-company")._lebel Название организации:
					._input
						input.input(id='ure-data-company', autocomplete="off", type="text", name="company")
				._line
					label(for="ure-data-contactname")._lebel Ф.И.О. контактного&nbsp;лица:
					._input
						input.input(id='ure-data-contactname', autocomplete="off", type="text", name="contactname")
				._line
					label(for="reg-data-inn")._lebel ИНН:
					._input
						input.input(id="reg-data-inn", autocomplete="off", type="text", name="inn", enterkeyhint="next")
				._line
					label(for="reg-data-kpp")._lebel КПП:
					._input
						input.input(id="reg-data-kpp", autocomplete="off", type="text", name="kpp", enterkeyhint="next")
				._line
					label(for="reg-data-ogrn")._lebel ОГРН:
					._input
						input.input(id="reg-data-ogrn", autocomplete="off", type="text", name="ogrn", enterkeyhint="next")
				._line
					label(for="reg-data-actual-address")._lebel Юридический адрес:
					._input
						input.input(id="reg-data-actual-address", autocomplete="off", type="text", name="actual-address", enterkeyhint="next")
				._line
					label(for="reg-data-ure-address")._lebel Фактический адрес:
					._input
						input.input(id="reg-data-ure-address", autocomplete="off", type="text", name="ure-address", enterkeyhint="next")
			._column
				._line
					label(for="ure-data-email")._lebel Эл.почта:
					._input
						input.input(id="ure-data-email", autocomplete="off", type="text", name="email")
				._line
					label(for="ure-data-index")._lebel Индекс:
					._input
						input.input(id="ure-data-index", autocomplete="off", type="text", name="index-city") 
				._line
					label(for="ure-data-city")._lebel Город:
					._input
						input.input(id="ure-data-city", autocomplete="off", type="text", name="city")
				._line
					label(for="ure-data-phone")._lebel Телефон:
					._input
						input.input(id='ure-data-phone', autocomplete="off", type="text", name="phone")
			._title Банковские реквизиты
			._column
				._line
					label(for="ure-data-bik")._lebel Бик:
					._input
						input.input(id="ure-data-bik", autocomplete="off", type="text", name="bik")
				._line
					label(for="ure-data-bank")._lebel Банк:
					._input
						input.input(id="ure-data-bank", autocomplete="off", type="text", name="bank-name")
				._line
					label(for="ure-data-payment-account")._lebel Расчетный счет:
					._input
						input.input(id="ure-data-payment-account", autocomplete="off", type="text", name="payment-account")
				._line
					label(for="ure-data-corr-account")._lebel Корреспондентский счет:
					._input
						input.input(id="ure-data-corr-account", autocomplete="off", type="text", name="corr-account")
