.favourites-product.page__favourites
	._title 
		.title-text Избранное 
	._content
		._column
			.card-product
				._thumb
					._image
						img(src="./img/main/products/product-1.png", alt="картинка")
				._content
					._text 
						h2 Морепродукты
					._button 
						a(href="./products-card.html")
							span смотреть 
		._column
			.card-product
				._thumb
					._image 
						img(src="./img/main/products/product-2.png", alt="картинка")
				._content
					._text 
						h2 Бакалея
					._button 
						a(href="")
							span смотреть
		._column
			.card-product
				._thumb
					._image
						img(src="./img/main/products/product-3.png", alt="картинка")
				._content
					._text 
						h2 Молочная продукция
					._button 
						a(href="")
							span смотреть
		._column
			.card-product
				._thumb
					._image 
						img(src="./img/main/products/product-4.png", alt="картинка")
				._content
					._text 
						h2 Для барбекю
					._button 
						a(href="")
							span смотреть
		._column
			.card-product
				._thumb
					._image 
						img(src="./img/main/products/product-5.png", alt="картинка")
				._content
					._text 
						h2 Напитки
					._button 
						a(href="")
							span смотреть
		._column
			.card-product
				._thumb
					._image
						img(src="./img/main/products/product-6.png", alt="картинка")
				._content
					._text 
						h2 HoReCa
					._button 
						a(href="")
							span смотреть
		._column
			.card-product
				._thumb
					._image 
						img(src="./img/main/products/product-7.png", alt="картинка")
				._content
					._text 
						h2 Яйцо
					._button 
						a(href="")
							span смотреть
		._column
			.card-product
				._thumb
					._image 
						img(src="@@webRoot/img/main/products/product-8.png", alt="картинка")
				._content
					._text 
						h2 Овощи и фрукты
					._button 
						a(href="")
							span смотреть
