.user-discount
	._head Ваша персональная скидка составляет 10%
	._info 
		._column
			._item У вас накоплено 
				span#bonuses 100 
				| бонусов
			._item Доступных к списанию 
				span#available-bonuses 50 
				| бонусов 
		._column
			p 1 бонус = 1 рублю, ими можно оплатить до 30% от стоимости товара. При оформлении заказа укажите-списать их для оплаты или оставить копить дальше.


	._text-content
		h2 Скидки, бонусы
		h3 1. Разовые скидки от общей суммы покупок:
		ul 
			li на сумму 5 000 руб. и более, скидка 3 %
			li на сумму 10 000 руб. и более, скидка 5%
			li на сумму 20 000 руб. и более, скидка 10%
		h3 2. Закрепленная постоянная скидка:
		p Доступна только зарегистрированным пользователям. Покупателю предоставляется постоянная скидка, устанавливаемая по результатам общей суммы совершенных ранее покупок.
		ul
			li при достижении суммы оплат 5 000 руб., устанавливается скидка 3 %
			li при достижении суммы оплат 10 000 руб., устанавливается скидка 5 %
			li при достижении суммы оплат 20 000 руб., устанавливается скидка 10%
		h3 3. Начисление и оплата бонусами.
		p Зарегистрированным покупателем при покупке начисляются бонусы, в размере 3 % от суммы покупки, с учетом скидок.
		br
		span 1 Бонус = 1 Рубль. 
		br
		p Оплатить покупку бонусами можно в размере 30 % от итоговой стоимости суммы покупки, с учетом скидок. Активация бонусов происходит через 14 дней, со дня совершения покупки.
		p Бонусы на сумму, оплаченную бонусами не начисляются.
		p Ранее начисленные бонусы при возврате товара сторнируются (вычитаются из суммы начисленных).
		p Бонусы начисляются в целых рублях с округлением по математическим правилам.
		p Бонусы проходят три стадии своего существования:
		ul
			li Начисление
			li Активация
			li Списание
		p Активация – это зачисление ранее начисленных бонусов на бонусный счет клиента:
			ul 
				li С момента активации бонусы видны на личном счете клиента и доступны для оплаты покупок.
		p Списание – это частичная оплата покупаемого товара бонусами и соответствующее уменьшение количества бонусов на счёте клиента:
		ul
			li Списание бонусов идёт по правилу 1 бонус = 1 рубль скидки
			li Оплата бонусами оформляется как дополнительная скидка на товары
		h3 4. Действуют индивидуальные скидки для крупных покупателей, швейных производств, ателье.





