.toggle-button {
	padding: 10px 6px;
	overflow: hidden;
	background: $color;
	height: 36px;
	width: 36px;
	cursor: pointer;
	border-radius: 5px;

	@include _min-768 {
		display: none;
	}

	&__toggle-menu {
		cursor: pointer;
		position: relative;
		width: 100%;
		height: 100%;

		span {
			opacity: 1;
			left: 0;
			display: block;
			width: 100%;
			height: 2px;
			border-radius: 2px;
			background-color: $bg-color;
			position: absolute;
			transform: rotate(0deg);
			transition: 0.4s ease-in-out;

			&:nth-child(2) {
				top: 7px;
			}
			&:nth-child(3) {
				top: 14px;
			}
		}
		&._open {
			span {
				&:nth-child(1) {
					transform: scale(1.088) translateY(7px) rotate(135deg);
				}
				&:nth-child(2) {
					opacity: 0;
					transform: translateX(-60px);
				}
				&:nth-child(3) {
					transform: scale(1.088) translateY(-6px) rotate(-135deg);
				}
			}
		}
	}
}
