/* Стили для модального окна */
.login-modal {
	padding: 3.2rem 4.5rem;
	position: absolute;
	width: 300px;
	top: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0; /* Начальная прозрачность */
	transform: translate(0, 20%);
	border: 1px solid $color-border;
	background: $bg-color;
	border-radius: 10px;
	z-index: 9;
	transition: all 0.5s ease; /* Плавный переход */
	pointer-events: none;
	box-shadow: 1px 1px 5px #000;

	@include _screen-960 {
		right: 0;
	}

	/* Стили для модального контента */
	&._show {
		transform: translate(0, 0);
		pointer-events: all;
		opacity: 1;
	}

	&__modal-content {
		position: relative;
		border-radius: 10px;
		transition: transform 0.4s ease; /* Плавный переход для трансформации */
		// transform: translateY(-100px); /* Начальная позиция */
	}

	&__input {
		display: flex;
		align-items: center;
		display: flex;
		width: 100%;
		border: 1px solid $color-border;
		border-radius: 5px;
		margin-bottom: 2rem;
		input {
			width: 100%;
			height: 32px;
			padding-left: 0.5rem;
		}
	}

	&__label {
		font-size: 14px;
		padding-left: 0.5rem;
	}

	&__close {
		position: absolute;
		top: -15px;
		right: -35px;
		font-size: 20px;
		color: $color-border;
	}

	&__form {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__close:hover,
	&__close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}

	&__button-login {
		padding: 1rem 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		background-color: $color;
		border-radius: 10px;
		color: $bg-color;
		margin-bottom: 2rem;
	}

	&__recovery {
		padding: 1rem 0;
		width: 100%;
		border-radius: 10px;
		border: 1px solid $color-border;
	}
}

/* Стили для кнопки закрытия */
.recovery-modal {
	position: absolute;
	top: 48px;
	padding: 3.2rem 2.5rem;
	opacity: 0; /* Начальная прозрачность */
	transform: translate(0, 20%);
	border: 1px solid $color-border;
	background: $bg-color;
	border-radius: 10px;
	z-index: 9;
	transition: all 0.5s ease; /* Плавный переход */
	pointer-events: none;
	max-width: 400px;

	box-shadow: 1px 1px 5px #000;
	@include _min-690 {
		// min-width: 390px;
	}

	@include _screen-960 {
		right: 0;
	}

	&._show {
		transform: translate(0, 0);
		pointer-events: all;
		opacity: 1;
	}

	&__modal-content {
		position: relative;
		transition: transform 0.5s ease; /* Плавный переход для трансформации */
		// transform: translateY(-100px); /* Начальная позиция */
	}
	&__title {
		margin-bottom: 2rem;
		text-wrap: pretty;
	}

	&__input {
		display: flex;
		align-items: center;
		width: 100%;
		display: flex;
		margin-bottom: 2rem;

		input {
			padding-left: 0.5rem;
			border: 1px solid $color-border;
			border-radius: 5px;
			height: 32px;
			width: 100%;
		}
	}

	&__form {
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	&__label {
		font-size: 1.4rem;
		padding-right: 1rem;
	}

	&__close {
		position: absolute;
		top: -20px;
		right: -13px;
		font-size: 20px;
		color: $color-border;
	}

	&__close:hover,
	&__close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}

	&__title {
		position: relative;
		display: flex;
		font-size: 13px;
	}

	&__button-recovery {
		padding: 1rem 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		background-color: $color;
		border-radius: 10px;
		color: $bg-color;
	}
}

.registrations-modal {
	margin: 0 auto;
	position: absolute;
	top: 48px;
	padding: 3.2rem 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0; /* Начальная прозрачность */
	transform: translate(0, 20%);
	border: 1px solid $color-border;
	background: $bg-color;
	border-radius: 10px;
	z-index: 9;
	transition: all 0.5s ease; /* Плавный переход */
	pointer-events: none;
	width: 300px;

	box-shadow: 1px 1px 5px #000;
	@include _screen-960 {
		right: 0;
	}
	&._show {
		transform: translate(0, 0);
		pointer-events: all;
		opacity: 1;
	}

	&__modal-content {
		width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		transition: transform 0.5s ease; /* Плавный переход для трансформации */
		// transform: translateY(-100px); /* Начальная позиция */
	}

	&__box {
		width: 100%;
	}

	&__button-private-person {
		display: block;
		height: 32px;
		border: 1px solid $color-border;
		border-radius: 5px;
		margin-bottom: 2rem;
	}

	&__button-corporate-person {
		display: block;
		height: 32px;
		border: 1px solid $color-border;
		border-radius: 5px;
	}
}
