.search-container {
	display: flex;
	justify-content: flex-end;
	width: 100%;

	// .search-container__form
	&__form {
		position: relative;
		border: 1px solid $bg-color;
		width: auto;
		padding: 0 3rem 0 1.8rem;
		border-radius: 3.3rem;

		width: 100%;
		@include _screen-690 {
			width: 100%;
		}

		.icon-search {
			color: $bg-color;
		}
		@include flex-align-center;
	}
}

.search-form {
	transition: all 0.2s ease-in-out;
	&:active {
		box-shadow: 0px 0px 5px rgb(78, 78, 78);
	}
	// .search-form__input
	&__input {
		input {
			color: $bg-color;
			line-height: 120%;
			padding: 4.4px 0;
			width: 20rem;
			transition: all 0.3s ease-in-out;
			&::placeholder {
				color: $bg-color;
			}
			@include _min-690 {
				&:focus {
					width: 24.5rem;
				}
			}
		}
	}

	// .search-form__button
	&__button {
		position: absolute;
		right: 1rem;
	}
}
