.sidebar-menu {
	// .sidebar-menu__login
	&__login {
		position: relative;
		margin-bottom: 20px;
		border: 1px solid $color;
		border-radius: 10px;
		padding: 2rem 1rem;
		display: flex;
		justify-content: center;

		.recovery-modal,
		.login-modal,
		.registrations-modal {
			top: 55px;
		}
	}

	// .sidebar-menu__body
	&__body {
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}

	// .sidebar-menu__content
	&__content {
		flex: 1 1 auto;
		display: flex;
		height: 100%;
		flex-direction: column;
	}

	// .sidebar-menu__menu
	&__menu {
		border: 1px solid $color;
		border-radius: 10px;
	}
	// .sidebar-menu__search
	&__search {
		padding: 15px 0;
		// display: flex;
		// flex-direction: column;
		// flex: 1 1 auto;
	}

	// .sidebar-menu__button-close
	&__button-close {
		font-size: 28px;
		color: $color;
		position: absolute;
		right: 0;
		top: 10px;
	}

	// .sidebar-menu__footer
	&__footer {
		height: 50px;
		width: 100%;
		background: $color;
		border-radius: 10px;
		@include flex-align-center;
		padding: 0 2rem;
	}
}

.networks-brend {
	height: 50px;
	width: 100%;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;

	[class*='icon-'] {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		font-size: 2.2rem;
		color: #004646;
		background: #fbf9f4;
		transition: all 0.4s ease-in-out;
	}

	&__icon {
		width: 32px;
		height: 32px;

		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
}

.menu-side-bar {
	// .menu-side-bar__list
	&__list {
		padding: 3rem;
		display: inline-flex;
		flex-direction: column;
	}

	// .menu-side-bar__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	// .menu-side-bar__link
	&__link {
		font-size: 1.6rem;
		font-weight: 600;
		color: #000000ea;
		&:hover {
			text-decoration: underline;
		}
	}
}
