.products-card {
	// .products-card__navigation
	&__navigation {
		padding: 1rem 2rem;
		display: flex;
		align-items: center;
		justify-content: space-between;

		._icon {
			font-size: 18px;
			font-weight: 700;
		}
	}

	// .products-card__button
	&__button {
		max-width: 135px;
		transition: color 0.3s ease-in-out;
		color: #949494;
		&:hover {
			color: $color;
		}

		&._close-button {
			width: 30px;
			height: 30px;
			display: flex;
			justify-content: center;
		}
	}

	// .products-card__link
	&__link {
		display: flex;
		align-items: center;

		span {
			margin-left: 1rem;
			font-size: 13px;
			font-weight: 500;
			line-height: 108.333333%; /* 13px/12 */
		}
	}

	// .products-card__content
	&__content {
		display: flex;
		gap: 4rem;
		@include _screen-960 {
			gap: 1rem;
		}
		@include _screen-768 {
			flex-direction: column;
		}
	}

	// .products-card__column
	&__column {
		&:nth-child(1) {
			flex: 1 1 40%;
			overflow: hidden;
			@include _screen-1440 {
				flex: 1 1 50%;
			}
		}

		&:nth-child(2) {
			padding: 10px 10px;
			display: flex;
			position: relative;
			flex: 1 1 60%;
			gap: 1.5rem;

			@include _screen-1440 {
				flex: 1 1 50%;
			}

			@include _768-1440 {
				flex-direction: column-reverse;
			}

			@include _screen-490 {
				flex-direction: column-reverse;
			}
		}
	}

	// .products-card__card-brand
	&__card-brand {
		flex: 0 1 200px;

		gap: 2rem;
		height: 100%;
		max-height: 90px;

		@include _min-768 {
			padding-right: 2rem;
		}
		@include _screen-1440 {
			display: inline-flex;
			align-items: flex-start;
			justify-content: space-between;
		}
		@include _490-768 {
			flex-direction: column;

			padding-top: 12px;
		}
	}

	// .products-card__slide
	&__slide {
		padding: 10px 10px 2.5px 10px;
	}

	// .products-card__thumb
	&__thumb {
		max-width: 100%;
		padding: 2.5px 10px 10px 10px;
	}

	// .products-card__description
	&__description {
		@include _min-490 {
			padding: 22px 65px 22px 10px;
		}

		@include _screen-490 {
			padding: 22px 10px;
		}
	}

	// .products-card__title
	&__title {
		margin-bottom: 15px;
		color: rgb(88, 88, 86);
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 120%; /* 30px/25 */
	}

	// .products-card__text
	&__text {
		p {
			text-wrap: pretty;
		}
		&:not(:last-child) {
			margin-bottom: 33px;
		}

		&:last-child {
			p {
				margin-bottom: 0 !important;
				line-height: 140.428571%; /* 17px/14 */
			}
		}

		p {
			font-size: 1.4rem;
			font-weight: 400;
			line-height: 140.428571%; /* 17px/14 */

			&:not(:last-child) {
				margin-bottom: 1.5rem;
			}
		}
	}
}

.product-slide {
	position: relative;

	// .product-slide__prev
	&__prev {
		left: 0;
		margin-left: 10px;
	}

	// .product-slide__next
	&__next {
		right: 0;
		margin-right: 10px;
	}

	&__prev,
	&__next {
		z-index: 9;
		top: 50%;
		position: absolute;
		transform: translateY(-50%);

		.icon-angle-left {
			&::before {
				width: 20px;
				text-align: left;
			}
		}

		.icon-angle-right {
			&::before {
				width: 20px;
				text-align: right;
			}
		}
		._icon {
			color: #58585694;
			font-size: 40px;
			font-weight: 300;
		}
	}

	// .product-slide__slide
	&__slide {
		border-radius: 26.35px;
		box-shadow: 0px 0px 5px 7px #f7f7f7;
	}

	// .product-slide__card
	&__card {
		display: flex;
		justify-content: center;
		height: 100%;

		img {
			opacity: 0.5;
			transition: opacity 1.5s ease-in-out;
		}

		&.swiper-slide-active {
			img {
				opacity: 1;
			}
		}
	}
	.swiper-wrapper {
		align-items: center;
		height: 100%;
	}
}

.thumb-slide {
	// .thumb-slide__card
	&__card {
		cursor: pointer;
		border-radius: 8.56px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0px 0px 5px 7px #f7f7f7;

		&.swiper-slide {
			border: 2px solid #ffffff00;

			img {
				transition: opacity 0.3s ease-in-out;
				opacity: 0.5;
				height: 95px;
				width: 100%;
			}
		}

		&.swiper-slide-thumb-active {
			&.swiper-slide {
				border: 2px solid #a8343418;

				img {
					opacity: 1;
				}
			}
		}
	}
}

.brand-card {
	&__brand {
		max-width: 200px;
		position: relative;
		margin-bottom: 22px;

		img {
			border-radius: 8.74px;
			position: relative;
			background: #fff;
			z-index: 9;
			width: 200px;
			max-width: 100%;
		}
		.card__blur {
			background: #7b7b7b49;
			filter: blur(8px);
		}
	}

	&__text {
		font-size: 14px;
		font-weight: 400;
		line-height: 121.428571%; /* 17px/14 */
		margin-bottom: 5px;
	}

	&__delivery {
		max-width: 200px;
		position: relative;

		img {
			max-width: 100%;
		}
	}
}

.products-info {
	flex: 1 1 auto;

	// .products-info__body
	&__body {
		max-width: 51.5rem;
		padding: 1.5rem 0;
	}

	// .product-info__header
	&__header {
		.card {
			// max-width: 315px;
		}
		.card__button {
			width: 150px !important;
			flex: 0 1 150px;
		}
		.card__counter {
			flex: 0 1 137px;
			width: 137px !important;
		}
	}

	// .products-info__name
	&__name {
		font-size: 14px;
		font-weight: 700;
		line-height: 121.428571%; /* 17px/14 */
	}

	// .products-info__title
	&__title {
		padding: 27px 0 20px;
		font-size: 14px;
		font-weight: 700;
		line-height: 121.428571%; /* 17px/14 */
	}

	// .products-info__article-number
	&__article-number {
		font-size: 11px;
		font-weight: 400;
		line-height: 118.181818%; /* 13px/11 */
	}

	// .products-info__product-name
	&__product-name {
		margin-bottom: 30px;
		color: #585856;
		font-family: Inter;
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 120%; /* 30px/25 */
	}

	// .products-info__specifications
	&__specifications {
		display: flex;
		justify-content: space-between;
	}

	// .products-info__table-head
	&__table-head {
		margin-bottom: 10px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	// .products-info__condition
	&__condition {
		display: flex;
		align-items: center;
		span {
			color: $color;
			font-size: 14px;
			font-weight: 700;
			line-height: 121.428571%; /* 17px/14 */
		}
	}

	// .products-info__stock
	&__stock {
		display: none;
	}

	// .products-info__price
	&__price {
		max-width: 137px;
		margin-bottom: 12px;
		display: flex;
		justify-content: space-between;
	}

	&__new-price {
		color: $color;
		font-size: 14px;
		font-weight: 700;
		line-height: 121.428571%; /* 17px/14 */
	}

	&__old-price {
		text-decoration: line-through;
		color: #b7b7b9;
		font-size: 14px;
		font-weight: 700;
		line-height: 121.428571%; /* 17px/14 */
	}

	// .products-info__line
	&__line {
		white-space: nowrap;
		font-family: Inter;
		font-size: 14px;
		font-weight: 400;
		line-height: 100%; /* 17px/17 */
		text-align: left;

		@include _screen-490 {
			font-size: 12px;
		}

		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}
}

.card {
	display: flex;
	justify-content: space-between;

	// .card__buttons
	&__buttons {
		width: 100%;
		margin-bottom: 3px;
	}

	// .card__button
	&__button {
		display: flex;
		justify-content: center;
		width: 144px;
	}
}
