.page-info {
	// .page__main-content

	&__information {
		position: relative;
		display: flex;
		gap: 3rem;
		margin-bottom: 8.9rem;
		@include _690 {
			gap: 0;
		}
	}

	// .page-info__title
	&__title {
		color: $color;
		margin-bottom: 3rem;
		h1 {
			font-size: 3rem;
			text-transform: uppercase;
			@include _425 {
				text-align: center;
				font-size: 2.2rem;
			}
		}
	}
}

.side-info {
	// .sidebar-menu__menu
	&__info {
		&._open {
			transform: translateX(0);
			background: $bg-color;
			width: 25.4rem;
			.icon {
				opacity: 0.7;
			}
		}
		@include _690 {
			position: fixed;
			justify-content: space-between;
			top: 20rem;
			background: #cfcfcf;
			transition: all 0.5s ease-in-out;
			transform: translateX(-100%);
		}

		display: flex;
		width: 25.4rem;
		min-height: 50rem;
		border: 1px solid #000000d5;
		border-radius: 10px;
		position: sticky;
		top: 15.2rem;
		background: $bg-color;
		@include _690 {
			height: 50rem;
		}
	}

	// .sidebar-menu__button
	&__button {
		position: relative;
		width: 20px;
		flex: 0 0 20px;
		@include _690 {
			border-left: 1px dotted #00000080;
		}

		.icon {
			transition: opacity 0.4s ease-in-out;
			position: absolute;
			height: 10px;
			width: 10px;
			top: 10px;
			left: 4px;
			opacity: 0;
			color: $color;
		}
	}

	// .sidebar-menu__list
	&__list {
		overflow-x: hidden;
		width: 100%;
		flex: 0 1 auto;
		padding: 2.8rem 2rem;
		scrollbar-width: none;
	}

	// .sidebar-menu__list-item
	&__list-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 3rem;

		.icon {
			color: $color;
		}
	}
	// .sidebar-menu__link
	&__link {
		transition: all 0.5s ease 0s;
		width: 100%;
		&:hover {
			color: $color;
			text-decoration: underline;
		}
	}
}

.information-work {
	flex: 0 1 auto;

	// .information-work__heading
	&__heading {
		margin-bottom: 1rem;
		h2 {
			font-size: 2.4rem;
			color: $color;
			font-weight: 500;
			line-height: 170%;
		}
	}

	// .information-work__body
	&__body {
		display: flex;
		flex-direction: column;
	}

	// .information-work__section

	&__section {
		border: 1px solid #000000d5;
		border-radius: 10px;
		padding: 2.8rem 2rem;
		&:not(:last-child) {
			margin-bottom: 3.5rem;
		}
	}

	// .information-work__title
	&__title {
		font-weight: 600;
		margin-bottom: 1rem;
	}

	// .information-work__text

	&__text {
		p {
			line-height: 150%;
			span {
				font-weight: 700;
				margin-right: 0.5rem;
			}
		}
		h4 {
			font-weight: 600;
			margin-bottom: 1rem;
			line-height: 150%;
		}
		li {
			line-height: 150%;
			list-style-type: disc;
			margin-left: 3rem;
		}
		ul {
			list-style-type: disc;
			margin: 1rem 0;
		}
	}
}
