.greed-laout {
	grid-template-columns:
		1fr
		minmax(25rem, min-content)
		minmax(18rem, min-content)
		minmax(9rem, min-content)
		50px;

	@include _screen-1440 {
		grid-template-columns:
			1fr
			minmax(18rem, min-content)
			minmax(11rem, min-content)
			minmax(9rem, min-content)
			50px;
	}
	@include _screen-960 {
		grid-template-columns:
			1fr
			minmax(25rem, min-content)
			minmax(13rem, min-content)
			minmax(9rem, min-content)
			30px;
	}
	@include _screen-690 {
		grid-template-columns:
			minmax(20rem, min-content)
			minmax(13rem, min-content)
			minmax(9rem, min-content)
			30px;
	}
	@include _screen-490 {
		grid-template-columns:
			minmax(18rem, min-content)
			minmax(7rem, min-content)
			minmax(4rem, min-content)
			30px;
	}
}

.cart-page {
	// .cart-page__title
	&__title {
		margin-bottom: 5rem;
		text-transform: uppercase;

		color: $color;
		font-size: 3.5rem;

		@include _screen-425 {
			font-size: 2.3rem;
		}
	}

	// .cart-page__body
	&__body {
		gap: 2.5rem;
		display: flex;

		@include _screen-960 {
			flex-direction: column;
		}
	}

	// .cart-page__column
	&__column {
		&:nth-child(n + 1):nth-child(-n + 4) {
			padding: 0 1rem;
		}

		&:nth-child(5) {
			text-align: center;
		}
	}

	// .cart-page__table-head
	&__table-head {
		display: grid;
		gap: 0.8rem;
		justify-content: space-between;
		align-items: center;
		height: 5rem;
		border: 1px solid $color;
		border-radius: 5px;
		margin-bottom: 2rem;
		font-weight: 700;
		@extend.greed-laout;

		@include _screen-690 {
			display: none;
		}
	}

	// .cart-page__help-order
	&__help-order {
		@include _min-920 {
			flex: 0 0 28.3rem;
		}
	}

	// .cart-page__user-order
	&__user-order {
		flex: 1 1 auto;
	}

	// .cart-page__button
	&__button {
		transition: color 0.3s ease-in-out;
		&:hover {
			color: $color;
		}
	}
}

.help-order {
	@include _screen-920 {
		display: flex;
		gap: 2rem;
	}
	@include _screen-490 {
		flex-direction: column;
	}

	// .help-order__info
	&__info {
		padding: 1.8rem;
		text-align: center;
		border: 1px solid $color;
		border-radius: 10px;
		flex: 0 1 28.3rem;

		@include _min-920 {
			&:not(:last-child) {
				margin-bottom: 3.4rem;
			}
		}

		@include _screen-920 {
			display: flex;
			flex-direction: column;
			flex: 0 1 50%;
		}
	}

	&__title {
		padding-bottom: 2rem;
		font-size: 1.8rem;

		@include _screen-920 {
			display: flex;
			flex-direction: column;
			flex: 1 1 100%;
			height: 100%;
		}
	}

	// .help-order__text
	&__text {
		font-size: 13px;
		margin-bottom: 1.6rem;
		@include _screen-375 {
			font-size: 12px;
		}

		p {
			margin-bottom: 0.5rem;
		}
		span {
			font-weight: 700;
		}
	}

	// .help-order__phone
	&__phone {
		font-size: 2rem;
		font-weight: 500;
	}
}

.order-place {
	// .order-place__send-order
	&__send-order {
		margin-bottom: 2rem;
		padding: 0 0.5rem;
		&._send-order {
			.order-place__send-button {
				display: block;
			}
		}
	}

	// .order-place__column
	&__column {
		flex: 0 1 auto;
		&:nth-child(2) {
			@include _min-690 {
				flex: 0 1 300px;
			}
		}
	}

	// .order-place__footer
	&__footer {
		display: flex;
		gap: 2rem;
		align-items: flex-end;
		justify-content: space-between;
		@include _screen-690 {
			flex-direction: column-reverse;
		}
	}

	// .order-place__column--login
	&__column--login {
		.login-container {
			position: relative;

			.registrations-modal {
				top: 50px;
				left: 0;
				margin-right: -120px;
				@include _screen-490 {
					width: 100%;
				}
			}

			.recovery-modal {
				top: 50px;
				left: 0;
				@include _screen-490 {
					width: 100%;
				}
			}

			.login-modal {
				top: 50px;
				left: 0;
				@include _screen-490 {
					width: 100%;
				}
			}

			// .login-container__discounts
			&__discounts {
				font-weight: 700;
				white-space: nowrap;
			}

			// .login-container__column--result
			&__column--result {
				width: 100%;
				display: flex;
				justify-content: flex-end;
			}
			// .login-container__list
			&__list {
				font-size: 1.5rem;
				width: auto;
			}

			// .login-container__fade-in
			&__fade-in {
				@include _screen-490 {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 1rem 2rem;
					background: #fff;
					border: 1px solid $color;
					border-radius: 5px;
					height: 50px;
					width: 100%;
					position: absolute;
					opacity: 0;
					z-index: 8;
					top: 0;
					left: 0;
					pointer-events: none;
					box-shadow: 1px 1px 3px #000;
					transition: all 0.5s ease-in-out;

					&._visible {
						pointer-events: all;
						transform: translatey(102%);
						opacity: 1;
						display: flex;
					}
				}
			}

			// .login-container__user-button
			&__user-button {
				pointer-events: none;
				@include _screen-490 {
					pointer-events: all;
				}
			}
		}
	}

	// .order-place__column--button
	&__column--button {
		display: grid;
		grid-template-columns: 1fr;
		@include _screen-490 {
			width: 100%;
		}
	}

	// .order-place__checkbox
	&__checkbox {
		padding-top: 0.8rem;
		display: flex;
		flex-direction: row-reverse;
		display: none;
		justify-self: end;
	}

	// .order-place__info
	&__info {
		p {
			line-height: 170%;
			font-size: 1.3rem;
		}
		@include _min-690 {
			max-width: 60rem;
		}
	}

	// .order-place__form-button
	&__form-button {
		width: 200px;
		height: 32px;
		color: $bg-color;
		font-size: 1.4rem;
		padding: 0.9rem 3rem;
		border-radius: 16px;
		background: $color;
		justify-self: end;

		@include _screen-490 {
			width: 100%;
		}
	}

	// .order-place__send-button
	&__send-button {
		display: none;
		width: 200px;
		height: 32px;
		color: #fbf9f4;
		font-size: 1.4rem;
		padding: 0.9rem 3rem;
		border-radius: 16px;
		background: $color;
		justify-self: end;
		@include _screen-490 {
			width: 100%;
		}
	}

	&__send-button--maiking-order {
		display: block;
	}
}

.shopping-cart {
	// .shopping-cart__item
	&__item {
		display: flex;
		flex-direction: column;
	}

	// .shopping-cart__row
	&__row {
		display: grid;
		gap: 0.8rem;
		justify-content: space-between;
		align-items: center;

		border: 1px solid #d3d3d3;
		border-radius: 5px;
		margin-bottom: 2rem;
		@extend.greed-laout;

		@include _screen-690 {
			row-gap: 4rem;
			padding-bottom: 2rem;
		}
	}
}

.product-cart {
	// .product-cart__column
	&__column {
		font-size: 13px;
		@include _screen-690 {
			font-size: 12px;
		}
		&:nth-child(n + 1):nth-child(-n + 4) {
			padding: 0 1rem;
		}
		&:nth-child(1) {
			@include _screen-690 {
				grid-column: 1 / 4;
			}
		}

		&:nth-child(3) {
			@include _screen-690 {
				justify-self: center;
				align-self: end;
			}
		}

		&:nth-child(4) {
			@include _screen-690 {
				grid-column: -3 / -1;
				justify-self: center;
				align-self: end;
			}
		}

		&:nth-child(5) {
			padding: 1.5rem 0;
			text-align: center;
			align-self: start;

			@include _screen-690 {
				grid-row: -1 / -2;
				grid-column: 4 / 5;
			}
		}
	}

	// .product-cart__product-info
	&__product-info {
		display: flex;
		align-items: center;
	}

	// .product-cart__image
	&__image {
		min-width: 9rem;
		@include _screen-690 {
			min-width: 1rem;
			height: 100%;
		}

		img {
			width: 9rem;
			max-width: 100%;
		}
	}

	// .product-cart__description
	&__description {
		padding: 1rem;
	}

	// .product-cart__price
	&__price {
		display: flex;
		align-items: center;
	}

	// .product-cart__units
	&__units {
		white-space: nowrap;
		margin-left: 5px;

		@include _screen-375 {
			display: block;
		}
	}

	// .product-cart__quantity-price
	&__quantity-price {
		font-weight: 550;
	}

	// .product-cart__button
	&__button {
		transition: color 0.3s ease-in-out;

		&:hover {
			color: $color;
		}

		i {
			pointer-events: none;
		}
	}
}
