.news-company {
	// .news-company__title
	&__title {
		text-align: center;
		h2 {
			color: #585856;
			font-size: 3.5rem;
			font-weight: 700;
			line-height: 42px;
			span {
				color: $color;
			}
			@include _screen-375 {
				font-size: 3rem;
			}
		}
	}

	// .news-company__content

	&__content {
		overflow-x: auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		gap: 2rem;
		padding: 5.2rem 0 5.6rem;
	}

	// .news-company__column

	&__column {
		min-width: 217px;
		flex: 0 1 35rem;
		max-width: 35rem;
		border-radius: 15px;
		background-color: #fff;
		box-shadow: 3px 3px 15px #acacace5;
	}

	// .news-company__footer
	&__footer {
		@include flex-justify-center;
	}

	// .news-company__button
	&__button {
		width: 173px;

		a {
			border-radius: 10px;
			border: 1px solid rgb(0, 0, 0);
			display: block;
			padding: 10px 0;
			color: rgb(0, 0, 0);
			font-size: 1.4rem;
			font-weight: 400;
			text-align: center;
			line-height: 121.428571%; /* 17px/14 */
			transition:
				color 0.3s,
				background-color 0.3s ease-in-out;
			&:hover {
				color: $bg-color;
				background-color: $color;
				border: 1px solid $color;
			}
		}
	}
}

.card {
	// .card__image
	&__image {
		display: flex;
		align-items: center;
		height: 100%;
		width: 100%;

		img {
			object-fit: cover;
			vertical-align: bottom;
		}
	}

	// .card__content
	&__content {
		padding: 30px 14px;
		display: flex;
		flex-direction: column;
	}

	// .card__data
	&__data {
		margin-bottom: 4px;
	}

	// .card__text
	&__text {
	}
}
