.info-map {
	// .info-map__body
	&__body {
		position: relative;
		border-radius: 15px;
		box-shadow: 10px 15px 30px #acacac6b;
	}

	&__title {
		margin-bottom: 3.8rem;
		color: rgb(88, 88, 86);
		font-size: 3.5rem;
		font-weight: 700;
		line-height: 120%; /* 42px/35 */
		text-align: center;

		@include _screen-375 {
			font-size: 3rem;
		}
	}

	// .info-map__content
	&__content {
		display: flex;
		justify-content: center;
	}

	// .info-mqp__column
	&__column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 0 15px;
	}

	// .info-map__image
	&__image {
		border-radius: 10px;

		img {
			height: 100%;
			object-fit: contain;
			max-width: 100%;
		}
	}
}
