.personal-account {
	// .personal-account__title
	&__title {
		width: 100%;
		font-size: 3rem;
		margin-bottom: 2.6rem;
		text-transform: uppercase;
		color: $color;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include _screen-425 {
			font-size: 2.3rem;
		}
	}

	// .personal-account__body
	&__body {
		display: flex;
		gap: 3rem;
	}

	// .personal-account__column
	&__column {
		padding: 3rem 2rem;
		border-radius: 10px;
		border: 1px solid $color;
		background: $bg-color;

		&:nth-child(1) {
			flex: 0 1 255px;

			@include _screen-920 {
				border: none;
				box-shadow: 1px 1px 7px #0000008c;
				position: fixed;
				top: 110px;
				z-index: 10;
				height: calc(100% - 110px);
				transform: translateX(-110%);
				transition: all 0.5s ease 0s;
				&._opened-menu {
					transform: translateX(-5%);
				}
			}
			@include _screen-768 {
				border-radius: 0;
				top: 58px;
				height: calc(100% - 58px);
			}
		}

		&:nth-child(2) {
			flex: 1 1 auto;
			@include _screen-960 {
				padding: 3rem 1rem;
			}
		}
	}

	// .personal-account__sidebar-menu
	&__sidebar-menu {
		@include _screen-960 {
			height: 100%;
			// width: 250px;
		}
		@include _min-960 {
			// min-width: 150px;
		}
	}
}

.user-bar {
	// .user-bar__user-name
	&__user-name {
		display: flex;
		align-items: center;
		margin-bottom: 3.8rem;
		font-weight: 700;

		span {
			white-space: nowrap;
		}

		.icon-user-check {
			font-size: 18px;
			margin-right: 7px;
		}
	}

	// .user-bar__list
	&__list {
		li {
			border-bottom: 1px solid $color;
		}
	}

	// .user-bar__item
	&__item {
		cursor: pointer;
		white-space: nowrap;
		line-height: 267%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 500;

		span {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.icon-arow-right {
			margin-left: 1.5rem;
			font-size: 12px;
			color: $color;
			pointer-events: none;
		}
		&._active {
			color: $color;
			font-weight: 700;
		}
	}
}

.toggle-wrap {
	margin-left: 1.5rem;
	padding: 10px 6px;
	overflow: hidden;
	background: #f1f1f1;
	height: 36px;
	width: 36px;
	cursor: pointer;
	border-radius: 3px;
	@include _min-920 {
		display: none;
	}
}

.toggle-menu {
	cursor: pointer;
	position: relative;
	width: 100%;
	height: 100%;

	span {
		opacity: 1;
		left: 0;
		display: block;
		width: 100%;
		height: 2px;
		border-radius: 2px;
		background-color: $color;
		position: absolute;
		transform: rotate(0deg);
		transition: 0.4s ease-in-out;
		&:nth-child(2) {
			top: 7px;
		}
		&:nth-child(3) {
			top: 14px;
		}
	}
	&._open {
		span {
			&:nth-child(1) {
				transform: scale(1.088) translateY(7px) rotate(135deg);
			}
			&:nth-child(2) {
				opacity: 0;
				transform: translateX(-60px);
			}
			&:nth-child(3) {
				transform: scale(1.088) translateY(-6px) rotate(-135deg);
			}
		}
	}
}
