.favourites-product {
	// .favourites-product__title
	&__title {
		font-weight: 700;
		font-size: 2.5rem;
		margin-bottom: 6.9rem;
		display: flex;
		justify-content: center;

		@include _425 {
			font-size: 2.2rem;
		}
	}

	// .favourites-product__body
	&__body {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		column-gap: 2rem;
		row-gap: 4rem;

		@include _screen-960 {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		@include _690 {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@include _490 {
			grid-template-columns: 1fr 1fr;
		}
	}
}
.personal-account {
	&__personal-data {
		.favourites-product__body {
			grid-template-columns: 1fr 1fr 1fr 1fr;
			@include _1024 {
				grid-template-columns: 1fr 1fr 1fr;
			}
			@include _690 {
				grid-template-columns: 1fr 1fr 1fr;
			}
			@include _490 {
				grid-template-columns: 1fr 1fr;
			}
		}
		.slide-container__image {
			img {
				width: 100%;
			}
		}
	}
}
