.collection {
	// .section-collection__title
	&__title {
		h2 {
			margin-bottom: 5.5rem;
			color: rgb(88, 88, 86);
			font-size: 3.5rem;
			font-weight: 700;
			line-height: 120%; /* 42px/35 */
			text-align: center;

			@include _screen-375 {
				font-size: 3rem;
			}
		}
	}

	// .section-collection__products
	&__products {
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(5, 189px);
		justify-content: space-between;
		@include _screen-1024 {
			grid-template-columns: repeat(auto-fit, minmax(189px, 1fr));
		}
	}

	// .section-collection__column
	&__column {
		justify-self: center;
		max-width: 218px;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
}
