.products {
	// .new-products__title
	&__title {
		margin-bottom: 6rem;
		color: rgb(88, 88, 86);
		font-size: 3.5rem;
		font-weight: 700;
		line-height: 120%; /* 42px/35 */
		text-align: center;

		@include _screen-375 {
			font-size: 3rem;
		}
	}

	// .new-products__content
	&__content {
		display: grid;
		grid-template-columns: repeat(5, minmax(250px, 280px));
		column-gap: 2rem;
		row-gap: 4rem;
		justify-content: space-between;

		@include _screen-1440 {
			justify-content: space-around;
			grid-template-columns: repeat(4, minmax(250px, 280px));
		}

		@include _screen-1140 {
			justify-content: space-evenly;
			grid-template-columns: repeat(3, minmax(250px, 280px));
		}

		@include _screen-830 {
			grid-template-columns: repeat(2, minmax(250px, 270px));
		}

		@include _screen-568 {
			grid-template-columns: repeat(1, minmax(250px, 270px));
			justify-content: center;
		}
	}

	// .new-products__column
	&__column {
		max-width: 100%;
		border-radius: 15px;
	}
}

.counter-product {
	width: 100%;

	// .counter-product__quantity
	&__quantity {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}

.quantity {
	// .quantity__button
	&__button {
		cursor: pointer;
		width: 3rem;
		height: 3rem;
		line-height: 100%;

		._icon {
			pointer-events: none;
			font-size: 15px;
		}

		&._disabled {
			opacity: 0.3;
		}
	}

	// .quantity__input
	&__input {
		input {
			font-size: 14px;
			font-weight: 500;
			line-height: 121.428571%; /* 17px/14 */
			text-align: center;
			max-width: 33px;
		}
	}
}
