.perform {
	// .perform__content
	&__content {
		position: relative;
		padding: 10.5rem 0 14.7rem;
		display: flex;

		@include _screen-690 {
			padding: 0;
			flex-direction: column-reverse;
		}
		// @include _screen-490 {
		// 	padding: 5.5rem 0 7.7rem;
		// }
	}

	// .perform__body
	&__body {
		position: relative;
		z-index: 2;
	}

	// .perform__title

	&__title {
		color: #585856;
		margin-bottom: 5rem;

		h1 {
			font-weight: 700;
			font-size: 4rem;

			@include _screen-690 {
				text-align: center;
			}
			@include _screen-490 {
				font-size: 3rem;
			}

			span {
				margin-top: 1rem;
				display: block;
				color: #a83333;
			}
		}
	}

	// .perform__text
	&__text {
		font-size: 2rem;
		font-weight: 500;
		margin-bottom: 1.8rem;
		@include _screen-690 {
			text-align: center;
		}
		@include _screen-490 {
			text-align: center;
		}
	}

	// .perform__buttons
	&__buttons {
		display: flex;
		gap: 2rem;

		@include _screen-690 {
			justify-content: space-evenly;
		}

		button {
			background: $bg-color;
			flex: 0 1 16.5rem;
			font-weight: 600;
			letter-spacing: 1.2px;
		}
	}

	// .perform__image
	&__image {
		z-index: 1;
		width: 100%;
		height: 100%;

		@include _min-690 {
			margin-top: 3rem;
			position: absolute;
			top: 0;
			right: 0;
		}

		img {
			float: right;

			height: 100%;
			object-fit: cover;
			object-position: right;

			@include _screen-690 {
				object-position: center;
			}
		}
	}
}
