.delivery {
	// .delivery__title
	&__title {
		margin-bottom: 6rem;
		display: flex;
		align-items: center;
		justify-content: center;
		h1 {
			padding: 0 1.3rem;
			flex: 0 1 auto;
			color: rgb(0, 70, 70);
			font-size: 3rem;
			font-weight: 500;
			letter-spacing: 0%;
			text-transform: uppercase;
			line-height: 100%; /* 36px/30px */
			text-align: center;

			@include _425 {
				font-size: 2.3rem;
			}
		}
	}

	// .delivery__brand
	&__img-brand {
		flex: 0 0 30px;
		width: 30px;
		height: 30px;

		background: url('../img/icons/brand.png') center / contain no-repeat;
		img {
			height: 30px;
			width: 30px;
		}
		@include _490 {
			display: none;
		}
	}

	// .delivery__content
	&__content {
		display: flex;
		gap: 3rem;
		@include _768 {
			flex-direction: column-reverse;
		}
	}

	// .delivery__column

	&__column {
		flex: 0 1 50%;
	}

	// .delivery__image
	&__image {
		height: 100%;
		width: 100%;
		img {
			height: 100%;
			width: 100%;
			max-width: 100%;
			object-fit: cover;
			// object-position: 100% 100%;
		}

		border-radius: 10px;
		overflow: hidden;
	}

	// .delivery__text
	&__text {
		p {
			margin-bottom: 2rem;
		}
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 120%;

		h1 {
			margin-bottom: 2rem;
			font-size: 1.5rem;
			font-weight: 700;
			line-height: 120%;
		}
	}

	// .delivery__info
	&__info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-sizing: border-box;
		border: 1px solid rgb(0, 0, 0);
		border-radius: 10px;
		height: 100%;
		padding: 3.1rem 5.1rem 3.1rem 3.1rem;

		@include _425 {
			padding: 3.1rem;
		}
	}

	// .delivery__list
	&__list {
		border-left: 1px solid $color;
		padding-left: 1.4rem;

		li {
			font-size: 1.5rem;
			line-height: 120%;
		}
	}

	// .delivery__brand
	&__brand {
		position: absolute;
		right: 0;
		float: right;
		width: 13.4rem;
		height: 13.4rem;

		@include _1024 {
			margin-right: 3rem;
		}
		@include _425 {
			width: 12.4rem;
			height: 12.4rem;
			display: none;
		}
		img {
			max-width: 100%;
			object-fit: cover;
		}
	}
}
