.product-card {
	// .product-card__body
	&__body {
		border: 1px solid $color;
		border-radius: 10px;
		padding: 2.5rem 4.5rem;
		@include _screen-960 {
			padding: 2.5rem 2.5rem;
		}
		@include _768 {
			padding: 1.5rem;
		}
	}

	// .product-card__content
	&__content {
		display: grid;
		column-gap: 13rem;
		grid-template-columns: 1fr minmax(5rem, min-content);
		@include _768-920 {
			column-gap: calc(20px + (130 - 20) * ((100vw - 768px) / (1470 - 768)));
		}

		@include _768 {
			column-gap: calc(20px + (130 - 20) * ((100vw - 490px) / (1470 - 490)));
			grid-template-columns: minmax(5rem, min-content) 1fr;
		}
		@include _490 {
			grid-template-columns: 1fr;
		}
	}

	// .product-card__header
	&__header {
		justify-content: space-between;
		@include flex-align-center;
		&:nth-child(1) {
			grid-column: 1 / 3;
		}
	}

	// .product-card__title
	&__title {
		font-weight: 700;
		font-size: 2.5rem;
		margin-bottom: 2.5rem;

		@include _425 {
			font-size: 2.3rem;
		}
	}

	// .product-card__button-close
	&__button-close {
		font-size: 18px;
		.icon-cancel {
			color: $color;
		}
	}

	// .product-card__column
	&__column {
		overflow: hidden;
		&:nth-child(1) {
			@include _768 {
				grid-column: 1 / 3;
				margin-bottom: 7rem;
			}
			@include _490 {
				grid-column: 1 / 2;
			}
		}
		&:nth-child(2) {
			@include _768 {
				grid-row: 2 / 3;
				grid-column: -3 / -2;
			}
			@include _490 {
				grid-row: 2 / 3;
				grid-column: 1 / 2;
				width: 100%;
				margin-bottom: 3rem;
			}
		}
		&:nth-child(3) {
			@include _min-768 {
				grid-column: -3 / -1;
			}

			@include _768 {
				grid-column: 2 / 3;
				grid-row: 2 / 3;
			}
			@include _490 {
				grid-row: 3 / 4;
				grid-column: 1 / 2;
			}
		}
	}

	// .product-card__description
	&__description {
		margin-top: 3rem;
		display: grid;
		column-gap: 13rem;
		grid-template-columns: 1fr 30rem;

		column-gap: calc(20px + (130 - 20) * ((100vw - 768px) / (1470 - 768)));
		margin-bottom: 3rem;
		@include _768 {
			grid-template-columns: 1fr;
		}
	}

	// .product-card__services
	&__services {
		display: flex;
		justify-content: space-between;
		margin-bottom: 7.1rem;
		gap: 1.5rem;
		@include _690 {
			width: 100%;
			flex-direction: column;
		}
	}

	// .product-card__main-content
	&__main-content {
		display: flex;
		gap: 1rem;
		@include _490 {
			flex-direction: column;
			gap: 3rem;
		}
	}
}

.product-slide {
	// .product-slide__slide
	&__slide {
		max-width: 30.5rem;
		overflow: hidden;
		@include _490 {
			// max-width: 40rem;
			height: 41rem;
		}
		img {
			width: 100%;
			height: 100%;
			max-width: 100%;
			object-fit: cover;
		}
	}

	// .product-slide__card
	&__card {
		&.swiper-slide {
			img {
				transition: all 1.5s ease-in-out;
				opacity: 0.3;
			}
		}
		&.swiper-slide-active {
			img {
				opacity: 1;
			}
		}

		img {
			max-height: 100%;
		}
	}
}
// -----------------------------------------------------------------------------
.thumb-slide {
	// .thumb-slide__card
	&__card {
		height: auto;
		object-fit: cover;
		@include flex-align-center-justify-center;
		img {
			width: 5rem;
		}
		&.swiper-slide-thumb-active {
			img {
				opacity: 1;
			}
		}
	}
}
// -----------------------------------------------------------------------------
.description-product {
	//.description-product__column
	&__column {
		@include _768 {
			&:nth-child(1) {
				grid-row: 2 / 3;
			}
			&:nth-child(2) {
				grid-row: 1 / 2;
			}
		}
	}
	//.description-product__title
	&__title {
		font-weight: 700;
		margin-bottom: 1rem;
	}

	//.description-product__text
	&__text {
		p {
			line-height: 150%;
			margin-bottom: 0.5rem;
			font-size: 1.4rem;
		}
	}
}
// -----------------------------------------------------------------------------
.services-product {
	// .services-product__column
	&__column {
		@include _min-690 {
			flex: 0 1 30rem;
			max-width: 30rem;
		}
	}

	// .services-product__title
	&__title {
		font-weight: 700;
		margin-bottom: 0.5rem;
	}

	// .services-product__text
	&__text {
		line-height: 150%;
	}
}

// -----------------------------------------------------------------------------
.video-box {
	// .video-box__item
	&__item {
		position: relative;
		width: 100%;
		@include _min-490 {
			height: 40.9rem;
		}
		@include _490 {
			width: 244px;
			width: 100%;
		}

		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
// -----------------------------------------------------------------------------

.assortment {
	// .assortment__title

	&__title {
		font-weight: 700;
		margin-bottom: 1rem;
	}

	// .assortment__items
	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 8px;
		margin-bottom: 6.6rem;
		max-width: 217px;
	}
}

.product-offer {
	// .product-offer_title
	&__title {
		font-weight: 700;
		font-size: 2.5rem;
		margin-bottom: 3rem;
	}

	// .product-offer__content
	&__content {
		overflow-x: hidden;
	}

	// .product-offer__body
	&__body {
		overflow: auto;
		display: flex;
		gap: 2rem;
		scrollbar-width: none;
	}

	// .product-offer__column
	&__column {
		min-width: 180px;
		max-width: 180px;
	}
}

.counter-product {
	&__quantity {
		max-width: 18.5rem;
	}
}

.content-product {
	// .content-product__item
	&__item {
		&:nth-child(1) {
			flex: 0 1 30%;
		}

		&:nth-child(2) {
			flex: 0 1 70%;
		}
		@include _490 {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	// .content-product__quantity
	&__quantity {
		max-width: 18.5rem;
	}

	// .content-product__slide
	&__slide {
		overflow: hidden;
		display: flex;
		gap: 2rem;
		margin-bottom: 14px;
	}

	// .content-product__column
	&__item {
	}
	// .content-product__thumb
	&__thumb {
		width: 30.1rem;
		.swiper-slide {
			border: 1px solid #ddd;
			img {
				cursor: pointer;
				opacity: 0.4;
			}
		}
		.swiper-slide-thumb-active {
			&.swiper-slide {
				border: 2px solid #f68038;
				img {
					cursor: pointer;
					opacity: 1;
				}
			}
		}
	}
}
// -----------------------------------------------------------------------------
.counter {
	// .counter__title
	&__title {
		margin-bottom: 1rem;
		span {
			color: $color;
			font-weight: 700;
			margin-left: 10px;
		}
	}

	// .counter__buttons
	&__buttons {
		display: flex;
		gap: 2.7rem;
		margin-top: 2rem;
		@include _920 {
			gap: 0.5rem;
		}
		@include _490 {
			justify-content: space-between;
		}
	}

	// .counter___button-cart
	&__button-cart {
		min-width: 13.7rem;
		height: 32px;
		background: $color;
		border: 1px solid $color;
		border-radius: 23px;
		color: $bg-color;
		font-weight: 500;
		white-space: nowrap;
		transition: all 0.2s ease;
		justify-content: center;
		@include flex-align-center;
		&:active {
			background: $bg-color;
			color: #000;
		}
		@include _490 {
			width: 129px;
		}
	}

	// .counter__button-favourites
	&__button-favourites {
		flex-direction: row-reverse;
		min-width: 13.7rem;
		height: 32px;
		background: $bg-color;
		border: 1px solid $color;
		font-weight: 500;
		border-radius: 23px;
		white-space: nowrap;
		transition: all 0.2s ease;
		justify-content: center;
		@include flex-align-center;
		.icon {
			margin-right: 1rem;
		}
		&:active {
			background: $color;
			color: $bg-color;
		}
		@include _490 {
			width: 129px;
		}
	}
}
// -----------------------------------------------------------------------------
.specifications {
	// .specifications__list
	&__list {
		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}

	// .specifications__item

	&__item {
		line-height: 193.333333%; /* 29px/15 */
	}

	// .specifications__title
	&__title {
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 1rem;
	}

	// .specifications__counter
	&__counter {
		margin-bottom: 15px;
		text-align-last: left;
	}
}
