.categories {
	// .categories__title
	&__title {
		margin-bottom: 5.5rem;

		h1,
		h2 {
			padding-left: 1rem;
			color: rgb(88, 88, 86);
			font-size: 3.5rem;
			font-weight: 700;
			line-height: 120%; /* 42px/35 */
			text-align: center;

			@include _screen-375 {
				font-size: 3rem;
			}
		}
	}

	// .categories__products
	&__products {
		flex: 0 1 auto;
		display: grid;
		height: 100%;
		width: 100%;
		gap: 2rem;
		row-gap: 8rem;
		grid-template-columns: repeat(4, 1fr);
		justify-content: space-between;

		@include _screen-830 {
			grid-template-columns: repeat(auto-fit, minmax(189px, 1fr));
		}
	}
}
.page {
	&__categories-by-type {
		.card-product__image a {
			align-items: flex-start;
		}

		.categories__title {
			display: flex;
			justify-content: space-between;
			align-items: stretch;

			h2 {
				text-align: left;
			}
		}
		.categories__products {
			@include _screen-1140 {
				grid-template-columns: repeat(auto-fit, minmax(189px, 1fr));
			}
		}
	}
	&__catalog-products {
		.categories__title {
			h1 {
				text-align: left;
				margin-bottom: 0.5rem;
			}
			p {
				padding-left: 1rem;
				max-width: 708px;
				font-size: 11px;
				font-weight: 500;
				line-height: 118.181818%; /* 13px/11 */
				text-align: left;
			}
		}
	}
}
