.select > ._collapse:not(._show) {
	display: none;
}
.send-order > ._collapse:not(._show) {
	display: none;
}

.send-order {
	// .send-order__order-place
	&__order-place {
		display: flex;
		justify-content: space-between;
		gap: 3.5rem;
		min-height: 0;
		@include _690 {
			flex-direction: column;
		}
	}

	// .send-order__column
	&__column {
		@include _min-690 {
			max-width: 51rem;
			flex: 0 1 50%;
		}
	}

	// .send-order__row
	&__row {
		width: 100%;
	}

	// .send-order__title
	&__title {
		margin-bottom: 2rem;
		font-weight: 700;
		text-transform: uppercase;
	}

	// .send-order__line

	&__line {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 2rem;
	}

	// .send-order__lebel
	&__lebel {
		margin-right: 0.5rem;
		white-space: nowrap;
		font-size: 1.5rem;
		min-width: 14rem;
		span {
			color: $color;
		}
	}

	// .send-order__input
	&__input {
		width: 90%;

		@include _min-690 {
			max-width: 23rem;
		}

		@include _320-690 {
			max-width: 53rem;
		}

		input {
			font-size: 13px;
			width: 100%;
			border: 1px solid $color;
			border-radius: 5px;
			height: 32px;
			border-radius: 5px;
			padding-left: 0.5rem;
			&:focus {
				box-shadow: 0 0 0 2px #00464677;
			}
			@include _320 {
				max-width: 181px;
			}
		}
		textarea {
			@include _320 {
				max-width: 181px;
			}
		}
	}

	// .send-order__comments
	&__comments {
		padding: 0.5rem 1rem;
		width: 100%;
		min-height: 90px;
		background-color: #fff;
		border: 1px solid #dadada;
		overflow: auto;
		resize: none;
		border: none;

		border: 1px solid $color;
		border-radius: 5px;

		&:focus {
			height: 100%;
			box-shadow: 0 0 0 2px #00464677;
		}
	}
}

.checkbox {
	// .checkbox__text
	&__text {
		span {
			font-size: 9px;
			margin-right: 2rem;
		}
	}
}
