.reviews {
	// .reviews__title
	&__title {
		display: flex;
		justify-content: center;
		margin-bottom: 3rem;
	}
	// .reviews__content
	&__content {
	}

	// .reviews__items
	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 2rem;
		@include _768 {
			grid-template-columns: 1fr 1fr;
		}

		@include _490 {
			grid-template-columns: 1fr;
		}
	}

	// .reviews__list-item
	&__list-item {
		padding: 15px;
		flex: 0 1 33.333%;
		border-radius: 5px;
		box-shadow: 1px 1px 5px #5f5f5fea;
	}

	// .reviews__author-spase
	&__author-spase {
		// width: 100%;
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}

	// .reviews__author-photo

	&__author-photo {
		margin-right: 1rem;
	}

	// .reviews__image
	&__image {
		height: 34px;
		width: 34px;
		border-radius: 50%;
		overflow: hidden;
	}

	&__teaser {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 5px;
		font-size: 1.3rem;
	}

	// .reviews__stars-rating
	&__stars-rating {
		display: flex;
		gap: 3px;
	}

	// .reviews__author-info
	&__author-info {
		display: flex;
		gap: 10px;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}

	// .reviews__author-name
	&__author-name {
		flex: 0 1 auto;
		min-width: 0;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		font-weight: 700;
	}

	// .reviews__number-reviews
	&__number-reviews {
		font-weight: 400;
		white-space: nowrap;
	}
}

.star {
	.icon-on {
		color: rgb(231, 150, 0);
	}
}
