.reviews 
		._title 
			.title-text
				._text отзывы покупателей
		._content 
			._items
				._list-item
					._author-spase
						._author-photo
							._image 
								a(href="3" title="Информация о пользователе.") 
									img(src="@@webRoot/img/user-pic/user-1.jpg", alt="картинка")
						._teaser
							._author-info
								._author-name Нина К
									span._number-reviews 4 отзыва  
								._stars-rating
									.star.on  
										+iconfont('star', 'icon-on') 
									.star.om 
										+iconfont('star', 'icon-on') 
									.star.on 
										+iconfont('star', 'icon-on') 
									.star.on
										+iconfont('star', 'icon-on') 
									.star.on
										+iconfont('star', 'icon-on') 
							._data 5 октября 2023
					._review-teaser-text
						p Прекрасный магазин. Очень большой выбор ткани и фурнитуры, на любой вкус и цвет!
				._list-item
					._author-spase
						._author-photo
							._image 
								a(href="3" title="Информация о пользователе.") 
									img(src="@@webRoot/img/user-pic/user-2.jpg", alt="картинка")
						._teaser
							._author-info
								._author-name Ольга Исаева
									._number-reviews 4 отзыва  
								._stars-rating
									.star.on  
										+iconfont('star', 'icon-on') 
									.star.om 
										+iconfont('star', 'icon-on') 
									.star.on 
										+iconfont('star', 'icon-on') 
									.star.on
										+iconfont('star', 'icon-on') 
									.star.on
										+iconfont('star', 'icon-on') 
					._review-teaser-text
						p Прекрасный магазин. Очень большой выбор ткани и фурнитуры, на любой вкус и цвет!
				._list-item
					._author-spase
						._author-photo
							._image 
								a(href="3" title="Информация о пользователе.") 
									img(src="@@webRoot/img/user-pic/user-3.jpg", alt="картинка") 
						._teaser
							._author-info
								._author-name 
									span Александр Епифанцев
									._number-reviews 4 отзыва  
								._stars-rating
									.star.on  
										+iconfont('star', 'icon-on') 
									.star.om 
										+iconfont('star', 'icon-on') 
									.star.on 
										+iconfont('star', 'icon-on') 
									.star.on
										+iconfont('star', 'icon-on') 
									.star.on
										+iconfont('star', 'icon-on') 
					._review-teaser-text
						p Хороший магазин тканей. Много выбора, приятные работники.!