.delivery
	._body
		._title
			._img-brand 
			h1 Интернет магазин тканей с&nbsp;доставкой по&nbsp;России  
			._img-brand 
		._content 
			._column
				._image 
					img(src="@@webRoot/img/bg-image-tk.png", alt="картинка")
			._column
				._info 
					._text
						p Работаем с 1995 года с&nbsp;надежными поставщиками Турции, Китая, прямые поставки с&nbsp;Российских и&nbsp;Белорусских фабрик. 
						._brand 
								img(src="@@webRoot/img/icons/brand.png", alt="brand")
						h1 Наши клиенты:
					ul._list
						li - ателье
						li - творческие коллективы
						li - свадебные салоны
						li - театры и&nbsp;гостиницы
						li - организаторы мероприятий
						li - швейные производства
						li - школы, сады
						li -профессиональные швеи и&nbsp;любители рукоделия

