.favourites-product
	._title 
		.title-text
			._text Избранное
	._content
		._body
			._column
				.slide-container 
					._image 
						img(src="@@webRoot/img/products/new-products/K-5590.png", alt="картинка")
						._inner
							._lable Новинка 
							._favourit
								+iconfont('heart-like', '_icon')
					._content
						._info-product 
							p._name-product  Бамбуковая полиэфирная ткань
							span  Бамбуковый спандекс, матовая французская махровая ткань
						._price 
							._new-price 1000 руб
							._old-price
						._button._clip-circle
								a(href="") 
									span подробнее
			._column
				.slide-container 
					._image
						img(src="@@webRoot/img/products/new-products/K-7444.png", alt="картинка")
						._inner
							._lable Новинка 
							._favourit
								+iconfont('heart-like', '_icon')
					._content
						._info-product 
							p._name-product  Ткань для шитья Джерси
							span Трикотажное полотно из&nbsp;вискозы. Материал эластичен, имеет растяжимость по&nbsp;всем сторонам.
						._price 
							._new-price 1000 руб
							._old-price
						._button._clip-circle
								a(href="") 
									span подробнее
			._column
				.slide-container 
					._image 
						img(src="@@webRoot/img/products/new-products/K-7446.png", alt="картинка")
						._inner
							._lable Новинка 
							._favourit
								+iconfont('heart-like', '_icon')
					._content
						._info-product 
							p._name-product Кулирка 100% хлопок
							span Трикотаж высокого качества, очень мягкий и&nbsp;приятный к&nbsp;телу, не&nbsp;пилингуется, не&nbsp;выстирывается.
						._price 
							._new-price 1000 руб
							._old-price 1000 руб 
						._button._clip-circle
							a(href="@@webRoot/catalog/product-card.html") подробнее
			._column
				.slide-container 
					._image 
						img(src="@@webRoot/img/products/new-products/K-5590.png", alt="картинка")
						._inner
							._lable Новинка 
							._favourit
								+iconfont('heart-like', '_icon')
					._content
						._info-product 
							p._name-product  Бамбуковая полиэфирная ткань
							span  Бамбуковый спандекс, матовая французская махровая ткань
						._price 
							._new-price 1000 руб
							._old-price
						._button._clip-circle
								a(href="") 
									span подробнее
			._column
				.slide-container 
					._image
						img(src="@@webRoot/img/products/new-products/K-7444.png", alt="картинка")
						._inner
							._lable Новинка 
							._favourit
								+iconfont('heart-like', '_icon')
					._content
						._info-product 
							p._name-product  Ткань для шитья Джерси
							span Трикотажное полотно из&nbsp;вискозы. Материал эластичен, имеет растяжимость по&nbsp;всем сторонам.
						._price 
							._new-price 1000 руб
							._old-price
						._button._clip-circle
								a(href="") 
									span подробнее
			._column
				.slide-container 
					._image 
						img(src="@@webRoot/img/products/new-products/K-7446.png", alt="картинка")
						._inner
							._lable Новинка 
							._favourit
								+iconfont('heart-like', '_icon')
					._content
						._info-product 
							p._name-product Кулирка 100% хлопок
							span Трикотаж высокого качества, очень мягкий и&nbsp;приятный к&nbsp;телу, не&nbsp;пилингуется, не&nbsp;выстирывается.
						._price 
							._new-price 1000 руб
							._old-price 1000 руб 
						._button._clip-circle
							a(href="@@webRoot/catalog/product-card.html") подробнее