.portiere-fabrics
	._column 
		._image
	._column 
		._content
			.info-portiere._info
				._header
					._title Портьерные ткани
					._text
						p Новое поступление портьерных тканей: высокой плотности блэкауты, мягкие шениллы, благородные двухсторонние атласы, рогожки блэкауты.
				._items-footer
					._image
						img(src="@@webRoot/img/products/portiere-fabrics/K-9990.png", alt="картинка")
					._image
						img(src="@@webRoot/img/products/portiere-fabrics/K-11335.png", alt="картинка")
					._image
						img(src="@@webRoot/img/products/portiere-fabrics/K-11334.png", alt="картинка")
					._image
						img(src="@@webRoot/img/products/portiere-fabrics/K-11333.png", alt="картинка")

