.furniture-fabrics
	._header
		._column 
			._header-items
				._title Мeбельные ткани
				._text 
					p Разнообразная цветовая палитра тканей с повышенной прочностью для перетяжки мебели. В наличии: «Амстелл», антивандальная замша, велюр, шенилл, рогожка, жаккард, гобелен, искусственная кожа.
		._column 
			._image-header 
				img(src="@@webRoot/img/main/furniture-fabrics.png", alt="картинка")
	._footer 
		._items-footer 
			._image
				img(src="@@webRoot/img/products/furniture-fabrics/K-11570.png", alt="картинка")
			._image
				img(src="@@webRoot/img/products/furniture-fabrics/K-11507.png", alt="картинка")
			._image
				img(src="@@webRoot/img/products/furniture-fabrics/K-11566.png", alt="картинка")
			._image
				img(src="@@webRoot/img/products/furniture-fabrics/K-11574.png", alt="картинка")
			._image
				img(src="@@webRoot/img/products/furniture-fabrics/K-11568.png", alt="картинка")
			._image
				img(src="@@webRoot/img/products/furniture-fabrics/K-11576.png", alt="картинка")