.catalog
	._categories
		._title-category Заголовок категории
		._title-catalog Каталог товаров
			button(type="button")._button._trigger
				span Фильтр:
		._wrapper._collapse
			form(action="#" metod="get").filter._filter-categories
					._content
						._body
							._column
								._type
									._label Тип ткани:
									._select-type(data-select)
											.select._input
												._box-button
													input._button.input(type="button", name="form[]", value="Тип ткани") 
													+iconfont('arow-right', 'icon')
												ul._list._collapse
													li._list-item._selected(value="Тип ткани-1") Тип ткани-1
													li._list-item(value="Тип ткани-2") Тип ткани-2
													li._list-item(value="Тип ткани-3") Тип ткани-3
													li._list-item(value="Тип ткани-4") Тип ткани-4
													li._list-item(value="Тип ткани-5") Тип ткани-5
													li._list-item(value="Тип ткани-6") Тип ткани-6
													li._list-item(value="Тип ткани-7") Тип ткани-7
							._column
								._type
									._label Рисунок:
									._select-type(data-select)  
										.select._input
											._box-button
												input._button.input(type="button", name="form[]", value="Рисунок") 
												+iconfont('arow-right', 'icon')
											ul._list._collapse
												li._list-item._selected(value="Рисунок-1") Рисунок-1
												li._list-item(value="Рисунок-2") Рисунок-2
												li._list-item(value="Рисунок-3") Рисунок-3
												li._list-item(value="Рисунок-4") Рисунок-4
												li._list-item(value="Рисунок-5") Рисунок-5
												li._list-item(value="Рисунок-6") Рисунок-6
												li._list-item(value="Рисунок-7") Рисунок-7
							._column
								._type
									._label Цвет:
									._select-type(data-select)  
										.select._input
											._box-button
												input._button.input(type="button", name="form[]", value="Цвет") 
												+iconfont('arow-right', 'icon')
											ul._list._collapse
												li._list-item._selected(value="Цвет-1") Цвет-1
												li._list-item(value="Цвет-2") Цвет-2
												li._list-item(value="Цвет-3") Цвет-3
												li._list-item(value="Цвет-4") Цвет-4
												li._list-item(value="Цвет-5") Цвет-5
												li._list-item(value="Цвет-6") Цвет-6
												li._list-item(value="Цвет-7") Цвет-7
							._column
								._type
									._label Название:
									._select-type(data-select)  
										.select._input
											._box-button
												input._button.input(type="button", name="form[]", value="Название") 
												+iconfont('arow-right', 'icon')
											ul._list._collapse
												li._list-item._selected(value="Название-1") Название-1
												li._list-item(value="Название-2") Название-2
												li._list-item(value="Название-3") Название-3
												li._list-item(value="Название-4") Название-4
												li._list-item(value="Название-5") Название-5
												li._list-item(value="Название-6") Название-6
												li._list-item(value="Название-7") Название-7
							._column
								._type
									._label Состав:
									._select-type(data-select)  
										.select._input
											._box-button
												input._button.input(type="button", name="form[]", value="Состав") 
												+iconfont('arow-right', 'icon')
											ul._list._collapse
												li._list-item._selected(value="Состав-1") Состав-1
												li._list-item(value="Состав-2") Состав-2
												li._list-item(value="Состав-3") Состав-3
												li._list-item(value="Состав-4") Состав-4
												li._list-item(value="Состав-5") Состав-5
												li._list-item(value="Состав-6") Состав-6
												li._list-item(value="Состав-7") Состав-7
							._column
								._type
									._label Ширина:
									._select-type(data-select)  
										.select._input
											._box-button
												input._button.input(type="button", name="form[]", value="Ширина") 
												+iconfont('arow-right', 'icon')
											ul._list._collapse
												li._list-item._selected(value="Ширина-1") Ширина-1
												li._list-item(value="Ширина-2") Ширина-2
												li._list-item(value="Ширина-3") Ширина-3
												li._list-item(value="Ширина-4") Ширина-4
												li._list-item(value="Ширина-5") Ширина-5
												li._list-item(value="Ширина-6") Ширина-6
												li._list-item(value="Ширина-7") Ширина-7
							._column
								._type
									._label Плотность:
									._select-type(data-select)  
										.select._input
											._box-button
												input._button.input(type="button", name="form[]", value="Плотность") 
												+iconfont('arow-right', 'icon')
											ul._list._collapse
												li._list-item._selected(value="Плотность-1") Плотность-1
												li._list-item(value="Плотность-2") Плотность-2
												li._list-item(value="Плотность-3") Плотность-3
												li._list-item(value="Плотность-4") Плотность-4
												li._list-item(value="Плотность-5") Плотность-5
												li._list-item(value="Плотность-6") Плотность-6
												li._list-item(value="Плотность-7") Плотность-7
							._column
								._type
									._label Цена:
									.section-filter 
										.section-filter__body
											.price-filter
												._slider
												.values-price._values
													._column 0
													.curent-price._curent-price
														._column
															label._label(for="price-start") от
															._input
																input#price-start 
														._column
															label._label(for="price-end") до
															._input
																input#price-end.input
													._column 50000
							._column
								._type
									._label Производитель:
									._select-type(data-select)  
										.select._input
											._box-button
												input._button.input(type="button", name="form[]", value="Производитель") 
												+iconfont('arow-right', 'icon')
											ul._list._collapse
												li._list-item._selected(value="Производитель-1") Производитель-1
												li._list-item(value="Производитель-2") Производитель-2
												li._list-item(value="Производитель-3") Производитель-3
												li._list-item(value="Производитель-4") Производитель-4
												li._list-item(value="Производитель-5") Производитель-5
												li._list-item(value="Производитель-6") Производитель-6
												li._list-item(value="Производитель-7") Производитель-7
	._content 
		aside._sidebar-menu
			include ../chunk/sidebar-catalog
		main._main-content 
			.main-content
				._column 
					._image 
						img(src="@@webRoot/img/products/catalog/K-5799.png", alt="картинка")
						._label
							a(href="#")._link
								span однотонный
				._column 
					._image 
						img(src="@@webRoot/img/products/catalog/K-5586.png", alt="картинка")
						._label
							a(href="#")._link
								span рогожка
				._column 
					._image 
						img(src="@@webRoot/img/products/catalog/K-5443.png", alt="картинка")
						._label
							a(href="#")._link
								span жаккардовый
				._column 
					._image 
						img(src="@@webRoot/img/products/catalog/K-5774.png", alt="картинка")
						._label
							a(href="#")._link
								span печать с рисунком

		
		
		
