.about-page 
	._body
		._title 
			.title-text
				._text причины выбрать наши ткани 
		.about-content
			._body
				._card
					._header
						._number 01 
						._icon 
							img(src="./img/icons/scissors.png", alt="картинка")
					._text
						p Нарезка тканей от 30 см
				._card
					._header
						._number 02
						._icon 
							img(src="./img/icons/man-stacked.png", alt="картинка")
					._text
						p Широкий ассортимент тканей, швейной фурнитуры
				._card
					._header
						._number 03
						._icon 
							img(src="./img/icons/rub.png", alt="картинка")
					._text
						p Гибкая система скидок, бонусная программа
				._card
					._header
						._number 04
						._icon 
							img(src="./img/icons/delivery.png", alt="картинка")
					._text
						p Доставка по РФ
			._info
				._column 
					p._text
						| Магазин  “ТеТкани” представляет широкий ассортимент швейной фурнитуры, тканей, товары для рукоделия, пряжи с доставкой по всей России. Сразу в одном месте, Вы сможете подобрать всё необходимое для пошива любой сложности изделия. Если Вы ищите ткань для урока труда в школу, хотите сшить костюм или платье, обновить свой интерьер, сшить новые шторы, покрывала, скатерти, поменять обивку на мягкой мебели, купить тентовую ткань для дачи, то всё это Вы сможете приобрести в нашем магазине “ТеТкани”. .
					p._text 
						| Наша организация работает с 1995 года. Мы прошли длинный путь, пережили несколько экономических кризисов в стране, закалились и приобрели большой опыт, позволяющий понимать и отвечать запросам покупателей. Наша команда - это люди влюбленные в шитьё и рукоделие. Мы работаем с надежными поставщиками из Китая, Турции, Европы, налажены прямые поставки с Российских и Белорусских фабрик.
					p._text 
						| В нашем магазине действует гибкая система скидок и бонусов, индивидуальные условия сотрудничества для швейных производств, ателье, дизайнеров. Работаем с муниципальными бюджетными организациями. 
				._column 
					p._text
						| Все ткани перед поступлением в продажу проходят тщательную проверку на качество. Режем минимальное количество от 30 см, шагом в 5 см.
					p._text 
						| Большой выбор  тканей: костюмные, плательные, курточные, стеганые, подкладочные, экомех, искусственная дубленка, ткани для постельного белья, штор, покрывал, мебельные, гобелены, хлопок, лен, сатин, ткани для народных костюмов, бифлекс, трикотаж, флис, утеплители, дублирующие материалы, тентовые. Огромный выбор швейной фурнитуры: пуговиц, кнопки, тесьмы, кружева, гипюра, бахромы, отделочных лент, молнии, швейные иглы и принадлежности для шитья, лекала. Наш ассортимент приятно Вас удивит и не оставит равнодушным. Всё это Вы сможете приобрести в интернет магазине “ТеТкани” или в офлайн магазине расположенный по адресу г. Обнинск ул. Курчатова д.6А.
					p._text 
						| Если у Вас возникают вопросы, нужна помощь в подборе тканей и фурнитуры, то наши менеджеры проконсультируют и помогут подобрать всё необходимое. Высылаем фото, предварительно всё согласуем перед оплатой и отправкой заказа.
