.page-info
	._content
		._title
			h1 информация о&nbsp;работе магазина ТеТкани
		._information
			.side-info
				nav._info
					ul._list
						li._list-item
							a(href="#buy")._link.anchor-link Как купить?
							+iconfont('arow-right', 'icon')
						li._list-item
							a(href="#to-pay")._link.anchor-link Как оплатить?
							+iconfont('arow-right', 'icon')
						li._list-item
							a(href="#receive-order")._link.anchor-link Как получить?
							+iconfont('arow-right', 'icon')
						li._list-item
							a(href="#return-order")._link.anchor-link Как вернуть?
							+iconfont('arow-right', 'icon')
						li._list-item
							a(href="#discount-system")._link.anchor-link Система скидок 
							+iconfont('arow-right', 'icon') 
					._button
						+iconfont('cancel', 'icon')
			main.information-work
				._body
					._section(id="buy")
						._heading
							h2 Как купить:
						._text
							p._title 1. Выберите понравившийся нужный товар в каталоге. 
							p В нашем каталоге все товары сгруппированы по видам, группам и подгруппам. Многоуровневый поиск позволяет быстрее найти нужный товар. Также можно использовать фильтры, задавая нужные параметры: вид, ширину, состав, цвет, плотность, производитель, цена.
							br
							p Внимательно ознакомьтесь с его описанием. Обращайте внимание на характеристики товара: ширину или высоту (для портьерных) тканей, на расположение рисунка и наличии рапорта, даёт ли усадку ткань после стирки. От этих важных показателей зависит правильно рассчитанный расход ткани. Oбращаем Ваше внимание, что цветовой оттенок ткани может отличаться от представленного на фотографии, это зависит от цветопередачи вашего устройства, от настроек монитора вашего компьютера или мобильного телефона.
							br
							p Если при просмотре товаров Вам понравились определенные позиции, но вы не планируете в данный момент покупать их, то Вы можете отправить их в папку-раздел «Отложенное-избранное». В дальнейшем Вы можете вернуться к ним при необходимости. Также папка-отдел «Отложенное» по сути выполняет функцию параллельного отдельного заказа. Предположим, Вы выбираете ткань для себя и одновременно для другого человека. Вам необходим отдельный счет для оплаты и отдельная доставка. В таком случае при выборе товара для себя Вы отправляете сразу в корзину, а для другого человека отправляете в «Отложенное». Затем отдельно отправляете сначала свою корзину, а потом отправляете заказ из «Отложенного», указав при оформлении заказа нужную информацию.
							br
							p Если у Вас при выборе возникают вопросы, Вы можете позвонить по телефону 8-……….., задать вопрос в мессенджерах или написать в форме обратной связи.
							br
							br
							p._title 2. Укажите необходимое количество товара. 
							p Мерные товары, такие как: ткани, тесьма, лента, резинка, бахрома, стропа, кружево, гипюр, шнур продаются от 30 см, с шагом в 10 см. То есть если необходимо 35 см, то Вам надо выбрать либо в меньшую сторону 30 см, либо выбрать больше 40 см. Затем нажимаете кнопку – добавить в Корзину. Далее Вы можете продолжить выбирать товары, перейдя в Каталог. После окончательного выбора перейдите в раздел «Моя корзина».
							br 
							p._title 3. Оформление заказа. 
							p В разделе «Моя корзина» Вы сможете еще раз проверить все позиции в заказе, исправить количество, удалить что-то при необходимости. Посмотрите общую итоговую сумму к оплате. Обязательно ознакомьтесь с условиями скидок от суммы заказа. Проанализируйте, может Вам стоит добавить другие позиции или увеличить количество выбранного товара, чтобы получить большую скидку.
							br
							p После окончательной проверки и корректировки заказа, перейдите к оформлению, нажав кнопку «Оформить заказ».
							br
							p Далее Вам необходимо заполнить свои данные, указав: Ф.И.О., телефон, адрес электронной почты, выбрать нужную форму доставки и оплаты, при необходимости заполнить графу- «Дополнительная информация». В ней Вы можете написать, на что необходимо обратить внимание при сборке заказа, сообщить любую другую информацию, касающуюся заказа товара.
							br
							p Мы рекомендуем заранее пройти регистрацию у нас на сайте, то есть получить доступ в личный кабинет. В дальнейшем в свой личный кабинет Вы будете заходить под свои паролем и логином. Только зарегистрированные клиенты имеют возможность получать закреплённую скидку, полученную по накопительной системе от суммы покупок и получать бонусы, начисляемые при покупке товара. Активация бонусов происходит через 15 дней и Вы сможете оплатить ими до 30% т стоимости следующей покупки. 1 Бонус=1 Рубль. В личном кабинете Вы сможете видеть историю заказов, полученные скидки, активные доступные бонусы для оплаты, подписаться на рассылку новостей нашего магазина.
							br 
							p._title 4. Обработка и согласование заказа. 
							p После поступления к нам заказа с Вами свяжется наш менеджер. Он подтвердит наличие необходимого количества товара и обсудит все детали заказа. Если заказ поступил к нам в рабочие дни после 18 ч, в субботу или в воскресенье после 16 ч, то менеджер свяжется с Вами на следующей день, позвонив или по другой удобной для Вас форме обратной связи. После согласования заказа Вам выставляется счет для оплаты на электронную почту и в личный кабинет.
							br
							p Ранее начисленные бонусы при возврате товара сторнируются (вычитаются из суммы начисленных). Бонусы начисляются в целых рублях с округлением по математическим правилам. Бонусы проходят три стадии своего существования:
							ul 
								li Начисление
								li Активация
								li Списание 
							p Активация – это зачисление ранее начисленных бонусов на бонусный счет клиента
							ul 
								li С момента активации бонусы видны на личном счете клиента и доступны для оплаты покупок. Списание – это частичная оплата покупаемого товара бонусами и соответствующее уменьшение количества бонусов на счёте клиента.
								li Списание бонусов идёт по правилу 1 бонус = 1 рубль скидки
								li Оплата бонусами оформляется как дополнительная скидка на товары. Действуют индивидуальные скидки для крупных покупателей, швейных производств, ателье.
					._section(id="to-pay")
						._heading
							h2 Оплата заказа:
						._text
							p Далее Вы оплачиваете заказ по счёту выбранным удобным для Вас способом, который указали при оформлении заказа. 
							br
							p._title  Виды оплаты в нашем магазине: 
							p 
								span 1.
								| Онлайн оплата банковской картой на сайте. Платежные системы: МИР, MasterCard, Visa. 
							p После согласования заказа и выставления счета, на электронную почту вам придет ссылка для оплаты. Пройдя по ссылке, Вы переходите на страницу платежной системы. Необходимо заполнить данные банковской карты, защитный код (находится на задней стороне карты), сумму оплаты. Для подтверждения оплаты Вам придёт СМС-код на номер мобильного телефона, указанного при оформлении заказа. После проведения о платы, на Вашу электронную почту придет подтверждение оплаты и кассовый чек. Безопасность платежей при оплате банковской картой, обеспечивается технологиями защищенного соединения HTTPS и двухфакторной аутентификации пользователя 3D-Secure. Реквизиты Вашей карты полностью защищены и не поступают в наш магазин.
							br
							p 
								span 2. 
								| Оплата по квитанции через банк. Оплатить можно через операциониста в банке. Обращаем Ваше внимание, что при оплате данным способом, банк может брать комиссию.
							br
							p 
								span 3. 
								| Для юридических лиц и ИП, оплата на расчетный счет. Выставляется счёт для оплаты и предоставляются все необходимые документы. Мы работаем также с муниципальными, бюджетными организациями. Сообщите заранее нашему менеджеру и с Вами свяжутся для согласования всех необходимых документов.
							br
							p
								span 4. 
								| Оплата наличными. Возможна только при покупке в нашем офлайн розничном магазине. При оплате выдаётся кассовый чек. Адрес магазина: Калужская обл., г. Обнинск ул. Курчатова д. 6А, ТД «Малыш», 3 этаж.
							br
							h4 График работы: 
							p Понедельник-пятница с 10-00 до 19-00 ч
							p Суббота с 10-00 до 18-00 ч
							p Воскресенье с 10-00 до 17-00 ч.
					._section(id="receive-order")
						._heading
							h2 Сбор и отправка заказа:
						._text
							p После поступления оплаты мы приступаем к сборке и отправке заказа. Во время комплектации перед отправкой товар тщательно проверяется на отсутствие брака. После отправки Вам поступит уведомление на электронную почту, СМС сообщение на номер мобильного телефона с информацией об отправке заказа и с указанием трек-номера. Обращаем Ваше внимание, что мерный товар надлежащего качества не подлежит возврату. Основание постановление Правительства РФ от 19 января 1998 года № 55. Оплата услуг доставки (Почта России, СДЭК) включается в общую сумму заказа. Стоимость рассчитывается в зависимости от веса, габаритов посылки и адреса получателя.
							br
							p._title Способы доставки: 
							p._title  Отправка посылки «Почта России»: 
							p Укажите адрес доставки: почтовый индекс, населенный пункт. Бандероль Почта России и другие виды отправлений отслеживаются в специализированных онлайн-сервисах по трек-номеру. Экспресс доставка на Почте России стоит от 242 рублей за обычную, от 588 рублей за ускоренную и от 310 рублей за курьерскую. 
							p Срок доставки в пределах России и СНГ составляет от 3 до 14 дней. 
							p Срок хранения посылок в почтовом отделении составляет от 15 до 30 дней, после чего они возвращаются отправителю. 
							p Информация об отправке с трек-номером будет Вам отправлена на электронную почту и СМС сообщением на номер мобильного телефона.
							br
							p 
								span Отправка транспортными компаниями: «ПЭК», «GTD (КИТ)», «Байкал», «Деловые линии». 
								| Доставка груза до терминала отправки транспортной компании осуществляется силами магазина.
							p Оплата услуг доставки груза транспортной компанией до терминала вашего города оплачивается покупателем при получении груза. Номер экспедиторской расписки будет выслан Вам на электронную почту и смс сообщением на номер мобильного телефона.
							br
							p._title Самовывоз.
							p Возможен по предварительной договоренности в магазине «ТеТкани» расположенный по адресу г. Обнинск ул. Курчатова д. 6А, 3 этаж. Заказ можно будет забрать на следующий день после поступления оплаты, после 12-00 ч.
					._section(id="return-order")
						._heading
							h2 Правила возврата:
						._text
							p 
								span 1. Обращаем Ваше внимание, 
								| что мерный отрезной товар надлежащего качества не подлежит возврату. Основание постановление Правительства РФ от 19 января 1998 года № 55. К мерному отрезному товару относятся: ткани, тесьма, ленты, кружево, гипюр, бахрома, стропа, шнуры, резинка.
							br
							p._title 2. Возврат штучного товара: 
							p Возврат товара надлежащего качества возможен в случае, если товар не был в употреблении, сохранены его товарный вид, упаковка, потребительские свойства, а также имеется документ, подтверждающий факт и условия покупки.
							br
							p._title 3. Сроки возврата:
								ul 
									li в течение 7 дней после получения заказа из транспортной компании или службы доставки;
									li если товар был получен самовывозом в офлайн розничном магазине, то срок возврата составляет 14 дней со дня получения.
							br
							p._title 4. Для оформления возврата необходимо: 
								ul 
									li связаться заранее по телефону с нашим менеджером,
									li заполнить заявление на возврат (менеджер предоставит форму) и отправить нам скан заявления на электронную почту,
									li предоставить копию товарной накладной и копию оплаты.
							br
							p._title 5. Возврат денежных средств:
							p Осуществляется в течение 10 дней с момента получения нами возвращаемого товара и заявления на возврат. Возврат происходит путем перевода денежных средств на карту покупателя или выдача наличными, если покупка была оплачена наличными денежными средствами в офлайн розничном магазине.
							br
							p Обращаем Ваше внимание, что стоимость доставки товара не возвращается.
							br
							p._title 6. Способы передачи возвращаемого товара.
							ul 
								li в офлайн розничном магазине, расположен по адресу г. Обнинск ул. Курчатова д. 6А, 3 этаж
								li отправка товара до терминала г. Обнинск: «СДЭК», «Почта России», транспортными компаниями «ПЭК», «GTD (КИТ)», «Байкал», «Деловые линии».
							p 
								span Обращаем Ваше внимание, 
								| что доставка возвращаемого товара осуществляется силами и за счет средств покупателя.
					._section(id="discount-system")
						._heading
							h2 Скидки, бонусы
						._text
							p._title 1. Разовые скидки от общей суммы покупок: 
								ul 
									li на сумму 5000 руб. и более, скидка 3 %.
									li на сумму 10 000 руб. и более, скидка 5%
									li на сумму 20 000 руб. и более, скидка 10%. 
							p._title 2. Закрепленная постоянная скидка: 
							p Доступна только зарегистрированным пользователям.
							p Покупателю предоставляется постоянная скидка, устанавливаемая по результатам общей суммы совершенных ранее покупок.
							ul 
								li при достижении суммы оплат 5 000 руб., устанавливается скидка 3 %
								li при достижении суммы оплат 10 000 руб., устанавливается скидка 5 %
								li при достижении суммы оплат 20 000 руб., устанавливается скидка 10%. 
							p._title 3. Начисление и оплата бонусами. 
							p Зарегистрированным покупателем при покупке начисляются бонусы, в размере 3 % от суммы покупки, с учетом скидок.
							br 
							p._title 1 Бонус=1 Рубль. 
							p Оплатить покупку бонусами можно в размере 30 % от итоговой стоимости суммы покупки, с учетом скидок.
							p Активация бонусов происходит через 14 дней, со дня совершения покупки.
							br
							p Бонусы на сумму, оплаченную бонусами не начисляются.
							p Ранее начисленные бонусы при возврате товара сторнируются (вычитаются из суммы начисленных).
							p Бонусы начисляются в целых рублях с округлением по математическим правилам.
							p Бонусы проходят три стадии своего существования:
							ul 
								li Начисление
								li Активация
								li Списание
							p 
								span Активация 
								| – это зачисление ранее начисленных бонусов на бонусный счет клиента
							ul 
								li С момента активации бонусы видны на личном счете клиента и доступны для оплаты покупок.
							p 
								span Списание 
								| – это частичная оплата покупаемого товара бонусами и соответствующее уменьшение количества бонусов на счёте клиента.
							ul 
								li Списание бонусов идёт по правилу 1 бонус = 1 рубль скидки 
								li Оплата бонусами оформляется как дополнительная скидка на товары. 
							p._title 4. Действуют индивидуальные скидки для крупных покупателей, швейных производств, ателье.
							br