.product-card
	._body 
		._header
			._title Название ткани 
			._button-close 
				+iconfont('cancel', 'icon')
		._content
			._column
				main.content-product._main-content
					._item
						.product-slide._slide
							._slide._swiper 
								._card.swiper-slide 
									<img src="@@webRoot/img/products/catalog/K-5462.png" alt="Картинка">
								._card.swiper-slide
									<img src="@@webRoot/img/products/catalog/K-5589.png" alt="Картинка">
								._card.swiper-slide
									<img src="@@webRoot/img/products/catalog/K-7444.png" alt="Картинка">
								._card.swiper-slide
									<img src="@@webRoot/img/products/catalog/K-7446.png" alt="Картинка">
						.thumb-slide._thumb._swiper(thumbsSlider="") 
							._card
								<img src="@@webRoot/img/products/catalog/K-5462.png" alt="Картинка">
							._card
								<img src="@@webRoot/img/products/catalog/K-5589.png" alt="Картинка">
							._card
								<img src="@@webRoot/img/products/catalog/K-7444.png" alt="Картинка">
							._card
								<img src="@@webRoot/img/products/catalog/K-7446.png" alt="Картинка">
					._item
						.video-box._video
							._item
								video(controls autoplay muted loop)
									source(src="@@webRoot/img/video/promo-it.mp4", type="video/mp4")
									| Your browser does not support HTML5 video.
			._column
				aside.specifications
					ul._list 
						li._item Артикул: 000000
						li._item Цвет: Белый
						li._item Наличие: в наличии
					._title Характеристики
					ul._list 
						li._item Ширина: 140 см
						li._item Плотность: 110 гр/м2
						li._item Состав: 100% Вискоза
						li._item Производитель: Италия
						li._item Тип ткани: название
						li._item Рисунок: однотонный
						li._item Код товара: 11872
					.counter._counter
						._title Цена за погонный метр:
							span 1000&nbsp;руб
						form(action="")
							.counter-product(data-quantity) 
								.quantity._quantity
									._button.quantity-remove
										+iconfont('minus', 'icon')
									._input
										input.input(type="text", name="form[]", value="0.30", placeholder="<+>", autocomplete="off")
									._button.quantity-add._arrow._arrow_next
										+iconfont('cancel', 'icon')
								p._price В наличии&nbsp;-&nbsp;
									span._price-product 5 
									span м
							._buttons
								button(type="button")._button-cart в корзину
								button(type="button")._button-favourites в избранное
									+iconfont('heart', 'icon')
			._column 
				section.description-product._description
					._column
						._title Описание
						._text
							p Штапель вискозный 11872 плотность 110 гр/м² — идеальный вариант. У материала актуальный цвет, который при необходимости легко комбинируется с другими оттенками, довольно высокий показатель прочности на разрыв благодаря особому переплетению и интересная фактура. Именно поэтому его часто выбирают дизайнеры для своих коллекций. С полотном шириной 140 см легко работать вручную и на машинке. А его состав (100% Вискоза) обуславливает отличную износостойкость, устойчивость к выгоранию и сохранение эстетичности после чистки. 
							p Италия — в числе лучших мировых производителей качественных тканей, и мы поставляем их напрямую, не завышая цены. 
					._column 
						.assortment
							._title Возможные цвета
							._items 
								._image
									img(src="@@webRoot/img/products/assortment/K-5443.png", alt="") 
								._image 
									img(src="@@webRoot/img/products/assortment/K-5588.png", alt="") 
								._image 
									img(src="@@webRoot/img/products/assortment/K-7444.png", alt="") 
								._image 
									img(src="@@webRoot/img/products/assortment/K-6814.png", alt="") 
								._image 
									img(src="@@webRoot/img/products/assortment/K-7457.png", alt="") 
								._image 
									img(src="@@webRoot/img/products/assortment/K-5586.png", alt="")  
								._image 
									img(src="@@webRoot/img/products/assortment/K-7443.png", alt="") 
								._image 
									img(src="@@webRoot/img/products/assortment/K-6112.png", alt="") 
						._title
						._delivery
		.services-product._services
			._column
				._title Гарантия
				._text Если вас не устроит покупка, обменяем или вернем деньги
			._column
				._title Оплата
				._text Наличными, безналичные способы (картой, электронные деньги и тп.)
			._column
				._title Доставка
				._text Наличными, безналичные способы (картой, электронные деньги и тп.)
		._offer
			.product-offer
				._title С этим товаром покупают
				._content
					._body
						._column
							.slide-container 
								._image 
									img(src="@@webRoot/img/products/new-products/K-5590.png", alt="картинка")
									._inner
										._lable Новинка 
										._favourit
											+iconfont('heart-like', '_icon')
								._content
									._info-product 
										p._name-product  Бамбуковая полиэфирная ткань
										span  Бамбуковый спандекс, матовая французская махровая ткань
									._price 
										._new-price 1000 руб
										._old-price
									._button._clip-circle
											a(href="") 
												span подробнее
						._column
							.slide-container 
								._image 
									img(src="@@webRoot/img/products/new-products/K-7444.png", alt="картинка")
									._inner
										._lable Новинка 
										._favourit
											+iconfont('heart-like', '_icon')
								._content
									._info-product 
										p._name-product  Ткань для шитья Джерси
										span Трикотажное полотно из&nbsp;вискозы. Материал эластичен, имеет растяжимость по&nbsp;всем сторонам.
									._price 
										._new-price 1000 руб
										._old-price
									._button._clip-circle
											a(href="") 
												span подробнее
						._column
							.slide-container 
								._image 
									img(src="@@webRoot/img/products/new-products/K-7446.png", alt="картинка")
									._inner
										._lable Новинка 
										._favourit
											+iconfont('heart-like', '_icon')
								._content
									._info-product 
										p._name-product Кулирка 100% хлопок
										span Трикотаж высокого качества, очень мягкий и&nbsp;приятный к&nbsp;телу, не&nbsp;пилингуется, не&nbsp;выстирывается.
									._price 
										._new-price 1000 руб
										._old-price 1000 руб 
									._button._clip-circle
										a(href="@@webRoot/catalog/product-card.html") подробнее


