.sale-products
	._body
		._title
			._button-prev
				+iconfont('arow-left','_icon')
			.title-text
				._text Похожие товары
			._button-next
				+iconfont('arow-right','_icon')
		._content._swiper
			._slide
				.slide-container 
					._image 
						img(src="@@webRoot/img/products/sale-products/K-6112.png", alt="")
						._inner
							._lable Новинка 
							._favourit
								+iconfont('heart-like', '_icon')
					._content
						._info-product 
							p._name-product Кулирка 100% хлопок
							span Трикотаж высокого качества, очень мягкий и приятный к телу, не пилингуется, не выстирывается.
						._price 
							._new-price 1000 руб
							._old-price  
						._button._clip-circle
							a(href="") 
								span подробнее
			._slide
				.slide-container
					//- ._body
					._image 
						img(src="@@webRoot/img/products/sale-products/K-5459.png", alt="картинка")
						._inner
							._lable Новинка 
							._favourit
								+iconfont('heart-like', '_icon')
					._content
						._info-product 
							p._name-product Ткань флис
							span Флис FG-001 230±4 г/кв.м ФАСОВКА 50 см х 50 см 100\% полиэстер-№383 желтый
						._price 
							._new-price 1000 руб 
							._old-price
						._button._clip-circle
								a(href="") 
									span подробнее
			._slide
				.slide-container
					//- ._body
					._image 
						img(src="@@webRoot/img/products/sale-products/K-5588.png", alt="картинка")
						._inner
							._lable Новинка 
							._favourit
								+iconfont('heart-like', '_icon')
					._content
						._info-product 
							p._name-product Ткань для шитья флис 
							span Флис FG-001 230±4 г/кв.м ФАСОВКА 50 см х 50 см 100\% полиэстер-№383 желтый
						._price 
							._new-price 1000 руб 
							._old-price 
						._button._clip-circle
								a(href="") 
									span подробнее
			._slide
				.slide-container
					//- ._body
					._image 
						img(src="@@webRoot/img/products/sale-products/K-5463.png", alt="картинка")
						._inner
							._lable Новинка 
							._favourit
								+iconfont('heart-like', '_icon')
					._content
						._info-product 
							p._name-product  Ткань для шитья Джерси
							span Трикотажное полотно из вискозы. Материал эластичен, имеет растяжимость по всем сторонам.
						._price 
							._new-price 1000 руб
							._old-price
						._button._clip-circle
								a(href="") 
									span подробнее
			._slide
				.slide-container
					//- ._body
					._image 
						img(src="@@webRoot/img/products/sale-products/K-5586.png", alt="картинка")
						._inner
							._lable Новинка 
							._favourit
								+iconfont('heart-like', '_icon')
					._content
						._info-product 
							p._name-product  Бамбуковая полиэфирная ткань
							span  Бамбуковый спандекс, матовая французская махровая ткань
						._price 
							._new-price 1000 руб
							._old-price
						._button._clip-circle
								a(href="") 
									span подробнее
			._slide
				.slide-container
					//- ._body
					._image 
						img(src="@@webRoot/img/products/sale-products/K-5588.png", alt="")
						._inner
							._lable Новинка 
							._favourit
								+iconfont('heart-like', '_icon')
					._content
						._info-product 
							p._name-product Ткань для шитья флис 
							span Флис FG-001 230±4 г/кв.м ФАСОВКА 50 см х 50 см 100\% полиэстер-№383 желтый
						._price 
							._new-price 1000 руб
							._old-price 
						._button._clip-circle
							a(href="") 
								span подробнее




