.new-products
	._body
		._title
			._button-prev
				+iconfont('arow-left','_icon')
			.title-text
				._text недавно смотрели 
			._button-next
				+iconfont('arow-right','_icon')
		._content._swiper
			._slide
				.slide-container 
					._image 
						img(src="@@webRoot/img/products/new-products/K-7446.png", alt="картинка")
						._inner
							._lable Новинка 
							._favourit
								+iconfont('heart-like', '_icon')
					._content
						._info-product 
							p._name-product Кулирка 100% хлопок
							span Трикотаж высокого качества, очень мягкий и&nbsp;приятный к&nbsp;телу, не&nbsp;пилингуется, не&nbsp;выстирывается.
						._price 
							._new-price 1000 руб
							._old-price 1000 руб 
						._button._clip-circle
							a(href="@@webRoot/catalog/product-card.html") подробнее
			._slide
				.slide-container 
					._image 
						img(src="@@webRoot/img/products/new-products/K-5589.png", alt="картинка")
						._inner
							._lable Новинка 
							._favourit
								+iconfont('heart-like', '_icon')
					._content
						._info-product 
							p._name-product Ткань флис
							span Флис FG-001 230±4 г/кв.м ФАСОВКА 50&nbsp;см&nbsp;х&nbsp;50&nbsp;см 100 % полиэстер-№383 желтый
						._price 
							._new-price 1000 руб 
							._old-price
						._button._clip-circle
								a(href="") 
									span подробнее
			._slide
				.slide-container 
					._image 
						img(src="@@webRoot/img/products/new-products/K-5463.png", alt="картинка")
						._inner
							._lable Новинка 
							._favourit
								+iconfont('heart-like', '_icon')
					._content
						._info-product 
							p._name-product Ткань для шитья флис 
							span Флис – нетканный материал, из&nbsp;полиэстера. (двухсторонний 150&nbsp;х&nbsp;200&nbsp;см 190&nbsp;г/м2 100% полиэстер темно-голубой)
						._price 
							._new-price 1000 руб 
							._old-price 1000 руб
						._button._clip-circle
								a(href="") 
									span подробнее
			._slide
				.slide-container 
					._image 
						img(src="@@webRoot/img/products/new-products/K-7444.png", alt="картинка")
						._inner
							._lable Новинка 
							._favourit
								+iconfont('heart-like', '_icon')
					._content
						._info-product 
							p._name-product  Ткань для шитья Джерси
							span Трикотажное полотно из&nbsp;вискозы. Материал эластичен, имеет растяжимость по&nbsp;всем сторонам.
						._price 
							._new-price 1000 руб
							._old-price
						._button._clip-circle
								a(href="") 
									span подробнее
			._slide
				.slide-container 
					._image 
						img(src="@@webRoot/img/products/new-products/K-5590.png", alt="картинка")
						._inner
							._lable Новинка 
							._favourit
								+iconfont('heart-like', '_icon')
					._content
						._info-product 
							p._name-product  Бамбуковая полиэфирная ткань
							span  Бамбуковый спандекс, матовая французская махровая ткань
						._price 
							._new-price 1000 руб
							._old-price
						._button._clip-circle
								a(href="") 
									span подробнее
			._slide
				.slide-container
					//- ._body
					._image 
						img(src="@@webRoot/img/products/new-products/K-5463.png", alt="")
						._inner
							._lable Новинка 
							._favourit
								+iconfont('heart-like', '_icon')
					._content
						._info-product 
							p._name-product Ткань для шитья флис 
							span Флис – нетканный материал, который изготавливается из полиэстера. (двухсторонний 150&nbsp;х&nbsp;200&nbsp;см 190&nbsp;г/м2 100% полиэстер темно-голубой)
						._price 
							._new-price 1000 руб
							._old-price 1000 руб 
						._button._clip-circle
							a(href="") 
								span подробнее
