// -----------------------------------------------------------------------------
.card__favourites:not(._like) {
	.icon-heart-like {
		opacity: 0;
	}
}
.side-bar__parent-menu > ._collapse:not(._show) {
	display: none;
}

.sub-menu__menu > ._collapse:not(._show) {
	display: none;
}
//*  ------------------------ [Greed Card a] -----------------------------------
.card-product {
	display: flex;
	height: 100%;
	flex-direction: column;

	// .card__thumb
	&__thumb {
		flex: 1 1 auto;
	}

	// .card__image
	&__image {
		width: 100%;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		height: 100%;
		padding-bottom: 10px;

		a {
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}

		img {
			vertical-align: bottom;
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	// .card__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	// .card__text
	&__text {
		h2 {
			white-space: nowrap;
			color: rgb(88, 88, 86);
			font-size: 2rem;
			font-weight: 700;
			line-height: 120%; /* 24px/20 */
			letter-spacing: 0%;
			text-align: center;
			margin-bottom: 10px;
		}
	}

	// .card__button
	&__button {
		cursor: pointer;
		max-width: 200px;
		width: 100%;
		max-width: 200px;
		border: 1px solid rgb(88, 88, 86);
		border-radius: 10px;
		transition:
			background-color 0.3s,
			color 0.3s ease-in-out;

		&:hover {
			background-color: $color;
			border: 1px solid $color;
			span {
				color: $bg-color;
			}
		}

		a {
			display: flex;
			justify-content: center;
			padding: 10px 0;
			height: 100%;
			width: 100%;
		}

		span {
			color: rgb(0, 0, 0);
			font-size: 1.4rem;
			line-height: 121.428571%; /* 17px/14 */
			text-align: center;
		}
	}
}
// -----------------------------------------------------------------------------
.company-info {
	// .company-info__title
	&__title {
		width: 100%;
		margin-bottom: 6rem;
		font-size: 3.5rem;
		font-weight: 700;
		line-height: 120%; /* 48px/40 */

		@include _screen-375 {
			text-align: center;
		}
	}

	// .company-info__content
	&__content {
		height: 100%;

		@include _screen-768 {
			display: flex;
			flex-direction: column;
			width: auto;
			align-items: center;
		}
	}

	// .discounts-info__list
	&__list {
		@include _screen-768 {
			font-weight: 600;
		}
	}

	// .company-info__item
	&__item {
		display: flex;
		align-items: center;

		._icon {
			color: $color;
			font-size: 10px;
			margin-right: 8px;
		}

		&:not(:last-child) {
			margin-bottom: 8px;
		}
		span {
			font-size: 13px;
		}
	}
}

// -----------------------------------------------------------------------------
.button {
	border: 1px solid #585856;
	border-radius: 10px;
	white-space: nowrap;
	transition:
		background-color 0.3s,
		color 0.3s ease-in-out;
	font-size: 1.4rem;
	height: 38px;
	min-width: 16.5rem;

	&:active {
		box-shadow: 1px 1px 4px #000;
	}

	&:hover {
		box-shadow: 1px 1px 4px #000000a8;
	}

	&.button--red {
		color: $bg-color;
		background: $color;
		border: none;

		&:active {
			border: 1px solid #585856;
			background-color: $bg-color;
			color: black;
		}

		&:hover {
			box-shadow: 1px 1px 4px #000;
		}
	}
}
// -----------------------------------------------------------------------------
.login-container {
	// .login-container__body
	&__body {
		// position: relative;
		margin-right: 2rem;
		width: 100%;
		height: 100%;
		z-index: 10;
	}

	// .login-container__login
	&__login {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		[class*='icon-'] {
			font-size: 20px;
		}
	}

	// .login-container__list
	&__list {
		cursor: pointer;
		width: auto;
		display: flex;
		justify-content: space-between;

		@include _screen-1140 {
			min-width: 250px;
			padding: 2rem;
			pointer-events: none;
			position: absolute;
			top: 16px;
			right: 0;
			opacity: 0;
			// transform: translate(50%, 60%);
			transform: translateY(60%);
			border: 1px solid $color-border;
			background: $bg-color;
			border-radius: 10px;
			transition: all 0.5s ease-in-out;
			justify-content: space-evenly;
			box-shadow: 1px 1px 5px #000;
			&._visible {
				pointer-events: all;
				opacity: 1;
				display: flex;
			}
		}

		span {
			margin-right: 0.3rem;
			line-height: 170%;
		}
	}

	// .login-container__link
	&__link {
		white-space: nowrap;
		font-size: 13px;
		transition: color 0.3s ease;

		&._active {
			font-weight: 700;
			font-size: 12.8px;
		}

		&:hover {
			color: $color;
			text-decoration: underline;
		}

		&:not(:last-child) {
			margin-right: 0.5rem;
		}

		@include _min-960 {
			&:first-child {
				padding-left: 0.5rem;
			}
			line-height: 0;
		}

		@include flex-align-center;
	}

	// .login-container__button
	&__user-button {
		@include _min-1140 {
			pointer-events: none;
		}
	}

	// .login-container__phone
	&__phone {
		white-space: nowrap;
		justify-self: end;
		align-self: center;

		a {
			line-height: 120%;
			&:hover {
				line-height: 110%;
				font-size: 1.455rem;
				letter-spacing: -0.4px;
			}
		}
	}

	// .login-container__button//
	&__button {
		height: 38px;
		@include _screen-690 {
			display: flex;
			align-items: center;
		}
	}
}

// -----------------------------------------------------------------------------
.swiper-wrapper {
	align-items: flex-start;
}
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
._ibg {
	position: relative;
	img {
		position: absolute;
		top: 0;
		right: 0;
		// width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

// -----------------------------------------------------------------------------
.product-offer {
	&__title--favourites {
		display: flex;
		justify-content: center;
	}
}
