.footer {
	// .footer__body
	&__body {
		font-size: 1.4rem;
		padding: 2.4rem 2.4rem 4.2rem;
		display: grid;
		gap: 2rem;
		grid-template-columns: 1fr 1fr 1fr 1fr;

		@include _screen-768 {
			grid-template-columns: 1fr 1fr;
		}

		@include _screen-425 {
			padding: 2rem 2rem 4.2rem;
			grid-template-columns: 1fr;
		}
	}

	// .footer__column
	&__column {
		@include _screen-490 {
			&:not(:last-child) {
				border-bottom: 1px solid #fff;
				padding-bottom: 2rem;
			}
		}

		&:nth-child(1) {
			@include _min-768 {
				grid-row: 1 / 3;
			}
			@include _425-768 {
				grid-row: 1 / 2;
			}
		}

		&:nth-child(3) {
			@include _425-768 {
				grid-row: 2 / 3;
				grid-column: 1 / 2;
			}
		}

		&:nth-child(4) {
			@include _425-768 {
				grid-row: 2 / 3;
				transform: translateY(-120px);
			}
		}

		&:nth-child(5) {
			display: flex;
			gap: 1rem;
			align-items: end;
			justify-content: space-between;

			@include _min-768 {
				grid-column: -4 / -1;
			}

			@include _425-768 {
				grid-column: -3 / -1;
			}

			@include _screen-425 {
				flex-direction: column;
				align-items: flex-start;
			}
		}
	}

	// .footer__logo
	&__logo {
		padding-left: 5px;
		margin-bottom: 5rem;
		width: 204px;
		height: 58px;
		border-radius: 15px;
		background: $bg-color;
		overflow: hidden;

		img {
			object-fit: contain;
		}

		@include _screen-490 {
			width: 100%;
		}
	}

	// .footer__title
	&__title {
		margin-bottom: 2.5rem;
		font-size: 1.4rem;
		font-weight: 600;
		line-height: 17px;
	}

	// .footer__address
	&__address {
		margin-bottom: 2rem;
	}

	// .footer__phone

	&__phone {
		span {
			&:not(:last-child) {
				display: block;
				margin-bottom: 2rem;
			}
		}
	}

	// .footer__form
	&__form {
		input {
			border: 1px solid $bg-color;
			border-radius: 10px;
			padding: 10px;
			transition: box-shadow 0.3s ease-in-out;
			&::placeholder {
				color: $bg-color;
			}
			&:focus {
				box-shadow: 0 0 5px #b3f6ff;
			}
		}
	}

	&__input-conttainer {
		max-width: 217px;
		position: relative;
		@include _screen-425 {
			min-width: 100%;
		}
	}

	// .footer__input
	&__input {
		padding: 0 0 20px;
		input {
			width: 100%;
		}
		@include _screen-425 {
			width: 100%;
		}
	}

	// .footer__bUtton
	&__bUtton {
		margin-bottom: 30px;

		button {
			width: 100%;
			max-width: 217px;
			border: none;
			background: $bg-color;
			color: black;
			font-size: 1.6rem;
			font-weight: 500;
			letter-spacing: 0.5px;

			@include _screen-425 {
				text-align: center;
				min-width: 100%;
			}
		}
	}
	//.footer__text {
	&__text {
		&:nth-child(2) {
			text-align: right;
			white-space: nowrap;
		}

		a {
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.networks-icons {
	// .networks-icons__items
	&__items {
		display: flex;
		align-items: center;
	}

	// .networks-icons__icon
	&__icon {
		width: 31px;
		height: 31px;
		border-radius: 50%;
		background: $bg-color;

		&:not(:last-child) {
			margin-right: 10px;
		}
		._icon {
			color: $color;
			font-size: 18px;
		}
	}
}
