.header {
	max-width: $maxWidthContainer;
	margin: 0 auto;

	// .header__header
	&__header {
		position: relative;
		padding: 1rem 0;
		white-space: nowrap;
		font-size: 1.4rem;
		display: flex;
		gap: 0.5rem;

		@include flex-align-center-justify-space-between;
	}

	// .header__column
	&__column {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 1rem;

		&:nth-child(1) {
			flex: 0 1 auto;
		}
		&:nth-child(2) {
			flex: 0 1 45%;
		}
	}

	// .header__top-menu
	&__top-menu {
		@include flex-align-center;
	}

	// .header__login
	&__login {
		display: flex;
		align-items: center;
	}

	// .header__footer
	&__footer {
		padding: 1.5rem;
		display: flex;
		align-items: center;
		border-radius: 10px;
		background: linear-gradient(to right, #a83434 50%, #ea8e7f 100%);
		@include flex-align-center-justify-space-between;

		@include _screen-768 {
			display: none;
		}
	}

	// .header__cart
	&__cart {
		@include _screen-768 {
			span {
				&:nth-child(2) {
					display: none;
				}
			}
		}
	}

	&__link {
		display: flex;
		align-items: center;
		font-size: 13px;

		&:hover {
			color: $color;
			span {
				text-decoration: underline;
			}
		}
		._icon {
			margin-right: 0.5rem;
			font-size: 23px;
		}
	}

	// .header__search
	&__search {
		@include _screen-768 {
			width: 100%;
		}
	}

	&__burger-button {
		margin-left: 1.5rem;
		padding: 10px 6px;
		overflow: hidden;
		background: #dbdbdb;
		height: 36px;
		width: 36px;
		cursor: pointer;
		border-radius: 3px;
		@include _min-920 {
			display: none;
		}
	}
}

.top-menu {
	// .top-menu__logo
	&__logo {
		display: flex;
		align-items: center;
		@include _min-768 {
			margin-right: 3rem;
		}
	}

	// .top-menu__image
	&__image {
		margin-right: 10px;
		width: 14.4rem;
		height: 4.2rem;
		width: 144px;
		height: 42px;
	}

	// .top-menu__text
	&__text {
		font-size: 13px;
		span {
			@include _min-768 {
				display: block;
			}
		}
	}

	// .top-menu__contacts
	&__contacts {
		font-size: 12px;
		font-weight: 500;

		@include _min-425 {
			flex-wrap: wrap;
			@include flex-align-center;
		}
	}

	// .top-menu__phone
	&__phone {
		font-size: 13px;
		@include _min-425 {
			margin-right: 1.5rem;
		}
		@include _screen-425 {
			margin-bottom: 3px;
		}
	}

	&__email {
		font-size: 14px;
	}

	// .top-menu__email
	&__email,
	&__phone {
		transition: all 0.3s ease-in-out;
		&:hover {
			text-decoration: underline;
			color: $color;
		}

		a {
			line-height: 121.428571%; /* 17px/14 */
			text-align: center;
		}
	}
}

.main-menu {
	flex: 1 1 auto;

	// .main-menu__body
	&__body {
		display: flex;
		margin-right: 6.5rem;
		gap: 2rem;
		justify-content: space-between;

		color: $bg-color;
		@include _screen-768 {
			margin-right: 0;
			color: black;
			flex-direction: column;
			align-items: flex-start;
		}
	}

	// .main-menu__link
	&__link {
		white-space: nowrap;

		@include _screen-768 {
			line-height: 250%;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}
