.header {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	// .header__header-wrapper
	&__header-wrapper {
		background: $bg-color;
	}

	// .header__top-menu
	&__top-menu {
		border-bottom: 1px solid $color;
		padding: 0.75rem 0;
		display: grid;
		justify-content: space-between;
		align-items: center;
		grid-template-columns: 1fr 1fr;

		@include _690 {
			grid-template-columns: min-content 1fr min-content;
			justify-items: center;
			padding: 8px 0 6px;
			border: none;
		}

		.header__column {
			&:nth-child(2) {
				@include _min-690 {
					display: none;
				}
			}
		}
	}

	// .header__column
	&__column {
		display: flex;
		flex-direction: column;
		flex: 0 1 50%;

		@include _690 {
			&:nth-child(3) {
				justify-self: end;
			}
		}
		// .login-container__list
		.login-container {
			// .login-container__user-button
			&__user-button {
				pointer-events: none;

				@include _screen-960 {
					pointer-events: all;
				}
			}

			// .login-container__fade-in
			&__fade-in {
				position: absolute;
				top: 0;
				right: 0;
				opacity: 0;
				transform: translateY(70%);
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 1rem 2rem;
				border: 1px solid $color;
				background: $bg-color;
				border-radius: 5px;
				height: 50px;
				z-index: 8;
				width: auto;
				@include _screen-960 {
					pointer-events: none;
					box-shadow: 1px 1px 3px #000;
					transition: all 0.5s ease-in-out;
					&._visible {
						pointer-events: all;
						opacity: 1;
						display: flex;
					}
				}
			}
		}
	}

	// .header__menu-middle
	&__middle-menu {
		position: relative;
		@include _690 {
			display: none;
		}

		@include flex-align-center-justify-space-between;
	}

	// .header__bottom-menu
	&__menu-bottom {
		box-shadow: 1px 1px 5px #00000085;
		@include _690 {
			display: none;
		}

		width: 100%;
		border-radius: 10px;
		color: $font-color-other;

		background: linear-gradient(to right, #a83434 50%, #ea8e7f 100%);
	}

	// .header__button-sidebarcatalog
	&__button-sidebarcatalog {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		border: 1px solid $color;
		._icon {
			color: $color;
		}
		@include _min-690 {
			display: none;
		}
	}

	// .header__button-menu
	&__button-menu {
		@include _min-690 {
			display: none;
		}
	}
}

.main-menu {
	@include _690 {
		display: none;
	}

	// .main-menu__body
	&__body {
		display: flex;
		max-width: 54rem;
		justify-content: space-between;
		@include _screen-920 {
			// position: fixed;
			li {
				margin-left: 2.5rem;
			}
			li:first-child {
				margin-left: 0;
			}
		}
	}

	// .main-menu__link
	&__link {
		display: inline-block;
		font-size: 1.5rem;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;

		&:hover {
			font-weight: 700;
		}
	}
}

.service-menu {
	@include _690 {
		display: none;
	}

	// .service-menu__body
	&__body {
		padding-left: 2rem;
		display: grid;
		justify-content: space-between;
		align-items: center;
		grid-template-columns: auto minmax(13.048rem, max-content);
		@include _screen-960 {
			justify-content: end;
		}
	}

	// .service-menu__list
	&__column {
		width: 100%;
		align-items: center;
		display: flex;

		&:nth-child(1) {
			justify-content: space-between;
			@include _screen-960 {
				justify-content: flex-end;
				padding-right: 2.4rem;
			}
		}
		&:nth-child(2) {
			justify-content: flex-end;
		}

		@include _screen-960 {
			justify-content: end;
			grid-template-columns: max-content max-content min-content;
		}
	}

	// .service-menu__link
	&__link {
		height: 100%;
		transition: all 0.3s ease;
		@include flex-align-center;
		.icon-shopping-cart {
			&::before {
				font-size: 3rem;
			}
		}
		[class*='icon-'] {
			font-size: 2.7rem;
		}

		justify-content: flex-end;
		@include _690 {
			justify-content: flex-end;
		}

		&:nth-child(2) {
			margin-left: 4.4rem;
		}
	}

	// .service-menu__text
	&__text {
		font-size: 1.5rem;
		height: 20px;
		line-height: 0;
		padding: 0 0.5rem;
		white-space: nowrap;

		&:hover {
			font-weight: 700;
			font-size: 1.465rem;
		}

		@include flex-align-center;

		@include _screen-960 {
			&:not(:last-child) {
				display: none;
			}
		}
	}
}

.logo-container {
	@include flex-align-center;

	// .logo-container__brand
	&__brand {
		height: 4rem;
		width: 4rem;
		@include flex-align-center;
	}

	// .logo-container__image
	&__image {
		img {
			width: 15rem;
			height: 4rem;
			object-fit: contain;
		}
	}
}

.middle-menu {
	// .middle-menu__body
	&__body {
		max-width: 54rem;
		@include flex-justify-space-between;
	}
}

.anchor-link {
	// .anchor-link_link
	&__link {
		&:hover {
			font-weight: 700;
		}
	}
}
