$icon-font-family: 'icon-set' !default;
$icon-font-path: '../fonts' !default;

$icon-assortment: unquote('"\\e90c"');
$icon-cart: unquote('"\\e90d"');
$icon-delivery: unquote('"\\e90e"');
$icon-quality: unquote('"\\e90f"');
$icon-services: unquote('"\\e910"');
$icon-trash: unquote('"\\e938"');
$icon-cross-middle: unquote('"\\e944"');
$icon-cancel: unquote('"\\ea3d"');
$icon-cancel-circle: unquote('"\\ea3b"');
$icon-search: unquote('"\\e900"');
$icon-heart-like: unquote('"\\e9da"');
$icon-user-check: unquote('"\\e975"');
$icon-catalog: unquote('"\\e90a"');
$icon-group: unquote('"\\e90b"');
$icon-search-doc: unquote('"\\e907"');
$icon-star: unquote('"\\f005"');
$icon-star-o: unquote('"\\f006"');
$icon-arow-down: unquote('"\\e909"');
$icon-mobile-profile: unquote('"\\e905"');
$icon-mobile-catalog: unquote('"\\e906"');
$icon-rub: unquote('"\\f159"');
$icon-arow-right: unquote('"\\e901"');
$icon-arow-left: unquote('"\\e902"');
$icon-whatsapp: unquote('"\\f232"');
$icon-vk-brand: unquote('"\\f189"');
$icon-telegram-fly: unquote('"\\e91b"');
$icon-minus: unquote('"\\e908"');
$icon-plus: unquote('"\\e911"');
$icon-heart: unquote('"\\e903"');
$icon-shopping-cart: unquote('"\\e904"');
