//* ------------------------------- [Variables] --------------------------------
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1470px;
$headerHeight: 4rem;
$footerHeight: 4rem;
$sidebarWidth: 4rem;
$titleHeight: 3rem;
$min-height: calc(100% - ($headerHeight + $footerHeight));
//* ---------------------------- [Font Variables] ------------------------------
$font-path: '../fonts';
$font-defoult: 'Inter', sans-serif;
$font-size: 1.5rem;
$font-family-secondary: 'Arial', sans-serif;
$font-weight-defoult: 500;
//* ------------------------------ [Font color] --------------------------------
$font-color-defoult: rgb(0, 0, 0);
$font-color-secondary: rgb(0, 70, 70);
$font-color-other: #e1b69e;
//* -------------------------------- [Color] -----------------------------------
$color: #a83434;
$bg-color: #ffff;
$color-second: #ea8e7f;
$color-link: #dd8686;
$color-hover: red;
$color-border: #585856;
$color-green: #004646;
//* ------------------------------- [margins] ----------------------------------
$margins-footer: 1.7rem;
//* ---------------------------- [Other colors] --------------------------------

//* ----------------------------------------------------------------------------
$text-selection: #0054633f;
$text-color-selection: #9b9999;
//* ----------------------------------------------------------------------------

$snap: cubic-bezier(1, 0.005, 0.24, 1);
$bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
