@import 'core/variables';
@import 'core/mixins';
@import 'core/extend';
[class*='_container'] {
	max-width: $maxWidthContainer;
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 10px;

	@include _min-1140 {
		padding: 0 30px;
	}
}

// todo --------------------------- layout -------------------------------------
@import 'layouts/bem-block';
@import 'layouts/header';
@import 'layouts/footer';
// todo --------------------------- Pages --------------------------------------
@import 'pages/page';
// todo --------------------------- Chunk --------------------------------------
@import 'chunk/search';
@import 'chunk/burger-button';
@import 'chunk/bread-crumbs';
@import 'chunk/modal-registration';
@import 'chunk/login-modal';
// todo -------------------------- Modules -------------------------------------
@import 'modules/preloader';
@import 'modules/sidebar-menu';
@import 'modules/sidebar-catalog';
@import 'modules/card-content';
// todo -------------------------- Sections ------------------------------------
@import 'section/section-products-catalog';
@import 'section/section-catalog-products';
@import 'section/section-products-slide.scss';
@import 'section/section-categories';
