extends ../layouts/app_layout
append link 
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/brands.min.css")
prepend script 
	script(defer="defer" type="text/javascript" src="@@webRoot/js/brands.min.js")
block title
	- var text='Essen -Pro "Обнинск" / Поставщики компании' 

block main-content 
	.page__bread-crumbs
		nav.bread-crumbs
			ul._list
				li
					a._link(href="@@webRoot/index.html" title="/ Главная") Главная / 
				li
					span._item Марки
	block section-new-products
		include ../components/page-brands/catalog-by-brand
	block section-new-products
		include ../components/page-products/products-slide
	block section-products-catalog 
		include ../components/page-products/product-catalog