extends ../layouts/app_layout
append link 
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/favourites.min.css")
prepend script 
	script(defer="defer" type="text/javascript" src="@@webRoot/js/favourites.min.js")
block title
	- var text='Essen -Pro "Обнинск" / Избранное' 

block main-content 
	.page__bread-crumbs
		nav.bread-crumbs
			ul._list
				li
					a._link(href="@@webRoot/index.html" title="/ Главная") Главная /  
				li
					span._current-item Избранное 

	block section-favourites
		include ../components/page-index/section-favourites 



