extends ../layouts/app_layout
append link 
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/products-card.min.css")
prepend script 
	script(defer="defer" type="text/javascript" src="@@webRoot/js/products-card.min.js")
block title
	- var text='Essen -Pro "Обнинск" / Избранное' 

block main-content 
	.page__bread-crumbs
		nav.bread-crumbs
			ul._list
				li
					a._link(href="@@webRoot/index.html" title="/ Главная") Главная / 
				li
					a._link(href="@@webRoot/index.html" title="/ Главная") Каталог / 
				li
					a._link(href="@@webRoot/index.html" title="/ Главная") Молоко / 
				li
					span._current-item Название товара 

	block section-favourites
		include ../components/page-index/section-favourites
	//- block section-new-products
	//- 	include ../components/page-products/products-slide 



