extends ../layouts/app_layout
append link 
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/index.min.css")
prepend script 
	script(defer="defer" type="text/javascript" src="@@webRoot/js/index.min.js")
block title
	- var text='Essen -Pro "Обнинск"' 

block main-content 
	block section-perform
		include ../components/page-index/section-perform
	block section-discounts
		include ../components/page-index/section-discounts
	block section-info
		include ../components/page-index/section-info
	block section-categories 
		include ../components/page-index/section-categories
	block section-clients
		include ../components/page-index/section-clients
	block section-collection
		include ../components/page-index/section-collection
	block section-about
		include ../components/page-index/section-about


	block section-news 
		include ../components/page-index/section-news
	block section-providers
		include ../components/page-index/section-providers
	block section-map
		include ../components/page-index/section-map



