extends ../layouts/app_layout
append link 
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/index.min.css")
prepend script 
	script(defer="defer" type="text/javascript" src="@@webRoot/js/index.min.js")
block title
	- var text='Essen -Pro "Обнинск"' 

block page-content
	.page#page
		._container
			//- include ../chunk/modal-regisrations-fiz
			//- include ../chunk/modal-regisrations-ure
			//- nav._sidebar-catalog
			//- 	.sidebar-search.bp-4
			//- 		._top.bp-2
			//- 			button(type="button")._icon-cancel.catalog-cansel
			//- 				+iconfont('cancel-circle', 'icon')
				//- include ../chunk/sidebar-catalog
			//- include ../chunk/sidebar-menu
			section._header
				include ../layouts/header
			//- ._content 
			//- 	section._textile 
			//- 		img(src="./img/main/textile.png", alt="картинка")
			//- 	section._new-products
			//- 		include ../components/section-new-products
			//- 	section._portiere-fabrics 
			//- 		include ../components/section-portiere-fabrics 
			//- 	section._furniture-fabrics
			//- 		include ../components/section-furniture-fabrics
			//- 	section._costume-fabrics
			//- 		include ../components/section-costume-fabrics
			//- 	section._sale-products
			//- 		include ../components/section-sale-products
			//- 	section._delivery
			//- 		include ../components/section-delivery
			//- 	section._about
			//- 		include ../components/section-about
			//- 	section._reviews
			//- 		include ../components/section-reviews 
			//- section._footer
			//- 	include ../layouts/footer 
			//- nav._buttom-menu
			//- 	include ../layouts/float-menu
			
				
