section.collection.page__collection
	._title 
		h2 Специальные подборки
	._products
		._column
			.card-product
				._thumb
					._image 
						a(href="")
							img(src="@@webRoot/img/main/products/product-9.png", alt="картинка")
				._content
					._text 
						h2 Для кондитерских
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product
				._thumb
					._image 
						a(href="")
							img(src="@@webRoot/img/main/products/product-10.png", alt="картинка")
				._content
					._text 
						h2 Для коктейлей
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product
				._thumb
					._image 
						a(href="")
							img(src="@@webRoot/img/main/products/product-11.png", alt="картинка")
				._content
					._text 
						h2 Для пиццерий
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product
				._thumb
					._image 
						a(href="")
							img(src="@@webRoot/img/main/products/product-12.png", alt="картинка")
				._content
					._text 
						h2 Для фаст-фуда
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product
				._thumb
					._image 
						a(href="")
							img(src="@@webRoot/img/main/products/product-13.png", alt="картинка")
				._content
					._text 
						h2 Для гриля и BBQ
					._button 
						a(href="")
							span смотреть 