section.info-company.page__info 
		._title 
			h2 Продукты оптом от Essen
				span Pro
		._text 
			h3 Лидер рынка продуктов питания для ресторанов и&nbsp;кафе
			p 13 лет мы помогаем предпринимателям решать задачи, связанные с&nbsp;закупками продуктов питания. EssenPro специализируется на&nbsp;оптово&nbsp;-&nbsp;розничных поставках продуктов питания в&nbsp;Калужской, Московской областях и&nbsp;других регионах России.
		._label 
			._item
				h2 1 500+ 
				p наименований продуктов
			._item
				h2 30+
				p производителей
			._item
				h2 50+
				p торговых марок
			._item
				h2 800+
				p довольных клиентов
		._text 
			p Многолетний опыт доставки продуктов питания мелким и крупным оптом, устойчивые связи с&nbsp;проверенными поставщиками позволяют поддерживать полный ассортимент продуктов для&nbsp;предприятий общественного питания, включающий в&nbsp;себя лучшие продукты со&nbsp;всего мира по&nbsp;самым конкурентным ценам. Требования сегодняшнего рынка&nbsp;-&nbsp;стабильное и&nbsp;высокое качество продукции и&nbsp;сервиса.
