section.news-company.page__news-company
	._title 
		h2 Новости Essen
			span Pro
	._content
		._column
			.card
				._thumb
					._image 
						a(href="")
							img(src="@@webRoot/img/main/news/news-1.png", alt="картинка")
				._content
					._data 
						span 24.10.2023
					._text
						span С новым годом!
		._column
			.card
				._thumb
					._image 
						a(href="")
							img(src="@@webRoot/img/main/news/news-2.png", alt="картинка")
				._content
					._data 
						span 24.10.2023
					._text
						span Новая линейка продуктов от&nbsp;бренда&nbsp;Простаквашино
		._column
			.card
				._thumb
					._image 
						a(href="")
							img(src="@@webRoot/img/main/news/news-3.png", alt="картинка")
				._content
					._data 
						span 24.10.2023
					._text
						span Обновление условий системы&nbsp;лояльности
	._footer 
		._button 
			a(href="") Все новости