section.about-company.page__about-company
	._title 
		h2 Наши поставщики 
		p Мы дорожим своей репутацией, поэтому выстраиваем партнёрские отношения с&nbsp;производителями, которые изготавливают только&nbsp;высококачественную продукцию с&nbsp;конкурентоспособными ценами.
	._items
		._item 
			._icon 
				+iconfont('quality', '_icon')
			._text
				h3 Надёжно
				p Контролируем качество и температурный режим, бережно транспортируем продукты
		._item 
			._icon 
				+iconfont('assortment', '_icon')
			._text
				h3 Выгодно
				p Широкий ассортимент наименований товаров, постоянные скидки и акции
		._item 
			._icon 
				+iconfont('delivery', '_icon')
			._text
				h3 Быстро
				p Мы осуществляем бесплатную доставку собственным транспортом до дверей вашей компании
		._item 
			._icon 
				+iconfont('cart', '_icon')
			._text
				h3 Профессионально
				p Индивидуальные условия сотрудничества, персональный менеджер, обратная связь
		._item 
			._icon 
				+iconfont('services', '_icon')
			._text
				h3 Удобно
				p Возможность приобретения мелкооптовыми и крупными партиями