.favourites-product.page__favourites
	._title Избранное 
	.products
		._content
			._column 
				.card(data-quantity)
					._body
						._header
							._label
								span новинка
							._favourites
								+iconfont('heart', '_icon')
								+iconfont('heart-like', '_icon')
						._image 
							img(src="@@webRoot/img/main/products/product-14.png", alt="картинка")
						._info
							._title Макароные изделия ТМ”Щербинские” Вермишелька 450гр
							._content
								._price 46.00
									span р
								._text Щебекинские
						._buttons 
							._counter
								.counter-product
									.quantity.counter-product__quantity
										.quantity__button.quantity-remove
											+iconfont('minus', '_icon') 
										.quantity__input
											input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off")
										.quantity__button.quantity-add
											+iconfont('plus', '_icon')
							._button 
								button(type="submit") 
									span В корзину
					._blur
			._column 
				.card(data-quantity)
					._body
						._header
							._label
								span хит
							._favourites
								+iconfont('heart', '_icon')
								+iconfont('heart-like', '_icon')
						._image 
							img(src="@@webRoot/img/main/products/product-15.png", alt="картинка")
						._info
							._title Суп грибной с&nbsp;вермешелью ТМ”Жар востока” 50 гр
							._content
								._price 17.40
									span р
								._text Жар востока
						._buttons 
							._counter
								.counter-product
									.quantity.counter-product__quantity
										.quantity__button.quantity-remove
											+iconfont('minus', '_icon') 
										.quantity__input
											input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
										.quantity__button.quantity-add 
											+iconfont('plus', '_icon')
							._button 
								button(type="submit") 
									span В корзину
					._blur
			._column 
				.card(data-quantity)
					._body
						._header
							._label
								span новинка
							._favourites
								+iconfont('heart', '_icon')
								+iconfont('heart-like', '_icon')
						._image 
							img(src="@@webRoot/img/main/products/product-16.png", alt="картинка")
						._info
							._title Сок виноградный осветленный восстановлинный ТМ”Давыдов Продукт” 3л
							._content
								._price 46.00
									span р
								._text Соки, Нектары
						._buttons 
							._counter
								.counter-product
									.quantity.counter-product__quantity
										.quantity__button.quantity-remove
											+iconfont('minus', '_icon') 
										.quantity__input
											input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
										.quantity__button.quantity-add 
											+iconfont('plus', '_icon')
							._button 
								button(type="submit") 
									span В корзину
					._blur
			._column 
				.card(data-quantity)
					._body
						._header
							._label
								span хит
							._favourites
								+iconfont('heart', '_icon')
								+iconfont('heart-like', '_icon')
						._image 
							img(src="@@webRoot/img/main/products/product-17.png", alt="картинка")
						._info
							._title Сыр плавленный ТМ”Экомилк” 400гр
							._content
								._price 46.00
									span р
								._text Щебекинские
						._buttons 
							._counter
								.counter-product
									.quantity.counter-product__quantity
										.quantity__button.quantity-remove
											+iconfont('minus', '_icon') 
										.quantity__input
											input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
										.quantity__button.quantity-add
											+iconfont('plus', '_icon')
							._button 
								button(type="submit") 
									span В корзину
					._blur
			._column 
				.card(data-quantity)
					._body
						._header
							._label
								span хит
							._favourites
								+iconfont('heart', '_icon')
								+iconfont('heart-like', '_icon')
						._image 
							img(src="@@webRoot/img/main/products/product-14.png", alt="картинка")
						._info
							._title Макароные изделия ТМ”Щербинские” Вермишелька 450гр
							._content
								._price 46.00
									span р
								._text Щебекинские
						._buttons 
							._counter
								.counter-product
									.quantity.counter-product__quantity
										.quantity__button.quantity-remove
											+iconfont('minus', '_icon') 
										.quantity__input
											input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off")
										.quantity__button.quantity-add
											+iconfont('plus', '_icon')
							._button 
								button(type="submit") 
									span В корзину
					._blur
			._column 
				.card(data-quantity)
					._body
						._header
							._label
								span новинка
							._favourites
								+iconfont('heart', '_icon')
								+iconfont('heart-like', '_icon')
						._image 
							img(src="@@webRoot/img/main/products/product-15.png", alt="картинка")
						._info
							._title Суп грибной с вермешелью ТМ”Жар востока” 50&nbsp;гр
							._content
								._price 17.40
									span р
								._text Жар востока
						._buttons 
							._counter
								.counter-product
									.quantity.counter-product__quantity
										.quantity__button.quantity-remove
											+iconfont('minus', '_icon') 
										.quantity__input
											input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
										.quantity__button.quantity-add 
											+iconfont('plus', '_icon')
							._button 
								button(type="submit") 
									span В корзину
					._blur
			._column 
				.card(data-quantity)
					._body
						._header
							._label
								span хит
							._favourites
								+iconfont('heart', '_icon')
								+iconfont('heart-like', '_icon')
						._image 
							img(src="@@webRoot/img/main/products/product-16.png", alt="картинка")
						._info
							._title Сок виноградный осветленный восстановлинный ТМ”Давыдов Продукт” 3л
							._content
								._price 46.00
									span р
								._text Соки, Нектары
						._buttons 
							._counter
								.counter-product
									.quantity.counter-product__quantity
										.quantity__button.quantity-remove
											+iconfont('minus', '_icon') 
										.quantity__input
											input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
										.quantity__button.quantity-add 
											+iconfont('plus', '_icon')
							._button 
								button(type="submit") 
									span В корзину
					._blur
			._column 
				.card(data-quantity)
					._body
						._header
							._label
								span хит
							._favourites
								+iconfont('heart', '_icon')
								+iconfont('heart-like', '_icon')
						._image 
							img(src="@@webRoot/img/main/products/product-17.png", alt="картинка")
						._info
							._title Сыр плавленный ТМ”Экомилк” 400гр
							._content
								._price 46.00
									span р
								._text Щебекинские
						._buttons 
							._counter
								.counter-product
									.quantity.counter-product__quantity
										.quantity__button.quantity-remove
											+iconfont('minus', '_icon') 
										.quantity__input
											input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
										.quantity__button.quantity-add
											+iconfont('plus', '_icon')
							._button 
								button(type="submit") 
									span В корзину
					._blur
			._column 
				.card(data-quantity)
					._body
						._header
							._label
								span хит
							._favourites
								+iconfont('heart', '_icon')
								+iconfont('heart-like', '_icon')
						._image 
							img(src="@@webRoot/img/main/products/product-14.png", alt="картинка")
						._info
							._title Макароные изделия ТМ”Щербинские” Вермишелька 450гр
							._content
								._price 46.00
									span р
								._text Щебекинские
						._buttons 
							._counter
								.counter-product
									.quantity.counter-product__quantity
										.quantity__button.quantity-remove
											+iconfont('minus', '_icon') 
										.quantity__input
											input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off")
										.quantity__button.quantity-add
											+iconfont('plus', '_icon')
							._button 
								button(type="submit") 
									span В корзину
					._blur
			._column 
				.card(data-quantity)
					._body
						._header
							._label
								span хит
							._favourites
								+iconfont('heart', '_icon')
								+iconfont('heart-like', '_icon')
						._image 
							img(src="@@webRoot/img/main/products/product-15.png", alt="картинка")
						._info
							._title Суп грибной с вермешелью ТМ”Жар востока” 50&nbsp;гр
							._content
								._price 17.40
									span р
								._text Жар востока
						._buttons 
							._counter
								.counter-product
									.quantity.counter-product__quantity
										.quantity__button.quantity-remove
											+iconfont('minus', '_icon') 
										.quantity__input
											input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
										.quantity__button.quantity-add 
											+iconfont('plus', '_icon')
							._button 
								button(type="submit") 
									span В корзину
					._blur
			._column 
				.card(data-quantity)
					._body
						._header
							._label
								span новинка
							._favourites
								+iconfont('heart', '_icon')
								+iconfont('heart-like', '_icon')
						._image 
							img(src="@@webRoot/img/main/products/product-16.png", alt="картинка")
						._info
							._title Сок виноградный осветленный восстановлинный ТМ”Давыдов Продукт” 3л
							._content
								._price 46.00
									span р
								._text Соки, Нектары
						._buttons 
							._counter
								.counter-product
									.quantity.counter-product__quantity
										.quantity__button.quantity-remove
											+iconfont('minus', '_icon') 
										.quantity__input
											input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
										.quantity__button.quantity-add 
											+iconfont('plus', '_icon')
							._button 
								button(type="submit") 
									span В корзину
					._blur
			._column 
				.card(data-quantity)
					._body
						._header
							._label
								span хит
							._favourites
								+iconfont('heart', '_icon')
								+iconfont('heart-like', '_icon')
						._image 
							img(src="@@webRoot/img/main/products/product-17.png", alt="картинка")
						._info
							._title Сыр плавленный ТМ”Экомилк” 400гр
							._content
								._price 46.00
									span р
								._text Щебекинские
						._buttons 
							._counter
								.counter-product
									.quantity.counter-product__quantity
										.quantity__button.quantity-remove
											+iconfont('minus', '_icon') 
										.quantity__input
											input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
										.quantity__button.quantity-add
											+iconfont('plus', '_icon')
							._button 
								button(type="submit") 
									span В корзину
					._blur
			._column 
				.card(data-quantity)
					._body
						._header
							._label
								span новинка
							._favourites
								+iconfont('heart', '_icon')
								+iconfont('heart-like', '_icon')
						._image 
							img(src="@@webRoot/img/main/products/product-14.png", alt="картинка")
						._info
							._title Макароные изделия ТМ”Щербинские” Вермишелька 450гр
							._content
								._price 46.00
									span р
								._text Щебекинские
						._buttons 
							._counter
								.counter-product
									.quantity.counter-product__quantity
										.quantity__button.quantity-remove
											+iconfont('minus', '_icon') 
										.quantity__input
											input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off")
										.quantity__button.quantity-add
											+iconfont('plus', '_icon')
							._button 
								button(type="submit") 
									span В корзину
					._blur
			._column 
				.card(data-quantity)
					._body
						._header
							._label
								span хит
							._favourites
								+iconfont('heart', '_icon')
								+iconfont('heart-like', '_icon')
						._image 
							img(src="@@webRoot/img/main/products/product-15.png", alt="картинка")
						._info
							._title Суп грибной с&nbsp;вермешелью ТМ”Жар востока” 50&nbsp;гр
							._content
								._price 17.40
									span р
								._text Жар востока
						._buttons 
							._counter
								.counter-product
									.quantity.counter-product__quantity
										.quantity__button.quantity-remove
											+iconfont('minus', '_icon') 
										.quantity__input
											input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
										.quantity__button.quantity-add 
											+iconfont('plus', '_icon')
							._button 
								button(type="submit") 
									span В корзину
					._blur
			._column 
				.card(data-quantity)
					._body
						._header
							._label
								span хит
							._favourites
								+iconfont('heart', '_icon')
								+iconfont('heart-like', '_icon')
						._image 
							img(src="@@webRoot/img/main/products/product-16.png", alt="картинка")
						._info
							._title Сок виноградный осветленный восстановлинный ТМ”Давыдов Продукт” 3л
							._content
								._price 46.00
									span р
								._text Соки, Нектары
						._buttons 
							._counter
								.counter-product
									.quantity.counter-product__quantity
										.quantity__button.quantity-remove
											+iconfont('minus', '_icon') 
										.quantity__input
											input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
										.quantity__button.quantity-add 
											+iconfont('plus', '_icon')
							._button 
								button(type="submit") 
									span В корзину
					._blur
			._column 
				.card(data-quantity)
					._body
						._header
							._label
								span новинка
							._favourites
								+iconfont('heart', '_icon')
								+iconfont('heart-like', '_icon')
						._image 
							img(src="@@webRoot/img/main/products/product-17.png", alt="картинка")
						._info
							._title Сыр плавленный ТМ”Экомилк” 400гр
							._content
								._price 46.00
									span р
								._text Щебекинские
						._buttons 
							._counter
								.counter-product
									.quantity.counter-product__quantity
										.quantity__button.quantity-remove
											+iconfont('minus', '_icon') 
										.quantity__input
											input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
										.quantity__button.quantity-add
											+iconfont('plus', '_icon')
							._button 
								button(type="submit") 
									span В корзину
					._blur