section.info-company.page__discounts
	._body  
		._content
			._column
				.company-info
					._content
						._title скидка!
						ul._list
							li._item
								+iconfont("group", "_icon")
								span Розничные магазины
							li._item
								+iconfont("group", "_icon")
								span Тендерные закупки
							li._item
								+iconfont("group", "_icon")
								span Рестораны, кафе, столовые, бары, пиццерии
							li._item
								+iconfont("group", "_icon")
								span Локальные сети
							li._item
								+iconfont("group", "_icon")
								span Детские сады и школы
							li._item
								+iconfont("group", "_icon")
								span Региональные оптовые покупатели
			._image
				img(src="@@webRoot/img/main/pic-2.png", alt="картинка")