section.perform.page__perform 
	._content
		._body 
			._title 
				h1 Свежие продукты питания&nbsp;оптом
					span с бесплатной доставкой
			._text Больше покупок - меньше цена
			._buttons 
				a(href="#")._button.button Консультация 
				a(href="@@webRoot/products.html")._button.--red В каталог
		._image 
			img(src="@@webRoot/img/main/pic-1.png", alt="картинка")
