section.providers.page__providers
	._title 
		h2 Наши поставщики 
		p Мы дорожим своей репутацией, поэтому выстраиваем партнёрские отношения с производителями, которые изготавливают только высококачественную продукцию с конкурентоспособными ценами.
	._items
		._column
			.providers
				._image 	
					img(src="@@webRoot/img/main/providers/prov-1.png", alt="картинка")
		._column
			.providers
				._image 	
					img(src="@@webRoot/img/main/providers/prov-2.png", alt="картинка")
		._column
			.providers
				._image 	
					img(src="@@webRoot/img/main/providers/prov-3.png", alt="картинка")
		._column
			.providers
				._image 	
					img(src="@@webRoot/img/main/providers/prov-4.png", alt="картинка")
		._column
			.providers
				._image 	
					img(src="@@webRoot/img/main/providers/prov-5.png", alt="картинка")
		._column
			.providers
				._image 	
					img(src="@@webRoot/img/main/providers/prov-6.png", alt="картинка")
		._column
			.providers
				._image 	
					img(src="@@webRoot/img/main/providers/prov-7.png", alt="картинка")
		._column
			.providers
				._image 	
					img(src="@@webRoot/img/main/providers/prov-8.png", alt="картинка")
		._column
			.providers
				._image 	
					img(src="@@webRoot/img/main/providers/prov-9.png", alt="картинка")
		._column
			.providers
				._image 	
					img(src="@@webRoot/img/main/providers/prov-10.png", alt="картинка")