aside.personal-account
	._title личный кабинет
		.burger-block
			.toggle-wrap
				.toggle-menu
					span
					span
					span
	._body
		._column 
			.user-bar._sidebar-menu
				._user-name
					+iconfont('user-check', 'icon')
					span Валентина Белова
				ul._list
					li._item._active 
						span(data-page="user-personal-data").link Профиль
							+iconfont('arow-right', 'icon')
					li._item
						span(data-page="order-cart").link Корзина
							+iconfont('arow-right', 'icon')
					li._item
						span(data-page="history-order").link История заказов 
							+iconfont('arow-right', 'icon')
					li._item
						span(data-page="user-discount").link  Персональные скидки 
							+iconfont('arow-right', 'icon')
					li._item
						span(data-page="user-favourites").link Избранное
							+iconfont('arow-right', 'icon') 
					li._item
						span(data-page="feed-back").link Обратная связь
							+iconfont('arow-right', 'icon') 
					li._item
						span(data-page="change-password").link Сменить пароль
							+iconfont('arow-right', 'icon') 
		._column 
			._personal-data 
				include ../../pages/user-data/ure-personal-data