section.info-map.page__map
	._body
		._title Схема проезда
		._content
			._column
				._image
					img(src="@@webRoot/img/main/map.png", alt="картинка")
			._column
				.company-info
					._content
						ul._list
							li._item
								+iconfont("group", "_icon")
								span Розничные магазины
							li._item
								+iconfont("group", "_icon")
								span Тендерные закупки
							li._item
								+iconfont("group", "_icon")
								span Рестораны, кафе, столовые, бары, пиццерии
							li._item
								+iconfont("group", "_icon")
								span Локальные сети
							li._item
								+iconfont("group", "_icon")
								span Детские сады и школы
							li._item
								+iconfont("group", "_icon")
								span Региональные оптовые покупатели