section.categories.page__categories-by-type
	._title 
		h1 Каталог продукции по&nbsp;видам
	._body 
		nav.side-bar._side-bar 
			ul._menu-list
				li._parent-menu
					._link._trigger-menu Морепродукты
						+iconfont('arow-right', '_icon')
					//- Sub Menu
					.sub-menu._sub-menu._collapse 
						._item
							ul._menu
								li 
									a(href="")._link Морепродукты
								li
									a(href="")._link Морепродукты
								li
									a(href="")._link Морепродукты
								li
									a(href="")._link Морепродукты
								li
									a(href="")._link Морепродукты 
				li._parent-menu
					._link._trigger-menu Бакалея
						+iconfont('arow-right', '_icon')
					//- Sub Menu
					.sub-menu._sub-menu._collapse 
						._item
							ul._menu
								li._item
									a(href="")._link Бакалея
								li._item
									a(href="")._link Бакалея
								li._item
									a(href="")._link Бакалея
								li._item
									a(href="")._link Бакалея
								li._item
									a(href="")._link Бакалея 
				li._parent-menu
					._link._trigger-menu Молочная продукция
						+iconfont('arow-right', '_icon')
					//- Sub Menu
					.sub-menu._sub-menu._collapse 
						ul._menu
							li._item
								a(href="")._link Весовая молочная продукция
							li
								a(href="")._link Йогурт, Твороженые сырки, Десерты
							li._item
								a(href="")._link Кефир
							li._item
								a(href="")._link Кисломолочные продукты
							li._item
								a(href="")._link Маргарин, Спред 
							li._item
								a(href="")._link Масло сливочное 
							li._item
								a(href="")._link Масло, Спред весовое 
							li._item.menu-parrent
								._link._trigger-submenu Молоко 
									+iconfont('arow-right', '_icon')
								.sub-menu
									ul._menu
										li._parrent-menu._collapse  
											a(href="@@webRoot/catalog/pr-milk.html")._link Пастеризованное
											a(href="@@webRoot/catalog/pr-milk.html")._link Ультрапастеризованное
							li
								a(href="")._link Молочные коктейли 
							li
								a(href="")._link Ряженка 
							li
								a(href="")._link Сгущёное молоко 
							li
								a(href="")._link Сливки 
							li
								a(href="")._link Сметана 
							li
								a(href="")._link Сыр весовой 
							li
								a(href="")._link Сыр плавленый 
							li
								a(href="")._link Сыр творожный 
							li
								a(href="")._link Сыр фасованный 
							li
								a(href="")._link Творог, Творожная масса 
				li._parent-menu
					._link._trigger-menu Для барбекю
						+iconfont('arow-right', '_icon')
					//- Sub Menu
					.sub-menu._sub-menu._collapse
						ul._menu
							li 
								a(href="")._link Для барбекю
							li
								a(href="")._link Для барбекю
							li
								a(href="")._link Для барбекю
							li
								a(href="")._link Для барбекю
							li
								a(href="")._link Для барбекю 
				li._parent-menu
					._link._trigger-menu Напитики
						+iconfont('arow-right', '_icon')
					//- Sub Menu
					.sub-menu._sub-menu._collapse 
						ul._menu
							li 
								a(href="")._link Напитики
							li
								a(href="")._link Напитики
							li
								a(href="")._link Напитики
							li
								a(href="")._link Напитики
							li
								a(href="")._link Напитики 
				li._parent-menu
					._link._trigger-menu HoReCa
						+iconfont('arow-right', '_icon')
					//- Sub Menu
					.sub-menu._sub-menu._collapse
						ul._menu
							li 
								a(href="")._link HoReCa
							li
								a(href="")._link HoReCa
							li
								a(href="")._link HoReCa
							li
								a(href="")._link HoReCa
							li
								a(href="")._link HoReCa 
				li._parent-menu
					._link._trigger-menu Яйцо
						+iconfont('arow-right', '_icon')
					//- Sub Menu
					.sub-menu._sub-menu._collapse
						ul._menu
							li 
								a(href="")._link Яйцо
							li
								a(href="")._link Яйцо
							li
								a(href="")._link Яйцо
							li
								a(href="")._link Яйцо
							li
								a(href="")._link Яйцо 
				li._parent-menu
					._link._trigger-menu Овощи и фрукты
						+iconfont('arow-right', '_icon')
					//- Sub Menu
					.sub-menu._sub-menu._collapse
						ul._menu
							li 
								a(href="")._link Овощи и фрукты
							li
								a(href="")._link Овощи и фрукты
							li
								a(href="")._link Овощи и фрукты
							li
								a(href="")._link Овощи и фрукты
							li
								a(href="")._link Овощи и фрукты 
				li._parent-menu
					._link._trigger-menu Постные продукты
						+iconfont('arow-right', '_icon')
					//- Sub Menu
					.sub-menu._sub-menu._collapse 
						ul._menu
							li 
								a(href="")._link Постные продукты
							li
								a(href="")._link Постные продукты
							li
								a(href="")._link Постные продукты
							li
								a(href="")._link Постные продукты
							li
								a(href="")._link Постные продукты 

		._products
			._column
				.card-product
					._thumb
						._image 
							img(src="@@webRoot/img/main/products/product-1.png", alt="картинка")
					._content
						._text 
							h2 Морепродукты
						._button 
							a(href="")
								span смотреть 
			._column
				.card-product
					._thumb
						._image 
							img(src="@@webRoot/img/main/products/product-2.png", alt="картинка")
					._content
						._text 
							h2 Бакалея
						._button 
							a(href="")
								span смотреть
			._column
				.card-product
					._thumb
						._image
							img(src="@@webRoot/img/main/products/product-3.png", alt="картинка")
					._content
						._text 
							h2 Молочная продукция
						._button 
							a(href="")
								span смотреть
			._column
				.card-product
					._thumb
						._image
							img(src="@@webRoot/img/main/products/product-4.png", alt="картинка")
					._content
						._text 
							h2 Для барбекю
						._button 
							a(href="")
								span смотреть
			._column
				.card-product
					._thumb
						._image 
							img(src="@@webRoot/img/main/products/product-5.png", alt="картинка")
					._content
						._text 
							h2 Напитки
						._button 
							a(href="")
								span смотреть
			._column
				.card-product
					._thumb
						._image 
							img(src="@@webRoot/img/main/products/product-6.png", alt="картинка")
					._content
						._text 
							h2 HoReCa
						._button 
							a(href="")
								span смотреть
			._column
				.card-product
					._thumb
						._image 
							img(src="@@webRoot/img/main/products/product-7.png", alt="картинка")
					._content
						._text 
							h2 Яйцо
						._button 
							a(href="")
								span смотреть
			._column
				.card-product
					._thumb
						._image 
							img(src="@@webRoot/img/main/products/product-8.png", alt="картинка")
					._content
						._text 
							h2 Овощи и фрукты
						._button 
							a(href="")
								span смотреть
