section.categories.page__categories-by-type
	._title 
		h2 Каталог продукции по видам
		.toggle-catalog
			+iconfont('catalog', '_icon')
			+iconfont('cross-middle', '_icon')
	._body 
		aside.side-bar._side-bar
			nav._menu
				ul._list 
					li._item._active
						._link Морепродукты
						+iconfont('arow-right', '_icon')
					li._item
						._link Бакалея
						+iconfont('arow-right', '_icon')
					li._item
						a(href="")._link Молочная продукция
						+iconfont('arow-right', '_icon')
					li._item
						._link Для барбекю
						+iconfont('arow-right', '_icon')
					li._item
						._link Напитики
						+iconfont('arow-right', '_icon')
					li._item
						._link HoReCa
						+iconfont('arow-right', '_icon')
					li._item
						._link Яйцо
						+iconfont('arow-right', '_icon')
					li._item
						._link Овощи и фрукты
						+iconfont('arow-right', '_icon')
					li._item
						._link Постные продукты
						+iconfont('arow-right', '_icon')

		._products
			._column
				.card-product
					._thumb
						._image 
							a(href="")
								img(src="@@webRoot/img/main/products/product-1.png", alt="картинка")
					._content
						._text 
							h2 Морепродукты
						._button 
							a(href="")
								span смотреть 
			._column
				.card-product
					._thumb
						._image 
							a(href="")
								img(src="@@webRoot/img/main/products/product-2.png", alt="картинка")
					._content
						._text 
							h2 Бакалея
						._button 
							a(href="")
								span смотреть
			._column
				.card-product
					._thumb
						._image 
							a(href="")
								img(src="@@webRoot/img/main/products/product-3.png", alt="картинка")
					._content
						._text 
							h2 Молочная продукция
						._button 
							a(href="")
								span смотреть
			._column
				.card-product
					._thumb
						._image 
							a(href="")
								img(src="@@webRoot/img/main/products/product-4.png", alt="картинка")
					._content
						._text 
							h2 Для барбекю
						._button 
							a(href="")
								span смотреть
			._column
				.card-product
					._thumb
						._image 
							a(href="")
								img(src="@@webRoot/img/main/products/product-5.png", alt="картинка")
					._content
						._text 
							h2 Напитки
						._button 
							a(href="")
								span смотреть
			._column
				.card-product
					._thumb
						._image 
							a(href="")
								img(src="@@webRoot/img/main/products/product-6.png", alt="картинка")
					._content
						._text 
							h2 HoReCa
						._button 
							a(href="")
								span смотреть
			._column
				.card-product
					._thumb
						._image 
							a(href="")
								img(src="@@webRoot/img/main/products/product-7.png", alt="картинка")
					._content
						._text 
							h2 Яйцо
						._button 
							a(href="")
								span смотреть
			._column
				.card-product
					._thumb
						._image 
							a(href="")
								img(src="@@webRoot/img/main/products/product-8.png", alt="картинка")
					._content
						._text 
							h2 Овощи и фрукты
						._button 
							a(href="")
								span смотреть
