section.categories.page__catalog-products
	._title 
		h1 Молоко оптом
		p Компания EssenPro предоставляет широкий выбор молочных и кисломолочных товаров оптом. Ключевыми особенностями нашей работы являются достаточно низкие оптовые цены на продукты при очень высоком качестве продукции.
	._body 
		nav.side-bar._side-bar 
			ul._menu-list
				li._parent-menu
					._link._trigger-menu Морепродукты
						+iconfont('arow-right', '_icon')
					//- Sub Menu
					.sub-menu._sub-menu._collapse 
						._item
							ul._menu
								li 
									a(href="")._link Морепродукты
								li
									a(href="")._link Морепродукты
								li
									a(href="")._link Морепродукты
								li
									a(href="")._link Морепродукты
								li
									a(href="")._link Морепродукты 
				li._parent-menu
					._link._trigger-menu Бакалея
						+iconfont('arow-right', '_icon')
					//- Sub Menu
					.sub-menu._sub-menu._collapse 
						._item
							ul._menu
								li._item
									a(href="")._link Бакалея
								li._item
									a(href="")._link Бакалея
								li._item
									a(href="")._link Бакалея
								li._item
									a(href="")._link Бакалея
								li._item
									a(href="")._link Бакалея 
				li._parent-menu
					._link._trigger-menu Молочная продукция
						+iconfont('arow-right', '_icon')
					//- Sub Menu
					.sub-menu._sub-menu._collapse 
						ul._menu
							li._item
								a(href="")._link Весовая молочная продукция
							li
								a(href="")._link Йогурт, Твороженые сырки, Десерты
							li._item
								a(href="")._link Кефир
							li._item
								a(href="")._link Кисломолочные продукты
							li._item
								a(href="")._link Маргарин, Спред 
							li._item
								a(href="")._link Масло сливочное 
							li._item
								a(href="")._link Масло, Спред весовое 
							li._item.menu-parrent
								._link._trigger-submenu Молоко 
									+iconfont('arow-right', '_icon')
								.sub-menu
									ul._menu
										li._parrent-menu._collapse  
											a(href="")._link Пастеризованное
											a(href="")._link Ультрапастеризованное
							li
								a(href="")._link Молочные коктейли 
							li
								a(href="")._link Ряженка 
							li
								a(href="")._link Сгущёное молоко 
							li
								a(href="")._link Сливки 
							li
								a(href="")._link Сметана 
							li
								a(href="")._link Сыр весовой 
							li
								a(href="")._link Сыр плавленый 
							li
								a(href="")._link Сыр творожный 
							li
								a(href="")._link Сыр фасованный 
							li
								a(href="")._link Творог, Творожная масса 
				li._parent-menu
					._link._trigger-menu Для барбекю
						+iconfont('arow-right', '_icon')
					//- Sub Menu
					.sub-menu._sub-menu._collapse
						ul._menu
							li 
								a(href="")._link Для барбекю
							li
								a(href="")._link Для барбекю
							li
								a(href="")._link Для барбекю
							li
								a(href="")._link Для барбекю
							li
								a(href="")._link Для барбекю 
				li._parent-menu
					._link._trigger-menu Напитики
						+iconfont('arow-right', '_icon')
					//- Sub Menu
					.sub-menu._sub-menu._collapse 
						ul._menu
							li 
								a(href="")._link Напитики
							li
								a(href="")._link Напитики
							li
								a(href="")._link Напитики
							li
								a(href="")._link Напитики
							li
								a(href="")._link Напитики 
				li._parent-menu
					._link._trigger-menu HoReCa
						+iconfont('arow-right', '_icon')
					//- Sub Menu
					.sub-menu._sub-menu._collapse
						ul._menu
							li 
								a(href="")._link HoReCa
							li
								a(href="")._link HoReCa
							li
								a(href="")._link HoReCa
							li
								a(href="")._link HoReCa
							li
								a(href="")._link HoReCa 
				li._parent-menu
					._link._trigger-menu Яйцо
						+iconfont('arow-right', '_icon')
					//- Sub Menu
					.sub-menu._sub-menu._collapse
						ul._menu
							li 
								a(href="")._link Яйцо
							li
								a(href="")._link Яйцо
							li
								a(href="")._link Яйцо
							li
								a(href="")._link Яйцо
							li
								a(href="")._link Яйцо 
				li._parent-menu
					._link._trigger-menu Овощи и фрукты
						+iconfont('arow-right', '_icon')
					//- Sub Menu
					.sub-menu._sub-menu._collapse
						ul._menu
							li 
								a(href="")._link Овощи и фрукты
							li
								a(href="")._link Овощи и фрукты
							li
								a(href="")._link Овощи и фрукты
							li
								a(href="")._link Овощи и фрукты
							li
								a(href="")._link Овощи и фрукты 
				li._parent-menu
					._link._trigger-menu Постные продукты
						+iconfont('arow-right', '_icon')
					//- Sub Menu
					.sub-menu._sub-menu._collapse 
						ul._menu
							li 
								a(href="")._link Постные продукты
							li
								a(href="")._link Постные продукты
							li
								a(href="")._link Постные продукты
							li
								a(href="")._link Постные продукты
							li
								a(href="")._link Постные продукты 
										
		section.products.page__products 
			._content
				._column 
					.card(data-quantity)
						._body
							._header
								._label
									span новинка
								._favourites
									+iconfont('heart', '_icon')
									+iconfont('heart-like', '_icon')
							._image 
								img(src="@@webRoot/img/main/products/product-14.png", alt="картинка")
							._info
								._title Макароные изделия ТМ”Щербинские” Вермишелька 450гр
								._content
									._price 46.00
										span р
									._text Щебекинские
							._buttons 
								._counter
									.counter-product
										.quantity.counter-product__quantity
											.quantity__button.quantity-remove
												+iconfont('minus', '_icon') 
											.quantity__input
												input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off")
											.quantity__button.quantity-add
												+iconfont('plus', '_icon')
								._button 
									button(type="submit") 
										span В корзину
						._blur
				._column 
					.card(data-quantity)
						._body
							._header
								._label
									span хит
								._favourites
									+iconfont('heart', '_icon')
									+iconfont('heart-like', '_icon')
							._image 
								img(src="@@webRoot/img/main/products/product-15.png", alt="картинка")
							._info
								._title Суп грибной с вермешелью ТМ”Жар востока” 50 гр
								._content
									._price 17.40
										span р
									._text Жар востока
							._buttons 
								._counter
									.counter-product
										.quantity.counter-product__quantity
											.quantity__button.quantity-remove
												+iconfont('minus', '_icon') 
											.quantity__input
												input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
											.quantity__button.quantity-add 
												+iconfont('plus', '_icon')
								._button 
									button(type="submit") 
										span В корзину
						._blur
				._column 
					.card(data-quantity)
						._body
							._header
								._label
									span новинка
								._favourites
									+iconfont('heart', '_icon')
									+iconfont('heart-like', '_icon')
							._image 
								img(src="@@webRoot/img/main/products/product-16.png", alt="картинка")
							._info
								._title Сок виноградный осветленный восстановлинный ТМ”Давыдов Продукт” 3л
								._content
									._price 46.00
										span р
									._text Соки, Нектары
							._buttons 
								._counter
									.counter-product
										.quantity.counter-product__quantity
											.quantity__button.quantity-remove
												+iconfont('minus', '_icon') 
											.quantity__input
												input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
											.quantity__button.quantity-add 
												+iconfont('plus', '_icon')
								._button 
									button(type="submit") 
										span В корзину
						._blur
				._column 
					.card(data-quantity)
						._body
							._header
								._label
									span хит
								._favourites
									+iconfont('heart', '_icon')
									+iconfont('heart-like', '_icon')
							._image 
								img(src="@@webRoot/img/main/products/product-17.png", alt="картинка")
							._info
								._title Сыр плавленный ТМ”Экомилк” 400гр
								._content
									._price 46.00
										span р
									._text Щебекинские
							._buttons 
								._counter
									.counter-product
										.quantity.counter-product__quantity
											.quantity__button.quantity-remove
												+iconfont('minus', '_icon') 
											.quantity__input
												input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
											.quantity__button.quantity-add
												+iconfont('plus', '_icon')
								._button 
									button(type="submit") 
										span В корзину
						._blur
				._column 
					.card(data-quantity)
						._body
							._header
								._label
									span хит
								._favourites
									+iconfont('heart', '_icon')
									+iconfont('heart-like', '_icon')
							._image 
								img(src="@@webRoot/img/main/products/product-14.png", alt="картинка")
							._info
								._title Макароные изделия ТМ”Щербинские” Вермишелька 450гр
								._content
									._price 46.00
										span р
									._text Щебекинские
							._buttons 
								._counter
									.counter-product
										.quantity.counter-product__quantity
											.quantity__button.quantity-remove
												+iconfont('minus', '_icon') 
											.quantity__input
												input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off")
											.quantity__button.quantity-add
												+iconfont('plus', '_icon')
								._button 
									button(type="submit") 
										span В корзину
						._blur
				._column 
					.card(data-quantity)
						._body
							._header
								._label
									span новинка
								._favourites
									+iconfont('heart', '_icon')
									+iconfont('heart-like', '_icon')
							._image 
								img(src="@@webRoot/img/main/products/product-15.png", alt="картинка")
							._info
								._title Суп грибной с вермешелью ТМ”Жар востока” 50 гр
								._content
									._price 17.40
										span р
									._text Жар востока
							._buttons 
								._counter
									.counter-product
										.quantity.counter-product__quantity
											.quantity__button.quantity-remove
												+iconfont('minus', '_icon') 
											.quantity__input
												input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
											.quantity__button.quantity-add 
												+iconfont('plus', '_icon')
								._button 
									button(type="submit") 
										span В корзину
						._blur
				._column 
					.card(data-quantity)
						._body
							._header
								._label
									span хит
								._favourites
									+iconfont('heart', '_icon')
									+iconfont('heart-like', '_icon')
							._image 
								img(src="@@webRoot/img/main/products/product-16.png", alt="картинка")
							._info
								._title Сок виноградный осветленный восстановлинный ТМ”Давыдов Продукт” 3л
								._content
									._price 46.00
										span р
									._text Соки, Нектары
							._buttons 
								._counter
									.counter-product
										.quantity.counter-product__quantity
											.quantity__button.quantity-remove
												+iconfont('minus', '_icon') 
											.quantity__input
												input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
											.quantity__button.quantity-add 
												+iconfont('plus', '_icon')
								._button 
									button(type="submit") 
										span В корзину
						._blur
				._column 
					.card(data-quantity)
						._body
							._header
								._label
									span хит
								._favourites
									+iconfont('heart', '_icon')
									+iconfont('heart-like', '_icon')
							._image 
								img(src="@@webRoot/img/main/products/product-17.png", alt="картинка")
							._info
								._title Сыр плавленный ТМ”Экомилк” 400гр
								._content
									._price 46.00
										span р
									._text Щебекинские
							._buttons 
								._counter
									.counter-product
										.quantity.counter-product__quantity
											.quantity__button.quantity-remove
												+iconfont('minus', '_icon') 
											.quantity__input
												input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
											.quantity__button.quantity-add
												+iconfont('plus', '_icon')
								._button 
									button(type="submit") 
										span В корзину
						._blur
				._column 
					.card(data-quantity)
						._body
							._header
								._label
									span хит
								._favourites
									+iconfont('heart', '_icon')
									+iconfont('heart-like', '_icon')
							._image 
								img(src="@@webRoot/img/main/products/product-14.png", alt="картинка")
							._info
								._title Макароные изделия ТМ”Щербинские” Вермишелька 450гр
								._content
									._price 46.00
										span р
									._text Щебекинские
							._buttons 
								._counter
									.counter-product
										.quantity.counter-product__quantity
											.quantity__button.quantity-remove
												+iconfont('minus', '_icon') 
											.quantity__input
												input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off")
											.quantity__button.quantity-add
												+iconfont('plus', '_icon')
								._button 
									button(type="submit") 
										span В корзину
						._blur
				._column 
					.card(data-quantity)
						._body
							._header
								._label
									span хит
								._favourites
									+iconfont('heart', '_icon')
									+iconfont('heart-like', '_icon')
							._image 
								img(src="@@webRoot/img/main/products/product-15.png", alt="картинка")
							._info
								._title Суп грибной с вермешелью ТМ”Жар востока” 50 гр
								._content
									._price 17.40
										span р
									._text Жар востока
							._buttons 
								._counter
									.counter-product
										.quantity.counter-product__quantity
											.quantity__button.quantity-remove
												+iconfont('minus', '_icon') 
											.quantity__input
												input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
											.quantity__button.quantity-add 
												+iconfont('plus', '_icon')
								._button 
									button(type="submit") 
										span В корзину
						._blur
				._column 
					.card(data-quantity)
						._body
							._header
								._label
									span новинка
								._favourites
									+iconfont('heart', '_icon')
									+iconfont('heart-like', '_icon')
							._image 
								img(src="@@webRoot/img/main/products/product-16.png", alt="картинка")
							._info
								._title Сок виноградный осветленный восстановлинный ТМ”Давыдов Продукт” 3л
								._content
									._price 46.00
										span р
									._text Соки, Нектары
							._buttons 
								._counter
									.counter-product
										.quantity.counter-product__quantity
											.quantity__button.quantity-remove
												+iconfont('minus', '_icon') 
											.quantity__input
												input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
											.quantity__button.quantity-add 
												+iconfont('plus', '_icon')
								._button 
									button(type="submit") 
										span В корзину
						._blur
				._column 
					.card(data-quantity)
						._body
							._header
								._label
									span хит
								._favourites
									+iconfont('heart', '_icon')
									+iconfont('heart-like', '_icon')
							._image 
								img(src="@@webRoot/img/main/products/product-17.png", alt="картинка")
							._info
								._title Сыр плавленный ТМ”Экомилк” 400гр
								._content
									._price 46.00
										span р
									._text Щебекинские
							._buttons 
								._counter
									.counter-product
										.quantity.counter-product__quantity
											.quantity__button.quantity-remove
												+iconfont('minus', '_icon') 
											.quantity__input
												input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
											.quantity__button.quantity-add
												+iconfont('plus', '_icon')
								._button 
									button(type="submit") 
										span В корзину
						._blur
				._column 
					.card(data-quantity)
						._body
							._header
								._label
									span новинка
								._favourites
									+iconfont('heart', '_icon')
									+iconfont('heart-like', '_icon')
							._image 
								img(src="@@webRoot/img/main/products/product-14.png", alt="картинка")
							._info
								._title Макароные изделия ТМ”Щербинские” Вермишелька 450гр
								._content
									._price 46.00
										span р
									._text Щебекинские
							._buttons 
								._counter
									.counter-product
										.quantity.counter-product__quantity
											.quantity__button.quantity-remove
												+iconfont('minus', '_icon') 
											.quantity__input
												input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off")
											.quantity__button.quantity-add
												+iconfont('plus', '_icon')
								._button 
									button(type="submit") 
										span В корзину
						._blur
				._column 
					.card(data-quantity)
						._body
							._header
								._label
									span хит
								._favourites
									+iconfont('heart', '_icon')
									+iconfont('heart-like', '_icon')
							._image 
								img(src="@@webRoot/img/main/products/product-15.png", alt="картинка")
							._info
								._title Суп грибной с вермешелью ТМ”Жар востока” 50 гр
								._content
									._price 17.40
										span р
									._text Жар востока
							._buttons 
								._counter
									.counter-product
										.quantity.counter-product__quantity
											.quantity__button.quantity-remove
												+iconfont('minus', '_icon') 
											.quantity__input
												input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
											.quantity__button.quantity-add 
												+iconfont('plus', '_icon')
								._button 
									button(type="submit") 
										span В корзину
						._blur
				._column 
					.card(data-quantity)
						._body
							._header
								._label
									span хит
								._favourites
									+iconfont('heart', '_icon')
									+iconfont('heart-like', '_icon')
							._image 
								img(src="@@webRoot/img/main/products/product-16.png", alt="картинка")
							._info
								._title Сок виноградный осветленный восстановлинный ТМ”Давыдов Продукт” 3л
								._content
									._price 46.00
										span р
									._text Соки, Нектары
							._buttons 
								._counter
									.counter-product
										.quantity.counter-product__quantity
											.quantity__button.quantity-remove
												+iconfont('minus', '_icon') 
											.quantity__input
												input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
											.quantity__button.quantity-add 
												+iconfont('plus', '_icon')
								._button 
									button(type="submit") 
										span В корзину
						._blur
				._column 
					.card(data-quantity)
						._body
							._header
								._label
									span новинка
								._favourites
									+iconfont('heart', '_icon')
									+iconfont('heart-like', '_icon')
							._image 
								img(src="@@webRoot/img/main/products/product-17.png", alt="картинка")
							._info
								._title Сыр плавленный ТМ”Экомилк” 400гр
								._content
									._price 46.00
										span р
									._text Щебекинские
							._buttons 
								._counter
									.counter-product
										.quantity.counter-product__quantity
											.quantity__button.quantity-remove
												+iconfont('minus', '_icon') 
											.quantity__input
												input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off") 
											.quantity__button.quantity-add
												+iconfont('plus', '_icon')
								._button 
									button(type="submit") 
										span В корзину
						._blur
			._additional-text
				h2 Дополнительный текст раздела
				p Пейте дети молоко - будете здоровы! Всем известна с детства эта фраза. Это действительно очень полезный продукт, можно сказать суперфуд. Отличный источник белка и кальция. В нем содержится магний, который необходим для роста костей. Это наша главная еда с первых дней жизни. А козье по своему составу приравнивается к грудному.
				p На сайте нашего интернет-магазина найдёте широкий выбор этого продукта. Ультра пастеризованное молоко длительного хранения, также пастеризованное, которое нужно использовать в течение 7 дней и безлактозное. 
				p Тщательно соблюдаем условия хранения. По требованию предоставим сертификаты качества. Низкие цены для каждого покупателя благодаря сотрудничеству с производством без посредников. Доставка во все регионы организована собственным автотранспортом.