section.product-catalog.page__product-catalog
	._title 
		h2 Каталог продуктов от Essen
			span Pro
	._text 
		p 13 лет мы помогаем предпринимателям решать задачи, связанные с&nbsp;закупками продуктов питания. EssenPro специализируется на&nbsp;оптово&nbsp;-&nbsp;розничных поставках продуктов питания в&nbsp;Калужской, Московской областях и&nbsp;других регионах России.

