section.providers.page__providers-by-brand 
	._title 
		h2 Каталог продукции по маркам 
	._items
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-1.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-2.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-3.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-4.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-5.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-6.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-7.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-8.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-9.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-10.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-1.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-2.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-3.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-4.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-5.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-6.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-7.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-8.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-9.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть 
		._column
			.card-product.providers
				._thumb
					._image 	
						img(src="@@webRoot/img/main/providers/prov-10.png", alt="картинка")
				._content
					._text 
						h2 Название
					._button 
						a(href="")
							span смотреть