.page {
	// .page__container
	&__container {
		margin-bottom: 20px;
	}
	// .page__header
	&__header {
		padding: 0 10px;
		position: relative;
		z-index: 7;
		background: $bg-color;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		transition: all 0.7s ease-in-out;

		@include _768 {
			box-shadow: 0 0 5px #000;
		}
	}

	// .page__perform
	&__perform {
		position: relative;
	}

	// .page__content
	&__content {
		margin-top: 12.2rem;
		@include _768 {
			margin-top: 7.5rem;
		}
	}

	// .page__footer
	&__footer {
		border-radius: 30px;

		@include _425 {
			border-radius: 15px;
		}

		background: linear-gradient(
			90deg,
			rgb(182, 71, 68) 0.02%,
			rgb(210, 109, 99) 99.618%
		);

		color: $bg-color;
	}

	// .page__buttom-menu
	&__buttom-menu {
		transition: all 0.5s ease 0.3s;
		z-index: 9;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;

		@include _min-690 {
			display: none;
		}
	}

	// .page__bread-crumbs
	&__bread-crumbs {
		margin-bottom: 2rem;
	}

	// .page__discounts
	&__discounts {
		padding: 3rem 0 5.3rem;
	}

	// .page__info
	&__info {
		padding: 3rem 0 5.3rem;
	}

	// .page__clients
	&__clients {
		padding: 3rem 0 5.3rem;
	}

	// .page__categories
	&__categories {
		padding: 3rem 0 5.3rem;
	}

	// .page__collection
	&__collection {
		padding: 3rem 0 5.3rem;
	}

	// .page__map
	&__map {
		padding: 3rem 0 5.3rem;
	}

	// .page__providers
	&__providers {
		padding: 3rem 0 5.3rem;
	}

	// .page__news-company
	&__news-company {
		padding: 3rem 0 5.3rem;
		overflow-x: hidden;
	}

	// .page__about-company
	&__about-company {
		padding: 3rem 0 5.3rem;
	}
}
