.page {
	// .page__about-company
	&__about-company {
		padding: 3rem 0 9.3rem;
	}

	// .page_card
	&__card {
		padding: 0 0 6.8rem;
	}

	// .page__buttom-menu
	&__buttom-menu {
		transition: all 0.5s ease 0.3s;
		z-index: 9;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;

		@include _min-690 {
			display: none;
		}
	}

	// .page__bread-crumbs
	&__bread-crumbs {
		padding: 1rem 0;
		display: flex;
		justify-content: space-between;
	}

	// .page__container
	&__container {
		margin-bottom: 20px;
	}

	// ..page__categories-by-type
	&__categories-by-type {
		padding: 3rem 0 8.6rem;
	}

	// .page__content
	&__content {
		flex: 1 1 auto;
		height: 100%;
		margin-top: 12.2rem;
		@include _screen-1024 {
			margin-top: 13.5rem;
		}
		@include _screen-768 {
			margin-top: 7.5rem;
		}
	}

	// .page__catalog-products
	&__catalog-products {
		padding: 3rem 0 8.6rem;
	}

	// .page__categories
	&__categories {
		padding: 3rem 0 9.3rem;
	}

	// .page__categories
	&__categories {
		padding: 3rem 0 9.3rem;
	}

	// .page__clients
	&__clients {
		padding: 3rem 0 9.3rem;
	}

	// .page__collection
	&__collection {
		padding: 3rem 0 9.3rem;
	}

	// .page__discounts
	&__discounts {
		padding: 3rem 0 9.3rem;
		.info-company__body {
			box-shadow: 10px 15px 30px rgba(172, 172, 172, 0.4196078431);
		}
	}

	// .page__footer
	&__footer {
		border-radius: 30px;

		@include _screen-425 {
			border-radius: 15px;
		}

		background: linear-gradient(
			90deg,
			rgb(182, 71, 68) 0.02%,
			rgb(210, 109, 99) 99.618%
		);

		color: $bg-color;
	}

	// .page__header
	&__header {
		padding: 0 30px;
		position: relative;
		z-index: 12;
		background: $bg-color;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		transition: all 0.7s ease-in-out;

		@include _screen-768 {
			box-shadow: 0 0 5px #000;
		}
		@include _screen-1140 {
			padding: 0 10px;
		}
	}

	// .page__info
	&__info {
		padding: 3rem 0 9.3rem;
	}
	// .page__map
	&__map {
		padding: 3rem 0 9.3rem;
	}

	// .page__news-company
	&__news-company {
		padding: 3rem 0 9.3rem;
		overflow-x: hidden;
	}

	// .page__new-products
	&__new-products {
		padding: 3rem 0 9.3rem;
	}

	// .page__perform
	&__perform {
		position: relative;
	}

	// .page__providers
	&__providers {
		padding: 3rem 0 9.3rem;
	}

	// .page__product-catalog
	&__product-catalog {
		padding: 3rem 0 8.6rem;
	}

	// .page__providers-by-brand
	&__providers-by-brand {
		padding: 3rem 0 8.6rem;
		.card-product__image img {
			width: 100%;
		}
	}

	// .page__personal-account
	&__personal-account {
		padding: 0 0 8.6rem;
	}

	// .page__cart
	&__cart {
		padding: 0 0 8.6rem;
	}

	// .page__favourites
	&__favourites {
		padding: 0 0 8.6rem;
		display: flex;
		flex-direction: column;
		height: 100%;
	}
}
