extends ../../layouts/app_layout
append link 
	link(rel="stylesheet" type="text/css" href="@@webRoot/css/catalog.min.css")
prepend script 
	script(defer="defer" type="text/javascript" src="@@webRoot/js/catalog.min.js")
block title
	- var text='Essen -Pro "Обнинск" / Продукция компании' 

block main-content 
	.page__bread-crumbs
		nav.bread-crumbs
			ul._list
				li
					a._link(href="@@webRoot/index.html" title="/ Главная") Главная / 
				li
					span._item Продукция
		.toggle-catalog
			+iconfont('catalog', '_icon')
			+iconfont('cross-middle', '_icon')
	block section-new-products
		include ../../components/page-products/catalog-products