.card {
	position: relative;
	width: 100%;
	height: 100%;

	// .card__body
	&__body {
		background: #fff;
		position: relative;
		z-index: 7;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		width: 100%;
		min-width: 255px;
		max-width: 290px;

		border-radius: 15px;
		padding: 10px;

		@include _screen-375 {
			max-width: 270px;
		}
	}

	&__blur {
		border-radius: 15px;
		margin: 0 auto;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: #7b7b7b80;
		z-index: 1;
		filter: blur(7px);
		max-width: 290px;
		@include _screen-375 {
			max-width: 270px;
		}
	}

	// .card__header
	&__header {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	// .card__thumb
	&__thumb {
		width: 100%;
	}

	// .card__label
	&__label {
		display: flex;
		border-radius: 10px;

		background: linear-gradient(
			87.06deg,
			rgb(168, 52, 52) 61.096%,
			rgb(234, 142, 127) 99.181%
		);

		span {
			padding: 6px 10px;
			text-transform: uppercase;
			color: $bg-color;
			font-size: 12px;
			font-weight: 700;
			line-height: 125%; /* 15px/12 */
			text-align: center;
		}
	}

	// .card__favourites
	&__favourites {
		width: 22px;
		height: 22px;
		position: relative;
		font-size: 22px;

		&._like {
			.icon-heart {
				opacity: 0;
			}
		}

		._icon {
			transition: opacity 0.4s ease-in-out;
			position: absolute;
			top: 0;
			left: 0;
		}

		.icon-heart-like {
			color: $color;
		}
	}

	// .card__image
	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		max-height: 100%;
		min-height: 150px;
		margin-bottom: 18px;

		img {
			max-height: 150px;
			vertical-align: bottom;
			object-fit: cover;
		}
	}

	// .card__info
	&__info {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	// .card__title
	&__title {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		height: 100%;
		font-size: 12px;
		font-weight: 700;
		line-height: 125%; /* 15px/12 */
		text-align: center;
		text-wrap: pretty;
	}

	// .card__price
	&__price {
		margin-bottom: 5px;
		color: $color;
		font-size: 14px;
		font-weight: 700;
		line-height: 121.428571%; /* 17px/14 */
		text-align: center;
	}

	// .card__content
	&__content {
		padding: 8px;
		display: flex;
		flex-direction: column;
	}

	// .card__data
	&__data {
		margin-bottom: 5px;
		font-size: 1.4rem;
		font-weight: 400;
		line-height: 121.428571%; /* 17px/14 */
		text-align: left;
	}

	// .card__text
	&__text {
		margin-bottom: 18px;
		font-size: 12px;
		font-weight: 500;
		line-height: 125%; /* 15px/12 */
		text-align: center;

		span {
			color: rgb(88, 88, 86);
			font-size: 2rem;
			font-weight: 700;
			line-height: 120%; /* 24px/20 */
			letter-spacing: 0%;
			text-align: left;
		}
	}

	// .card__buttons
	&__buttons {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	// .card__counter
	&__counter {
		margin-right: 5px;
		width: 93px;
		border: 1px solid #000;
		border-radius: 10px;
		display: flex;
		align-items: center;
	}

	// .card__button
	&__button {
		width: 137px;
		height: 38px;
		border-radius: 10px;
		transition: box-shadow 0.3s ease-in-out;

		background: linear-gradient(
			90deg,
			rgb(168, 52, 52) -23.739%,
			rgb(234, 142, 127) 96.778%
		);
		&:hover {
			box-shadow: 1px 1px 7px #000000;
		}
		span {
			white-space: nowrap;
			padding: 10.54px 33px;
			display: block;
			color: $bg-color;
			font-size: 14px;
			font-weight: 700;
			line-height: 121.428571%; /* 17px/14 */
		}
	}
}

.swiper-slide {
	.card {
		max-width: 290px;

		@include _screen-375 {
			max-width: 270px;
		}
	}
}
