include ../includes/mixins 
doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="description" content="Краткое описание документа")
		meta(name="keywords" content="keywords-ключевые слова для поиска")
		block link
			link(rel="icon" type="image/icon" href="@@webRoot/img/icons/brand.png") 
		block script 
			script(defer type="text/javascript" src="@@webRoot/js/main.min.js") 

		block title
		- var text
			title #{text}

body
	include ../modules/preloader
	include ../includes/mixins
	div(class="wrapper")
		block page-content 
			.page#page
				._container
					include ../chunk/modal-regisrations-fiz
					include ../chunk/modal-regisrations-ure
					include ../chunk/sidebar-menu
					header._header
						block header
							include ../layouts/header
					main._content
						block main-content 
					footer._footer
						block footer	
							include ../layouts/footer 
