.footer(id="contacts")
	._body
		._column 
			._logo 
				img(src="@@webRoot/img/main/logo.png", alt="картинка")
			._title ИНФОРМАЦИЯ О МАГАЗИНЕ
			._address
				p г.Обнинск, Коммунальный 
				p проезд, дом 23, склад 8
			._phone
				span 
					a(href="tel:89308409757") +7 (930) 840 97-57
				span 
					a(href="tel:89307540348") +7 (930) 754 03-48
				span 
					a(href="mailto:zakaz@essenpro.ru") zakaz@essenpro.ru
		._column 
			._title КАТАЛОГ ТОВАРОВ
			ul 
				li
					a(href="#")._link HoReCa 
				li
					a(href="#")._link Бакалея
				li
					a(href="#")._link Молочная продукция
				li
					a(href="#")._link Для барбекю 
				li
					a(href="#")._link Напитки
				li
					a(href="#")._link Овощи и фрукты 
				li
					a(href="#")._link Яйцо 
		._column 
			._title ОСНОВНАЯ ИНФОРМАЦИЯ
			ul 
				li
					a(href="#")._link Личный кабинет 
				li
					a(href="#")._link О компании
				li
					a(href="#")._link Доставка и оплата
				li
					a(href="#")._link Поставщикам
				li
					a(href="#")._link Оптовикам
				li
					a(href="#")._link Новости
				li
					a(href="#")._link Пользовательское соглашение
				li
					a(href="#")._link Политика конфиденциальности
				li
					a(href="#")._link Условия возврата товара
		._column 
			._title ЗАКАЗАТЬ ПРАЙС
			form(action="#"  method="get")._form 
				._input-conttainer
					._input 
						input.input(autocomplete="on", id='phone', placeholder='номер телефона', type="text", name="phone") 
					._button 
						button(type="submit").button заказать
			include ../chunk/networks-links
		._column 
			._text Оптовые постаки продуктов EssenPro © 2023 Все права защищены.
		._column 
			._text Сайт разработан 
				a(href="#") Sadovskiy&nbsp;Design

