footer.footer(id="contacts")
	._body
		._column 
			._logo 
				img(src="@@webRoot/img/footer/logo-footer.png", alt="")
			._title Все товары
			ul 
				li
					a(href="#")  Ткани 
				li
					a(href="#")  Товары для рукоделия
				li
					a(href="#")  Швейная фурнитура
				li
					a(href="#")  Пряжа
				li
					a(href="#")  Новинки
				li
					a(href="#")  Акции
		._column 
			._title Адрес магазина:
			ul 
				li 249038, Калужская область 
				li г. Обнинск ул. Курчатова д.6А 
				li ТД "Малыш"
			._title Режим работы:
			ul
				li Пн-пт 10:00 — 19:00
				li Сб 10:00 — 18:00
				li Вс 10:00 — 17:00
			._title Телефон:
			ul 
				li 
					a(href="tel:88000000000") 8-800-000-00-00
				li
					a(href="tel:74950000000") 7-495-000-00-00
		._column 
			._title Информация
			ul  
				li
					a(href="#")  О магазине
				li
					a(href="#")  Как купить
				li
					a(href="#")  Оплата
				li
					a(href="#")  Доставка
				li
					a(href="#")  Скидки
				li
					a(href="#")  Контакты
				li
					a(href="#")  Отзывы
				li
					a(href="#")  Новости и статьи
				li
					a(href="#")  Условия обмена и возврата
				li
					a(href="#")  Пользовательское соглашение
		._column 
			._brand(data-move-el="[{'bp-max': 768, 'index': 0, 'target': '.bp-3'}]")
				img(src="@@webRoot/img/footer/brand-footer.png", alt="rfhnbyrf")
			include ../chunk/networks-links
			








