header.header  
	._top-menu-fixed
		._top-menu 
			._column
				.middle-menu
					._body
						.logo-container(data-move-el="[{'bp-max': 690.98, 'index': 1, 'target': '.bp-1'}]") 
			._column 
				.service-menu
					._body
						._column
								a(href="@@webRoot/catalog/cart.html")._link
									+iconfont('shopping-cart', '_icon')
									span._text
										| Моя корзина 
									span._value-cart (0)  
								a(href="@@webRoot/favourites.html")._link
									+iconfont('heart', '_icon')
									span._text
										| Избранное 
									span._value-favourites (0) 
						._column
								a(href="#contacts").anchor-link 
									span._link Контакты 
				button._button-menu
					include ../chunk/burger-button 
		._middle-menu
			._column
				.login-container
					._body
						._login(data-move-el="[{'bp-max': 690.98, 'index': 1, 'target': '.bp-7'}]")
							._user-button
								+iconfont('user-check', '_icon')
							._list
								._link
									a(href="@@webRoot/account.html") Личный кабинет
								._link.login Войти 
								span /
								._link.registrations Регистриция 
							include ../chunk/login-form
						._phone
							a(href="tel:88000000000") 8-800-000-00-00 
	._menu-bottom 
		._column
			nav.main-menu
				ul._body
					li 
						a(href="@@webRoot/index.html" title="Главная")._link._lnb Главная
					li 
						a(href="@@webRoot/catalog.html" title="О магазине")._link._lnb Продукция
					li 
						a(href="@@webRoot/catalog/information-work.html" title="Как купить")._link._lnb Марки
					li 
						a(href="#" title="Оплата")._link Оплата и доставка
					li 
						a(href="#" title="Доставка")._link Акции 
		._column
			include ../chunk/search 