.header
	._header 
		._column
			.top-menu._top-menu 
				._logo 
					._image
						img(src="@@webRoot/img/main/logo.png", alt="logo")
					._text(data-move-el="[{'bp-max': 968.98, 'index': 1, 'target': '.bp-4'}]")
						span поставки 
						span продуктов питания
				._contacts(data-move-el="[{'bp-max': 690.98, 'index': 1, 'target': '.bp-1'}]") 
					._phone
						a(href="tel:89308409757") +7 (930) 840 97-57
					._email
						a(href="mailto:zakaz@essenpro.ru") zakaz@essenpro.ru
		._column 
			._favourites
				a(href="@@webRoot/favourites.html")._link
					+iconfont('heart', '_icon')
					span._fa-value (0)
			._cart 
				a(href="@@webRoot/cart.html")._link
					+iconfont('shopping-cart', '_icon')
					span
						| Корзина 
					span._value-cart (0) 
			.login-container._login
				._body
					._login
						._user-button
							+iconfont('user-check', '_icon')
						._list
							._link
								a(href="./account.html") Личный кабинет
							._link.login
								+iconfont('enter-signin', '_icon')
							span /
							._link.registrations Регистриция
						include ../chunk/login-form
				._button
					button.button(type="submit" data-move-el="[{'bp-max': 580.98, 'index': 0, 'target': '.bp-1'}]") Заказать звонок
			.toggle-button  
				._toggle-menu
					span
					span
					span
	._footer
		nav.main-menu(data-move-el="[{'bp-max': 768.98, 'index': 0, 'target': '.bp-2'}]")
			ul._body
				li 
					a(href="@@webRoot/index.html" title="Главная")._link Главная
				li 
					a(href="@@webRoot/products.html" title="Продукция")._link Продукция
				li 
					a(href="@@webRoot/brands.html" title="Марки")._link Марки
				li 
					a(href="@@webRoot/catalog.html" title="Оплата и доставка")._link Оплата и доставка
				li 
					a(href="@@webRoot/products-card.html" title="Акции")._link Акции 
				li 
					a(href="#contacts" title="Контакты")._link.anchor-link Контакты
		._search
			include ../chunk/search 