nav
  ul.topmenu
    li
      a.active(href)
        | Главная
        span.fa.fa-angle-down
      ul.submenu
        li
          a(href) меню второго уровня
        li
          a(href)
            | меню второго уровня
            span.fa.fa-angle-down
          ul.submenu
            li
              a(href) меню третьего уровня
            li
              a(href) меню третьего уровня
            li
              a(href) меню третьего уровня
        li
          a(href) меню второго уровня
    li
      a(href) Компания
    li
      a(href) Блог
    li
      a(href) Контакты