.products-card.page__card
	._navigation
		._button 
			a(href="")._link
				+iconfont('arrow-left', '_icon')
				span Вернуться назад
		._button._close-button
			button(type="button")
				+iconfont('cancel', '_icon')
	._content
		._column
			.product-slide._slide 
				._prev
					+iconfont('angle-left', '_icon')
				._next
					+iconfont('angle-right', '_icon')
				._slide.swiper._swiper
					._card
						img(src="@@webRoot/img/main/products/product-14.png", alt="продукция")
					._card
						img(src="@@webRoot/img/main/products/product-15.png", alt="продукция")
					._card
						img(src="@@webRoot/img/main/products/product-16.png", alt="продукция")
					._card
						img(src="@@webRoot/img/main/products/product-17.png", alt="продукция")
					._card
						img(src="@@webRoot/img/main/products/product-14.png", alt="продукция")
			.thumb-slide._thumb.swiper._swiper
				._card
					img(src="@@webRoot/img/main/products/product-14.png", alt="продукция")
				._card
					img(src="@@webRoot/img/main/products/product-15.png", alt="продукция")
				._card
					img(src="@@webRoot/img/main/products/product-16.png", alt="продукция")
				._card
					img(src="@@webRoot/img/main/products/product-17.png", alt="продукция")
				._card
					img(src="@@webRoot/img/main/products/product-14.png", alt="продукция")
		._column
			.products-info
				._body
					._header
						._article-number Артикул: 000000
						._product-name Название товара 
						._table-head
							span._name Цена за единицу:
							span._stock В наличии
						._price 46.00
							span р
						.card(data-quantity)
							._buttons
								._counter
									.counter-product
										.quantity.counter-product__quantity
											.quantity__button.quantity-remove
												+iconfont('minus', '_icon') 
											.quantity__input
												input.input(type="text", name="form[]", value="0", placeholder="<+>", autocomplete="off")
											.quantity__button.quantity-add
												+iconfont('plus', '_icon')
								._button 
									button(type="submit") 
										span В корзину
					._title Характеристики:
					._specifications
						._item
							._line Страна:
							._line Марка:
							._line Вес:
							._line Объем:
							._line Масса:
							._line Производитель:
							._line Срок годности:
							._line Состав:
							._line Кол-во в упаковке:
							._line Срок годности:
							._line Состав:
							._line Кол-во в упаковке:
						._item
							._line Россия
							._line Экомилк
							._line 500 гр
							._line 0.6 литров
							._line 400
							._line ООО Производитель
							._line 12 месяцев
							._line Состав перечень
							._line 10 штук
							._line 12 месяцев
							._line Состав перечень
							._line 10 штук
			._card-brand
				img(src="@@webRoot/img/main/providers/prov-5.png", alt="")


	._description
		._title Описание - Название товара
		._text 
			p Ультрапастеризованное молоко «ЭкоНива Professional Line» 3,2 % разработано экспертами компании специально для бариста. Ответственный подход к формированию сбалансированного рациона коров позволяет получать кофепригодное молоко с повышенным содержанием натурального молочного белка — не менее 3,2 г на 100 г напитка. Это обеспечивает лёгкую взбиваемость молока в плотную стойкую пену и стабильность качества на кофемашинах любого типа. Благодаря высокотемпературной обработке продукт хранится длительное время в закрытом состоянии при температуре до +25 °С.

			p Молоко «ЭкоНива Professional Line» станет надёжной основой для латте-арта. А сбалансированный сладкий вкус напитка будет удачным образом сочетаться с дескрипторами кофейного зерна. Честный объём молока — 1 литр — делает продукт удобным для оптовых закупок и порционного использования.
		._title Условия доставки
		._text 
			p Нет минимального заказа
			p Бесплатная доставка при заказе от&nbsp;3000р.
			p Доставка осуществляется по Московской и&nbsp;Калужской области
			p Нет самовывоза
			p Доставка день-в-день при заказе до 13-00, по&nbsp;согласованию с менеджером
			p Доставка осуществляется ежедневно


