.search-container(data-move-el="[{'bp-max': 768.98, 'index': 0, 'target': '.bp-3'}]") 
	form.search-form._form#form(action="#" metod="get")
		._input
			label(for="catalog-search") 
				input.input(id='catalog-search', placeholder="поиск по каталогу..", autocomplete="off",  data-value, name="search-catalog", type="text")
		button(type="submit")._button
			+iconfont('search', '_icon')