.sidebar-catalog(data-move-el="[{'bp-max': 690.98, 'index': 1, 'target': '.bp-4'}]")
	._body
		.menu-catalog._menu 
			ul._parent-menu._active
				li._link._trigger-menu Портьерная
					+iconfont('arow-right', 'icon') 
				.submenu-parent._submenu._collapse
					._item
						ul._menu._active
							li._link._trigger Блэкаут
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link._trigger Рогожка, Лен
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link с вышивкой-мережкой
										li 
											a(href="#")._link жаккард
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link._trigger Канвас
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link фактурный 
						ul._menu 
							li._link._trigger Жаккард
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link высота 280-300 см
										li 
											a(href="#")._link ширина 150 см 
						ul._menu 
							li._link._trigger Печать с рисунком
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link высота 280-300 см
										li 
											a(href="#")._link ширина 150 см 
						ul._menu 
							li._link._trigger Софт
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link высота 280-300 см
										li 
											a(href="#")._link ширина 150 см 
						ul._menu 
							li._link._trigger Бархат
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link фактурный
			ul._parent-menu
				li._link._trigger-menu Тюль
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link
								a(href="#") Фактурный 
						ul._menu
							li._link._trigger Сетка
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link мелкая
										li 
											a(href="#")._link крупная
										li 
											a(href="#")._link сетка с полосами 
						ul._menu 
							li._link
								a(href="#") Вышивка на сетке 
						ul._menu 
							li._link._trigger Лён
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link с вышивкой
										li 
											a(href="#")._link с полосами
										li 
											a(href="#")._link печать с рисунком 
						ul._menu 
							li._link._trigger Кружевная
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link высота 280 см
										li 
											a(href="#")._link высота 250-260 см
										li 
											a(href="#")._link высота 235-240 см
										li 
											a(href="#")._link  высота 210 см 
										li 
											a(href="#")._link  высота 180 см 
										li 
											a(href="#")._link  высота 160 см 
										li 
											a(href="#")._link  высота 150 см 
										li 
											a(href="#")._link  высота 120 см 
										li 
											a(href="#")._link  высота 90 см 
										li 
											a(href="#")._link  высота 70 см 
										li 
											a(href="#")._link  высота 60 см 
										li 
											a(href="#")._link  Арка
						ul._menu 
							li._link._trigger Вуаль
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонная
										li 
											a(href="#")._link печать 
			ul._parent-menu
				li._link._trigger-menu  Гобелен
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link
								a(href="#") Ширина 160см 
						ul._menu 
							li._link
								a(href="#") Ширина 200см 
			ul._parent-menu
				li._link._trigger-menu  Мебельная
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link._trigger Рогожка
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link ширина 200 см
										li 
											a(href="#")._link ширина 140-160 см 
						ul._menu 
							li._link._trigger Шенилл
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link гладкокрашеный
										li 
											a(href="#")._link жаккардовый 
						ul._menu 
							li._link 
								a(href="#") Велюр 
						ul._menu 
							li._link 
								a(href="#") Флок 
						ul._menu 
							li._link 
								a(href="#") Жаккардовая 
						ul._menu 
							li._link 
								a(href="#") Микрофибра 
						ul._menu 
							li._link 
								a(href="#") Искусственная кожа 
			ul._parent-menu
				li._link._trigger-menu  Стеганая для покрывал
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link 
								a(href="#") Велюр 
						ul._menu 
							li._link 
								a(href="#") Жаккард 
						ul._menu 
							li._link 
								a(href="#") Канвас 
						ul._menu 
							li._link 
								a(href="#") Поликоттон 150см 
						ul._menu 
							li._link 
								a(href="#") Поликоттон 220см
			ul._parent-menu
				li._link._trigger-menu  Тентовые, туристические
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link._trigger Оксфорд
								+iconfont('arow-right', 'icon') 
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link 200, 210, 240 D
										li 
											a(href="#")._link 420 D
										li 
											a(href="#")._link 600 D
										li 
											a(href="#")._link 800 D
										li 
											a(href="#")._link 1600 D
										li 
											a(href="#")._link принт с рисунком
										li 
											a(href="#")._link камуфляж
						ul._menu 
							li._link._trigger Канвас
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link принт с рисунком
						ul._menu 
							li._link 
								a(href="") Палаточная  
						ul._menu 
							li._link._trigger Брезент
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link рогожка
										li 
											a(href="#")._link жаккардовый
										li 
											a(href="#")._link печать с рисунком 
			ul._parent-menu
				li._link._trigger-menu  Для спецодежды
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link 
								a(href="#") однотонные
						ul._menu 
							li._link 
								a(href="#") принт с рисунком
						ul._menu 
							li._link 
								a(href="#")  камуфляж 
			ul._parent-menu
				li._link._trigger-menu  Велсофт
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link
								a(href="#")  однотонный 
						ul._menu 
							li._link
								a(href="#")  с рисунком 
			ul._parent-menu
				li._link._trigger-menu  Флис
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link
								a(href="#")  плотность 130 г/кв м
						ul._menu 
							li._link
								a(href="#")  плотность 190 г/кв м
						ul._menu 
							li._link
								a(href="#")  плотность 300 г/кв м
						ul._menu 
							li._link
								a(href="#")  принт с рисунком
						ul._menu 
							li._link
								a(href="#")  вязанный
			ul._parent-menu
				li._link._trigger-menu Подкладочные
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link 
								a(href="#") Полиэфирная
						ul._menu 
							li._link._trigger Полиэфирная
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link жаккард
						ul._menu 
							li._link 
								a(href="#") Пуховетродержащая
						ul._menu 
							li._link 
								a(href="#") Фольгированная
						ul._menu 
							li._link 
								a(href="#") Трикотажная
						ul._menu 
							li._link 
								a(href="#") Подклад стеганый утепленный 
			ul._parent-menu
				li._link._trigger-menu Курточные
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link
								a(href="#") Нью Файл 
						ul._menu 
							li._link
								a(href="#") Дюспо 
						ul._menu 
							li._link 
								a(href="#") Бондинг 
						ul._menu 
							li._link
								a(href="#") Лаке 
						ul._menu 
							li._link._trigger Тефлон с мебраной
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link принт с рисунком 
						ul._menu 
							li._link
								a(href="#") С лазерным напылением
						ul._menu 
							li._link
								a(href="#") Стеганая
						ul._menu 
							li._link
								a(href="#") Принт с рисунком 
						ul._menu 
							li._link
								a(href="#") Под серебро и золото
			ul
				li._link
					a(href="") Мех искусственный 
			ul
				li._link
					a(href="") Двунитка/диоганаль
			ul
				li._link
					a(href="") Дубленка
			ul
				li._link
					a(href="") Замша искусственная
			ul
				li._link
					a(href="") Парча
			ul
				li._link
					a(href="") Плюш
			ul
				li._link
					a(href="") Органза платьевая
			ul
				li._link
					a(href="") Штапель
			ul._parent-menu
				li._link._trigger-menu Шерсть
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item
						ul._menu 
							li._link
								a(href="#") производство Беларусь
						ul._menu 
							li._link
								a(href="#") производство Россия
						ul._menu 
							li._link 
								a(href="#") производство Италия 
						ul._menu 
							li._link 
								a(href="#") производство Китай, Турция
			ul._parent-menu
				li._link._trigger-menu Пальтовая
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item 
						ul._menu 
							li._link
								a(href="#") производство Россия
						ul._menu 
							li._link 
								a(href="#") производство Италия 
						ul._menu 
							li._link 
								a(href="#") производство Китай, Турция
			ul
				li._link
					a(href="") Креп-сатин
			ul._parent-menu
				li._link._trigger-menu Атлас/Сатин
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item 
						ul._menu 
							li._link
								a(href="#") однотонный
						ul._menu 
							li._link 
								a(href="#") с рисунком 
			ul._parent-menu
				li._link._trigger-menu Вискоза
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item 
						ul._menu 
							li._link
								a(href="#") однотонный
						ul._menu 
							li._link 
								a(href="#") с рисунком 
						ul._menu 
							li._link 
								a(href="#") вискоза-стрейч
			ul._parent-menu
				li._link._trigger-menu Вельвет/микровельвет
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item 
						ul._menu 
							li._link
								a(href="#") однотонный
						ul._menu 
							li._link 
								a(href="#") с рисунком 
			ul._parent-menu
				li._link._trigger-menu Шифон
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item 
						ul._menu 
							li._link
								a(href="#") однотонный
						ul._menu 
							li._link 
								a(href="#") с рисунком 
			ul._parent-menu
				li._link._trigger-menu Крепдешин
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item 
						ul._menu 
							li._link
								a(href="#") однотонный
						ul._menu 
							li._link 
								a(href="#") с рисунком 
			ul._parent-menu
				li._link._trigger-menu Шелк искусственный
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item 
						ul._menu 
							li._link
								a(href="#") однотонный
						ul._menu 
							li._link 
								a(href="#") с рисунком 
			ul
				li._link
					a(href="") Шитьё
			ul._parent-menu
				li._link._trigger-menu Хлопок
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item 
						ul._menu 
							li._link
								a(href="#") цветочный мелкий рисунок
						ul._menu 
							li._link 
								a(href="#") абстракция
						ul._menu 
							li._link 
								a(href="#") детский
						ul._menu 
							li._link 
								a(href="#") сатин плательно -&nbsp;костюмный хлопок
			ul._parent-menu
				li._link._trigger-menu Батист
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item 
						ul._menu 
							li._link
								a(href="#") однотонный
						ul._menu 
							li._link 
								a(href="#") принт с рисунком 
			ul._parent-menu
				li._link._trigger-menu Лен
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item 
						ul._menu 
							li._link._trigger производство Россия, Беларусь
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link с рисунком 
										li 
											a(href="#")._link народный рисунок
										li 
											a(href="#")._link жаккард
						ul._menu 
							li._link._trigger производство Италия
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link с рисунком  
										li 
											a(href="#")._link жаккард
						ul._menu 
							li._link._trigger производство Китай, Турция
								+iconfont('arow-right', 'icon')
							.menu-parrent
								._collapse 
									ul._menu
										li 
											a(href="#")._link однотонный
										li 
											a(href="#")._link с рисунком 
			ul._parent-menu
				li._link._trigger-menu Муслин
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item 
						ul._menu 
							li._link
								a(href="#") однотонный
						ul._menu 
							li._link 
								a(href="#") с рисунком
			ul._parent-menu
				li._link._trigger-menu Джинс
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item 
						ul._menu 
							li._link
								a(href="#") однотонный
						ul._menu 
							li._link 
								a(href="#") с рисунком
						ul._menu 
							li._link 
								a(href="#") жаккард
			ul
				li._link
					a(href="") Сетка трикотажная
			ul._parent-menu
				li._link._trigger-menu Фатин
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item 
						ul._menu 
							li._link
								a(href="#") мягкий
						ul._menu 
							li._link 
								a(href="#") средней жесткости
						ul._menu 
							li._link 
								a(href="#") жесткий
						ul._menu 
							li._link 
								a(href="#") фатин с флоком
						ul._menu 
							li._link 
								a(href="#") с люрексом
			ul._parent-menu
				li._link._trigger-menu Бифлекс
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item 
						ul._menu 
							li._link
								a(href="#") матовый
						ul._menu 
							li._link 
								a(href="#") блестящий
						ul._menu 
							li._link 
								a(href="#") принт с рисунком
			ul
				li._link
					a(href="") Рогожка хлопок/лен
			ul._parent-menu
				li._link._trigger-menu Скатертные с пропиткой
					+iconfont('arow-right', 'icon')
				.submenu-parent._submenu._collapse
					._item 
						ul._menu 
							li._link
								a(href="#") Однотонные гладкокрашеные
						ul._menu 
							li._link 
								a(href="#") Жаккард
						ul._menu 
							li._link 
								a(href="#") Купоном, с рисунком
			ul
				li._link
					a(href="") Интерьерная с тефлоновым покрытием
			ul
				li._link
					a(href="") Ситец
			ul
				li._link
					a(href="") Трикотаж вязаный осень -&nbsp;зима